<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeSuccess text-center">
                    <h1>
                        <span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </h1>
                    <h4>Thank You for submitting your request under the scheme</h4>
                    <h4 class="color-theme text-capitalize">"{{selectedSchemeDetails.name}}" </h4>
                    <br/>
                    <h4>Your Requested Number Is :</h4>
                    <h4 class="color-theme"> "{{requestDetails.requestId}}" </h4>
                </div>
            </div>
        </div>
    </div>
</div>