<!--
<div class="">
    <div class="">
        <div class="row">
            <div>Home Page</h1>
            </div>
        </div>

    </div>
</div>-->

<!-- <div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeMain">
                    <div class="schemeImg">
                        <img src="images/download.jpg" />
                    </div>
                    <div class="schemeDescription">

                        <b><h4>What is License Request?</h4></b>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <b><h4>Where does it come from?</h4></b>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                            in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
                            through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written
                            in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                            Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <a class="btn btn-danger" ng-click="createRequest()">Send A Request</a>-->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- left section content starts -->
        <div class="">
            <div style="margin-top:30px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h4>
                            <b>ABOUT COIMBATORE</b>
                        </h4>
                        <p>
                            Coimbatore also known as Kovai,is a major city in the Indian state of Tamil Nadu. It is located on the banks of the Noyyal
                            River and surrounded by the Western Ghats. Coimbatore is the second largest city (by area and
                            population) in the state (after Chennai) and the 16th largest urban agglomeration in India. It
                            is administered by the Coimbatore Municipal Corporation and is the administrative capital of
                            Coimbatore district. It is one of the fastest growing tier-II cities in India and a major industrial
                            hub in South India. It is often referred to as the "Manchester of South India" due to its cotton
                            production and textile industries. Coimbatore is also referred to as the "Pump City" and it supplies
                            nearly half of India's requirements of motors and pumps. The city is one of the largest exporters
                            of jewellery, wet grinders, poultry and auto components; the "Coimbatore Wet Grinder" and the
                            "Kovai Cora Cotton" are recognised as Geographical Indications by the Government of India.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <img src="images/Dashboard of poc.png" style="width:100%;margin-top: 25px;">
                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtop20">
                <h4>
                    <b>MOST IMPORTANT THINGS IN COIMBATIRE</b>
                </h4>
                <p>
                    Coimbatore was part of Kongu Nadu during the Sangam period between c. 1st and the 4th centuries CE and was ruled by the Cheras
                    as it served as the eastern entrance to the Palakkad Gap, the principal trade route between the west
                    coast and Tamil Nadu). Coimbatore was located along the ancient Roman trade route that extended from
                    Muziris to Arikamedu in South India. The medieval Cholas conquered the Kongu Nadu in the 10th century
                    CE. The region was ruled by Vijayanagara Empire in the 15th century followed by the Nayaks who introduced
                    the Palayakkarar system under which Kongu Nadu region was divided into 24 Palayams. In the later part
                    of the 18th century, the Coimbatore region came under the Kingdom of Mysore and following the defeat
                    of Tipu Sultan in the Anglo-Mysore Wars, the British East India Company annexed Coimbatore to the Madras
                    Presidency in 1799. The Coimbatore region played a prominent role in the Second Poligar War (1801) when
                    it was the area of operations of Dheeran Chinnamalai.


                </p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mtop20">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding0">
                    <h4>
                        <b>Trending on Media</b>
                    </h4>
                    <div>
                        <h4 style="background:#e94b3e;padding:10px;color:#fff;font-size:16px">Press Releases</h4>
                        <marquee behavior="scroll" direction="left" style="margin-top:-10px">
                            <img src="images/press releases_1.jpg" class="marquee_img" alt="Natural" />
                            <img src="images/press releases_2.jpg" class="marquee_img" alt="Natural" />
                            <img src="images/press releases_3.jpg" class="marquee_img" alt="Natural" />
                        </marquee>
                    </div>

                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <h4>
                        <b>Important Links</b>
                    </h4>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <button class="links_btn">Schemes Module</button>
                        <button class="links_btn mtop10">Project Ward Works</button>
                        <button class="links_btn mtop10">Grievance Management</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <button class="links_btn">Legal Management</button>
                        <button class="links_btn mtop10">Land Management</button>
                        <button class="links_btn mtop10">Property tax</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <button class="links_btn">Vehicle Management</button>
                        <button class="links_btn mtop10">Birth and Death Management</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- left section content ends -->

        <!-- adds section starts -->
        <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <img src="images/adspace.jpg" style="width:100%;margin-top:20px">
        </div> -->
        <!-- adds section ends -->


    </div>

</div>