<div class="mtop21">
    <div class="contentStart">
        <div class="row">
            <div class="row">
                <button class="btn btn-info pull-right"><a href="#/viewNOCRequestDetails">View NOC Requests</a></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <form class="simple-form" ng-submit="submitRequest()">
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3  lang="en"><span class="color-theme" lang="en">NOC Form</span></h3>
                                <hr />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Applicant Name:</label>
                                <input type="text" class="form-control" ng-model="request.personName" placeholder="Enter Name" minlength="3" maxlength="100" required/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label> <span class="color-red f-bold f-left">*</span>Applicant Email:</label>
                                <input type="text" class="form-control" disabled ng-model="request.email" placeholder="Enter Email" required/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Mobile Number</label>
                                <input type="text" class="form-control" ng-model="request.mobile" minlength="10" valid-number  maxlength="10" placeholder="Enter Mobile Number" required />
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Noc Department</span>:</label><br>
                                <select class="" ng-model="request.department" required>
                                    <option value="">---Select Noc Department---</option>
                                    <option ng-repeat="x in departmentList" value="{{x.name}}">{{x.name}}</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Location:</label>
                                <input type="text" class="form-control" ng-model="request.location" placeholder="Enter Location" minlength="3" maxlength="150" required/>
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>City:</label>
                                <input type="text" class="form-control" ng-model="request.city" placeholder="Enter City" minlength="3" maxlength="150" required/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Area:</label>
                                <input type="text" class="form-control" ng-model="request.area" minlength="3" maxlength="500" placeholder="Enter Area" />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label> <span class="color-red f-bold f-left"></span>Square Feet:</label>
                                <input type="text" class="form-control" ng-model="request.feet" valid-number   minlength="0" maxlength="150" placeholder="Enter Square Feet" />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Yards</label>
                                <input type="text" class="form-control" ng-model="request.yard" placeholder="Enter Yards" />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Owner</label>
                                <input type="text" class="form-control" ng-model="request.owner" minlength="3" maxlength="150" placeholder="Enter Owner" />
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-if="request.nocAmountAction>0">
                                <label><span class="color-red f-bold f-left">*</span>Noc Price</label>
                                <input type="text" class="form-control" ng-model="request.nocAmountAction" minlength="3" maxlength="150" disabled />
                            </div>


                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Address:</label>
                                <textarea type="text" rows="5" class="form-control"  minlength="3" maxlength="500" required ng-model="request.address" placeholder="Enter Address"></textarea>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Upload Relevant Froms</label>
                                <button class="btn btn-success" ngf-select="uploadFiles($files)" multiple accept="*">Upload files</button>
                                <br>
                                <br><div class="" ng-show="fileUpload">Upload Files:
                                <table class="table" >
                                    <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Comment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  ng-repeat="f in docList">
                                        <td> {{f.name}}</td>
                                        <td>      <textarea rows="1" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Submit</button>
                                <button type="reset" class="btn btn-success btn-lg">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successRequest" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>-->
            <div class="modal-body">
                <div class="text-center">Successfully Submitted your Request</div>
                <button calss="btn btn-success" ng-click="applyNewRequest()">Apply New Request</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>

    </div>
</div>