<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ol class="breadcrumb nopadding">
                    <li class="breadcrumb-item"><a href="#/schemeManagement" lang="en">Home</a></li>
                    <li class="breadcrumb-item active">{{userDetails.name}}</li>
                    <li class="breadcrumb-item active" lang="en">Track Requests</li>
                </ol>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="color-theme text-uppercase text-center" lang="en">
                    Applied Forms
                </h4>
                <hr class="type1"/>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th lang="en">Request Id</th>
                                <th lang="en">Scheme Name</th>
                                <th lang="en">Mobile Number</th>
                                <th lang="en">Status</th>
                                <th lang="en">Applied Date</th>
                                <!--<th lang="en">Comment</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="request in requestList">
                                <td>{{request.requestId}}</td>
                                <td><a href="#/appliedSchemeDetails/{{request.id}}" class="text-capitalize">{{request.schemeName}}</a></td>
                                <td>{{request.mobileNumber}}</td>
                                <td>{{request.requestStatus}}</td>
                                <td>{{request.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                                <!--<td>{{request.comment}}</td>-->
                                <!--<td>{{schemeInfo.name}}</td>-->
                             <!--   <td class="text-left">
                                    <div ng-repeat="schemeInf in schemeInfo.forms">
                                        <a target="_blank" href="http://localhost:8899/api/Uploads/dhanbadDb/download/{{schemeInf._id}}">{{schemeInf.filename}}</a>
                                    </div>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
</div>