<div class="container">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <h3>Request Tracking</h3>
                    <div class="tabContent" id="tabContent1">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default" ng-repeat="requestList in requestPersonList | filter:search:strict">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne{{$index}}">
                                        <span >
                                            {{requestList.title}}
                                        </span>
                                    </a>
                                </div>
                                <div id="collapseOne{{$index}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="width140 thStyle">Issue Name</th>
                                                    <td>:</td>
                                                    <td>{{requestList.title}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Applicant Type</th>
                                                    <td>:</td>
                                                    <td>{{requestList.requested}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Person Name</th>
                                                    <td>:</td>
                                                    <td>{{requestList.personName}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Email</th>
                                                    <td>:</td>
                                                    <td>{{requestList.email}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Mobile</th>
                                                    <td>:</td>
                                                    <td>{{requestList.mobile}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Community ID</th>
                                                    <td>:</td>
                                                    <td>{{requestList.association}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Application Details</th>
                                                    <td>:</td>

                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text-justify">{{requestList.description}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Files</th>
                                                    <td>:</td>
                                                    <td>
                                                        <div ng-repeat="f in requestList.files">{{f.name}}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Accept Status</th>
                                                    <td>:</td>
                                                    <td>{{requestList.acceptStatus}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="width140 thStyle">Request Status</th>
                                                    <td>:</td>
                                                    <td>{{requestList.requestStatus}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>