<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Advocate List</span></li>
            </ol> -->
        </div>
    </div>
</div>



<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Advocate List</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.advocateListsedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="advocateClick()" lang="en">Create Advocate
                            </button>

                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#advocates')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

            <table id="advocates" ng-show="hideDetails" class="table table-bordered table-striped"></table>
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="name" custom-sort order="'name'" sort="sort" lang="en">Name&nbsp;</th>
                                <th class="advId" custom-sort order="'advId'" sort="sort" lang="en">Advocate ID&nbsp;</th>
                                <th class="email" custom-sort order="'email'" sort="sort" lang="en">Email Id&nbsp;</th>
                                <th class="designation" custom-sort order="'designation'" sort="sort" lang="en">Designation&nbsp;</th>
                                <th class="phoneNumber" custom-sort order="'phoneNumber'" sort="sort" lang="en">Phone Number&nbsp;</th>
                                <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.advocateListsedit" lang="en">Action&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="advocateInfo in advocateData track by $index">
                            <td class="text-capitalize">{{advocateInfo.name}}</td>
                            <td class="text-capitalize">{{advocateInfo.advId}}</td>
                            <!--<td>{{advocateInfo.name}}</td>-->
                            <!--<td>{{advocateInfo.advId}}</td>-->
                            <td>{{advocateInfo.email}}</td>
                            <td>{{advocateInfo.designation}}</td>
                            <td>{{advocateInfo.phoneNumber}}</td>
                            <td ng-if="roleLogin.advocateListsedit">
                                <button class="btn btn-primary"
                                        data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                        data-target="#advocateEdit" ng-click="editAdvocatePopup(advocateInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <!--<button class="btn btn-danger" data-toggle="modal"-->
                                <!--data-target="#advocateDelete"-->
                                <!--ng-click="deleteAdvocatePopup(advocateInfo)"><span class="glyphicon glyphicon-trash"></span></button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!--****Creation**-->

<!-- Modal -->
<div class="modal fade" id="createAdvocateModal" advocate="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Advocate</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="advocateCreationError">{{createAdvocateTypeError}}</div>
                    <form class="row simple-form" ng-submit="createAdvocate(advocate)">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                            <label for="name" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Advocate Name</span>:</label>
                            <input type="name" class="form-control"
                                   id="name" ng-model="advocate.name"
                                   placeholder="Enter Advocate Name"

                                   title="Enter Advocate Name"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <label for="advId" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Advocate ID</span>:</label>
                            <input type="advId" class="form-control"
                                   id="advId" ng-model="advocate.advId"
                                   placeholder="Enter Advocate Id"
                                   title="Enter Advocate Id"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <label for="email" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Email Id</span>:</label>
                            <input type="text" class="form-control"
                                   id="email" ng-model="advocate.email"
                                   placeholder="Enter Email"

                                   title="Enter Email"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <label for="designation" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Designation</span>:</label>
                            <input type="designation" class="form-control"
                                   id="designation" ng-model="advocate.designation"
                                   placeholder="Enter Designation"
                                   title="Enter Designation"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                            <label for="phoneNumber" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Phone Number</span>:</label>
                            <input type="text" class="form-control"
                                   id="phoneNumber" ng-model="advocate.phoneNumber"
                                   placeholder="Enter PhoneNumber"
                                   title="Enter 10 digits mobile number, starts with [7-9]"  maxlength="10"

                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>

                        <input id="saveAdvocate" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="advocateEdit" advocate="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header ">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Advocate</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="advocateUpdationError">{{updateAdvocateTypeError}}</div>
                    <form class="simple-form row" ng-submit="editAdvocate()">

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <label for="name" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Advocate Name</span>:</label>
                            <input type="name" class="form-control"
                                   id="name1"
                                   ng-model="updateAdvocate.name"
                                   placeholder="Enter Advocate Name"

                                   title="Enter Advocate Name"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <label for="advId" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Advocate ID</span>:</label>
                            <input type="advId" class="form-control"
                                   id="advId1"
                                   ng-model="updateAdvocate.advId"
                                   placeholder="Enter Advocate Id"

                                   title="Enter Advocate Id"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" disabled required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <label for="email" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Email Id</span>:</label>
                            <input type="text" class="form-control"
                                   id="email1"
                                   ng-model="updateAdvocate.email"
                                   placeholder="Enter Advocate Email"

                                   title="Enter Advocate Email"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                            <label for="designation" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Designation</span>:</label>
                            <input type="designation" class="form-control"
                                   id="designation1"
                                   ng-model="updateAdvocate.designation"
                                   placeholder="Enter designation"
                                   title="Enter designation"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                            <label for="phoneNumber" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Phone Number</span>:</label>
                            <input type="text" class="form-control"
                                   id="phoneNumber1"
                                   ng-model="updateAdvocate.phoneNumber"
                                   placeholder="Enter PhoneNumber"
                                   title="Enter 10 digits mobile number, starts with [7-9]"  maxlength="10"

                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required />
                        </div>
                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default" lang="en" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>

<!--**deletion**-->
<!--<div class="modal fade" id="advocateDelete" advocate="dialog">-->
    <!--<div class="modal-dialog">-->
        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content" align="center">-->
            <!--<div class="modal-header">-->

            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<button type="button" class="close"-->
                        <!--data-dismiss="modal">&times;</button>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<h4 class="modal-title">Are you sure, you want to delete-->
                            <!--the Advocate: {{name}}?</h4>-->
                    <!--</div>-->
                    <!--<div class="col-lg-12">-->
                        <!--<div>-->
                            <!--<button class="btn btn-warning"-->
                                    <!--ng-click="deleteAdvocate()">Yes-->
                            <!--</button>-->
                            <!--<button class="btn btn-default"-->
                                    <!--data-dismiss="modal">No-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->


        <!--</div>-->

    <!--</div>-->
<!--</div>-->


<div id="addSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{advocate.name}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{updateAdvocate.name}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>
