<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><a href="#/applicationRequestMIS"><span lang="en">Application Request Details</span></a></li>
                <li class="breadcrumb-item active"><span lang="en"> Application Request View Details</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/applicationRequestMIS" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Application Request View Details</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <div class="table-responsive">
                        <table class="table theadBg table-bordered table-stripped table-hover"  data-ng-repeat="p in deptWiseViewData">
                            <tbody>
                            <tr>
                                <td class="width160 "><b lang="en">Application Id</b></td>
                                <td class="width20">:</td>
                                <td>{{p.applicationId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Title</b></td>
                                <td>:</td>
                                <td>{{p.title}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Requested By</b></td>
                                <td>:</td>
                                <td>{{p.requested}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Association/Community ID</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{p.association}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Person Name</b></td>
                                <td>:</td>
                                <td>{{p.personName}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Email Id</b></td>
                                <td>:</td>
                                <td>{{p.email}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Phone Number</b></td>
                                <td>:</td>
                                <td>{{p.mobile}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Description</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{p.description}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Accept Level</b></td>
                                <td>:</td>
                                <td>{{p.acceptLevel}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Final Status</b></td>
                                <td>:</td>
                                <td>{{p.finalStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Workflow Id</b></td>
                                <td>:</td>
                                <td>{{p.workflowId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Max level</b></td>
                                <td>:</td>
                                <td>{{p.maxlevel}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Last Update Time</b></td>
                                <td>:</td>
                                <td>{{p.lastUpdateTime | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Created Time</b></td>
                                <td>:</td>
                                <td>{{p.createdTime | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>Workflow Details</b>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th lang="en">Level Id</th>
                                            <th lang="en">Status</th>
                                            <th lang="en">Level No</th>
                                            <th lang="en">Created Person</th>
                                            <th lang="en">Employees</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="workFlow in p.workflowData">
                                            <td>{{workFlow.levelId}}</td>
                                            <td class="text-capitalize">{{workFlow.status}}</td>
                                            <td>{{workFlow.levelNo}}</td>
                                            <td class="text-capitalize">{{workFlow.createdPerson}}</td>
                                            <td class="text-capitalize">{{workFlow.employees}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div></div>


</div>