<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en"> Application Request Aging Details</span></li>
            </ol>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Application Request Aging Details</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-show="showDetails">

                <div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                               <tr>
                                   <td class="width200"><b>Ten Days Count</b></td>
                                   <td class="width20">:</td>
                                   <td><a data-toggle="tooltip" target="_blank" title="View Bill Details" href="#/appRequestAgingDays/tenDays">{{requestAging.tenDaysCount}}</a></td>
                               </tr>
                               <tr>
                                   <td class="width200"><b>One Month Count</b></td>
                                   <td class="width20">:</td>
                                   <td><a data-toggle="tooltip" target="_blank" title="View Bill Details" href="#/appRequestAgingDays/thirtyDays">{{requestAging.oneMonthCount}}</a></td>
                               </tr>
                               <tr>
                                   <td class="width200"><b>Three Month Count</b></td>
                                   <td class="width20">:</td>
                                   <td><a data-toggle="tooltip" target="_blank" title="View Bill Details" href="#/appRequestAgingDays/threeMonths">{{requestAging.threeMonthCount}}</a></td>
                               </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="viewMeasureMISDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Bill Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                        <tr>
                            <td class="width120"><b lang="en">Plan Id</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.planId}}</td>
                            <td class="width120"><b lang="en">SubTask Name</b></td>
                            <td class="width20">:</td>
                            <td class="text-capitalize">{{measureDetails.subtask}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Bill Id</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.billId}}</td>
                            <td class="width120"><b lang="en">reviewPerson</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.reviewPerson}}</td>
                        </tr>
                        <tr>
                            <td colspan="6"><b lang="en">Bill Details</b>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Units</th>
                                        <th>Rate</th>
                                        <th>Measurement</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="rowdata in measureDetails.rows">
                                        <td>{{rowdata.name}}</td>
                                        <td>{{rowdata.billDescription}}</td>
                                        <td>{{rowdata.billUnits}}</td>
                                        <td>{{rowdata.billRate}}</td>
                                        <td>{{rowdata.billMeasurement}}</td>
                                        <td>{{rowdata.billAmount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Total Amount</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.totalAmount}}</td>
                            <td class="width120"><b lang="en">Workflow Id</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.workflowId}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Final Status</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.finalStatus}}</td>
                            <td class="width120"><b lang="en">Approved Amount</b></td>
                            <td class="width20">:</td>
                            <td colspan="4">{{measureDetails.approvedAmount}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Review Person Name</b></td>
                            <td class="width20">:</td>
                            <td colspan="4">{{measureDetails.reviewPersonName}}</td>
                        </tr>
                        <td>
                        <td class="width120"><b lang="en">Comment</b></td>
                        <td class="width20">:</td>
                        <td colspan="4">{{measureDetails.comment}}</td>
                        </td>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>