<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><a href="#/applicationRequesAgingtMIS"><span lang="en">Application Request Details</span></a></li>
                <li class="breadcrumb-item active"><span lang="en"> Application Request Date Wise Details</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/applicationRequestMIS" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Application Request Date Wise Details</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

        </div>

        <form ng-submit="applicationDetails()" ng-show="tendays">
            <div class="row schemForms">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4><b class="width120">Current Date</b> : {{currentDateIs | date:"dd/MM/yyyy"}}</h4>
                    <h4><b class="width120">Previous Date</b> : {{prevDate | date:"dd/MM/yyyy"}}</h4>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                    <h5 class="text-left" lang="en">Select Status</h5>
                    <select ng-change="selectStatus()" ng-model="statusSelect">
                        <option value="" disabled>Select Status</option>
                        <option value="Approved">Approval</option>
                        <option value="Rejected">Rejected</option>
                        <option value="false">false</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group">
                    <br />
                    <br />
                    <button class="btn btn-success width200">Submit</button>
                </div>
            </div>
        </form>



        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showDetailsData">

                <div>
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th lang="en">Application Id</th>
                                <th lang="en">finalStatus</th>
                                <th lang="en">requested</th>
                                <th lang="en">requestStatus</th>
                                <!--<th lang="en">Contractor Name</th>-->
                                <!--<th lang="en">Action</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="mdata in applicationRequest">
                                <td><a data-toggle="tooltip" target="_blank" title="View Bill Details" href="#/applicationRequestViewMIS/{{mdata.applicationId}}/">{{mdata.applicationId}}</a></td>
                                <td>{{mdata.finalStatus}}</td>
                                <td>{{mdata.requested}}</td>
                                <td>{{mdata.requestStatus}}</td>
                                <!--<td><a data-toggle="tooltip" title="View Bill Details" href="#/billMISView/{{mdata.planId}}/{{mdata.subtask}}">{{mdata.planId}}</a></td>-->
                                <!--<td>{{mdata.planId}}</td>-->
                                <!--<td>{{mdata.subtask}}</td>-->
                                <!--<td>{{mdata.contractorName}}</td>-->
                                <!--<td>
                                    <button type="button" data-toggle="tooltip" title="View Payment Order Details" ng-click="measureMISModal(mdata)"class="btn btn-primary" >
                                        <span class="glyphicon glyphicon-th-large"></span>
                                    </button>
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div></div>


</div>