<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                <li class="breadcrumb-item active">Land And Asset</li>
                <li class="breadcrumb-item active">Asset Document List</li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">


    <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Asset Document List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" data-toggle="modal" ng-click="removeMessaageInAdd()" data-target="#addAssetStatus">Add Asset Status</button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th>Asset Document Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="assetStatus in assetStatusList">

                            <td class="text-capitalize">{{assetStatus.name}}</td>
                            <td class="text-capitalize">{{assetStatus.status}}</td>
                            <td class="text-capitalize">
                               <button class="btn btn-primary" ng-click="editAssetStatus(assetStatus)"><span class="glyphicon glyphicon-pencil"></span></button>
                             </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addAssetStatus" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Asset Document</h4>
            </div>
            <form role="form" name="myform" ng-submit="addAssetTypeData()">
                <div class="row schemForms">

                    <div class="modal-body">

                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Asset Status:</label>
                            <input type="text" placeholder="Enter Asset Status" class="form-control" ng-model="assetStatus.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Status:</label>
                            <select ng-model="assetStatus.status" data-style="btn-primary" data-placement="Select status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editAssetStatusModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Asset Document </h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetStatusButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Asset Status:</label>
                            <input type="text" placeholder="Enter Asset Type" class="form-control" ng-model="editAssetStatusData.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span>Status:</label>
                            <select ng-model="editAssetStatusData.status" data-style="btn-primary" data-placement="Select Status" required>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>