<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item"><a href="#/billMISDetails"><span lang="en"> Bill Details</span></a></li>
                <li class="breadcrumb-item active"><span lang="en"> View Bill Details</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/billMISDetails" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Bill View Details</div>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>-->
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <div class="table-responsive">
                        <table class="table theadBg table-bordered table-stripped table-hover"  data-ng-repeat="p in billData">
                            <tbody>
                            <tr>
                                <td class="width160 "><b lang="en">Plan Id</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.planId}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Sub Task</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.subtask}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Bill Id</b></td>
                                <td>:</td>
                                <td>{{p.billId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Review Person</b></td>
                                <td>:</td>
                                <td>{{p.reviewPerson}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Total Amount</b></td>
                                <td>:</td>
                                <td>{{p.totalAmount}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Approved Amount</b></td>
                                <td>:</td>
                                <td>{{p.approvedAmount}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Review Person Name</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{p.reviewPersonName}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b lang="en">Bill Details</b>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th lang="en">Name</th>
                                            <th lang="en">Description</th>
                                            <th lang="en">Units</th>
                                            <th lang="en">Rate</th>
                                            <th lang="en">Measurement</th>
                                            <th lang="en">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="workFlow in  p.rows">
                                            <td class="text-capitalize">{{workFlow.name}}</td>
                                            <td class="text-capitalize">{{workFlow.billDescription}}</td>
                                            <td>{{workFlow.billUnits}}</td>
                                            <td>{{workFlow.billRate}}</td>
                                            <td>{{workFlow.billMeasurement}}</td>
                                            <td>{{workFlow.billAmount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><b lang="en">Workflow Id</b></td>
                                <td>:</td>
                                <td>{{p.workflowId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Max Level</b></td>
                                <td>:</td>
                                <td>{{p.maxlevel}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Accept Level</b></td>
                                <td>:</td>
                                <td>{{p.acceptLevel}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Final Status</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{p.finalStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Approved Amount</b></td>
                                <td>:</td>
                                <td>{{p.approvedAmount}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>Workflow Details</b>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th lang="en">Level Id</th>
                                            <th lang="en">Status</th>
                                            <th lang="en">Level No</th>
                                            <th lang="en">Approval Status</th>
                                            <th lang="en">Employee Name</th>
                                            <th lang="en">Employee Id</th>
                                            <th lang="en">Approved Amount</th>
                                            <th lang="en">Comment</th>
                                            <th lang="en">Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="workFlow in  p.workflow">
                                            <td>{{workFlow.levelId}}</td>
                                            <td class="text-capitalize">{{workFlow.status}}</td>
                                            <td>{{workFlow.levelNo}}</td>
                                            <td class="text-capitalize">{{workFlow.approvalStatus}}</td>
                                            <td class="text-capitalize">{{workFlow.employeeName}}</td>
                                            <td class="text-capitalize">{{workFlow.employeeId}}</td>
                                            <td class="text-capitalize">{{workFlow.approvedAmount}}</td>
                                            <td class="text-capitalize">{{workFlow.comment}}</td>
                                            <td>{{workFlow.date | date:'MM/dd/yyyy @ h:mma'}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><b lang="en">Created Person</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{p.createdPerson}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div></div>


</div>
