
<div ng-controller="birthCertificatesController">
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Birth Information</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="schemesExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Name</th>
                            <th lang="en">Date of Birth</th>
                            <th lang="en">Father's Name</th>
                            <th lang="en">Mother's Name</th>
                            <th lang="en">Mobile Number</th>
                            <th lang="en">Hospital Name</th>
                            <th lang="en">Address</th>
                            <th lang="en">Certificate</th>
                            <!-- <th ng-if="roleLogin.schemeManagementview" lang="en">View More</th> -->
                            <!-- <th ng-if="roleLogin.schemeManagementedit" lang="en">Action</th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="birth in birthData">
                            <td class="text-capitalize">{{birth.name}}</td>
                            <td class="text-capitalize">{{birth.dob}}</td>
                            <td class="text-capitalize">{{birth.fname}}</td>
                            <td class="text-capitalize">{{birth.mname}}</td>
                            <td class="text-capitalize">{{birth.number}}</td>
                            <td class="text-capitalize">{{birth.hsptlname}}</td>
                            <td class="text-capitalize">{{birth.desc}}</td>  
                            <td class="text-capitalize"><button class="btn btn-primary" ng-click="birthMsg($index)">Generate</button></td>                                                      
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>

</div>