<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item"><a href="#/case"><span lang="en">Create Case</span></a></li>
                <li class="breadcrumb-item active"><a href="#/caseHistory"><span lang="en">Case Details</span></a></li>
            </ol>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/case" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Case Details</div>
                        </div>
                    </div>
                <!--<div class="pull-left expand"> <a id="expandAll" class="btn btn-default" role="button">Expand All</a>-->

                <!--<a id="collapseAll" class="btn btn-default" role="button" style='display:none;'>Collapse All</a>-->
                <!--</div>-->
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>



            <div class=" col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>

                    <h5 class="text-left" lang="en"><span lang="en">Select Case Number</span>:</h5>
                    <ui-select ng-change="selectareas($select.selected.caseNumber)" ng-model="caseNumber" theme="selectize">
                        <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>
                        <ui-select-choices repeat="caseNumb in caseList | filter: $select.search">
                            <span ng-bind-html="caseNumb.caseNumber | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="clearfix visible-block"></div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span lang="en">Case Details</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="tabContent">
                            <div class="panel-group" id="accordion">

                                <div class="panel panel-default">
                                    <div class="panel-heading cursor-pointer" data-toggle="collapse" data-parent="#accordion" data-target="#charterDetails">
                                        <a class="panel-title">
                                        <span lang="en">
                                         Create Case Details
                                        </span>
                                        </a>
                                    </div>
                                    <div id="charterDetails" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div ng-show="selectCaseDetails">


                                                    <div class=" m-top20 m-btm20 ">
                                                        <div class="projectTile" lang="en">Case Details</div>

                                                        <table class="table table-bordered nopadding">
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.caseNumber}}</td>

                                                                <td class="width160"><b><span lang="en">Case Type</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.caseType}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Advocate</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td><span class="spanComma" ng-repeat="caseAdv in selectCaseDetails.advocate">{{caseAdv.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                                                <!--<td>{{selectCaseDetails.advocate}}</td>-->

                                                                <td class="width160"><b><span lang="en">Status</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.status}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Priority</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.priority}}</td>

                                                                <td class="width160"><b><span lang="en">Acts</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.act}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Court Name</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.courtName}}</td>

                                                                <td class="width160"><b><span lang="en">Case Department</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.department}}</td>


                                                            </tr>

                                                            <tr>

                                                                <td class="width160"><b><span lang="en">Case Created Date</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.createdTime | date:'shortDate'}}</td>

                                                                <td class="width160"><b><span lang="en">Case Submission Date</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.caseDate | date:'shortDate'}}</td>


                                                            </tr>

                                                            <tr>

                                                                <td class="width160"><b><span lang="en">Case Created Person</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.createdPerson}}</td>

                                                                <td class="width160"><b><span lang="en">Last Edited Person</span></b></td>
                                                                <td class="width20">:</td>
                                                                <!--<td>{{selectCaseDetails.lastEditPerson}}</td>-->
                                                                <td ng-if="selectCaseDetails.lastEditPerson">{{selectCaseDetails.lastEditPerson}}</td>
                                                                <td style="font-weight:bold" ng-if="!selectCaseDetails.lastEditPerson">Not Applicable</td>


                                                            </tr>


                                                            <tr>
                                                                <!--<td><b><span lang="en">Case Details</span></b></td>
                                                                <td>:</td>
                                                                <td colspan="4">{{selectCaseDetails.caseDetails}}</td>-->

                                                                <td class="width160"><b><span lang="en">Case Details</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{selectCaseDetails.caseDetails}}</td>

                                                                <td class="width160"><b><span lang="en">Last Updated Time</span></b></td>
                                                                <td class="width20">:</td>
                                                                <!--<td>{{selectCaseDetails.updatedTime | date:'medium'}}</td>-->
                                                                <td ng-if="selectCaseDetails.updatedTime">{{selectCaseDetails.updatedTime | date:'medium'}}</td>
                                                                <td style="font-weight:bold" ng-if="!selectCaseDetails.updatedTime | date:'medium'">Not Applicable</td>
                                                            </tr>

                                                        </table>






                                                        <!--File upload and comments -->

                                                        <div class="projectMain m-top20 m-btm20 ">
                                                            <div class="projectTile"><span lang="en">Doc Upload Details</span></div>
                                                            <div class="color-theme1 f-bold" ng-show="fileUploadSuccess">File(s) Uploaded Successfully.</div>
                                                            <table class="table table-bordered nopadding">
                                                                <tr>
                                                                    <!--<th>Header Name</th>-->
                                                                    <!--<th>Name</th>-->
                                                                    <th><span lang="en">Attached Files</span></th>
                                                                    <th><span lang="en">Comment</span></th>
                                                                    <!--<th>Edit</th>-->
                                                                </tr>
                                                                <tr ng-repeat="document in documentsList track by $index">

                                                                    <!--<td>{{document.uploadedPersonName}}</td>-->
                                                                    <td><div ng-repeat="f in document.file">
                                                                        <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a>

                                                                        <div>{{f.comment}}</div>
                                                                    </div></td>
                                                                    <td>{{document.comments}}</td>
                                                                    <!--<td>-->
                                                                    <!--<button class="btn btn-primary" ng-click="editUploadFile()"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                                                    <!--</td>-->
                                                                </tr>
                                                            </table>
                                                        </div>

                                                        <!--<button class="btn btn-success" id="scroll">Add Upload File</button>-->
                                                        <div class="clearfix visible-lg-block"></div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div ng-repeat="history in selectCaseHistory track by $index">


                                                    <div class=" m-top20 m-btm20 ">
                                                        <div class="projectTile"><span lang="en">Case Details</span></div>

                                                        <table class="table table-bordered nopadding">
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{history.caseNumber}}</td>

                                                                <td class="width160"><b><span lang="en">Case Type</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{history.caseType}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Advocate</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td><span class="spanComma" ng-repeat="case in history.advocate">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                                                <!--<td>{{history.advocate}}</td>-->

                                                                <td class="width160"><b><span lang="en">Status</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{history.status}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Priority</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{history.priority}}</td>

                                                                <td class="width160"><b><span lang="en">Acts</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{history.act}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Court Name</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{history.courtName}}</td>

                                                                <td class="width160"><b><span lang="en">Case Department</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{history.department}}</td>




                                                            </tr>

                                                            <!--<tr>-->
                                                            <!--&lt;!&ndash;<td class="width160"><b>Case Created Date</b></td>&ndash;&gt;-->
                                                            <!--&lt;!&ndash;<td class="width20">:</td>&ndash;&gt;-->
                                                            <!--&lt;!&ndash;<td>{{history.createdTime | date:'shortDate'}}</td>&ndash;&gt;-->

                                                            <!--<td><b>Case Submission Date</b></td>-->
                                                            <!--<td>:</td>-->
                                                            <!--<td>{{history.caseDate | date:'shortDate'}}</td>-->


                                                            <!--</tr>-->
                                                            <!--<tr>-->
                                                            <!--<td class="width160"><b>Case Created Person</b></td>-->
                                                            <!--<td class="width20">:</td>-->
                                                            <!--<td>{{history.createdPerson}}</td>-->

                                                            <!--&lt;!&ndash;<td><b>Last Edited Person</b></td>&ndash;&gt;-->
                                                            <!--&lt;!&ndash;<td>:</td>&ndash;&gt;-->
                                                            <!--&lt;!&ndash;<td>{{history.lastEditPerson}}</td>&ndash;&gt;-->


                                                            <!--</tr>-->


                                                            <tr>
                                                                <td><b><span lang="en">Case Details</span></b></td>
                                                                <td>:</td>
                                                                <td colspan="4">{{history.caseDetails}}</td>
                                                            </tr>

                                                        </table>



                                                        <div class="clearfix visible-lg-block"></div>


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#planDetails">
                                        <a class="panel-title">
                                        <span lang="en">
                                           Hearing Details
                                        </span>
                                        </a>
                                    </div>
                                    <div id="planDetails" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div ng-repeat="hearingHistory in selectHearingHistory track by $index">


                                                    <div class=" m-top20 m-btm20 ">
                                                        <div class="projectTile" lang="en">Hearing Details</div>

                                                        <table class="table table-bordered nopadding">
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{hearingHistory.caseNumber}}</td>

                                                                <td class="width160"><b><span lang="en">Status</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{hearingHistory.status}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Advocate</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td><span class="spanComma" ng-repeat="case in hearingHistory.advocateName">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                                                <!--<td>{{history.advocate}}</td>-->

                                                                <td class="width160"><b><span lang="en">Hearing Date</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{hearingHistory.dateHearing}}</td>

                                                            </tr>



                                                            <tr>
                                                                <td><b><span lang="en">Comment</span></b></td>
                                                                <td>:</td>
                                                                <td colspan="4">{{hearingHistory.comment}}</td>
                                                            </tr>

                                                        </table>

                                                        <!--File upload and comments -->

                                                        <div class="projectMain m-top20 m-btm20 ">
                                                            <div class="projectTile"><span lang="en">Doc Upload Details</span></div>

                                                            <table class="table table-bordered nopadding">
                                                                <tr>

                                                                    <th lang="en">Attached Files</th>
                                                                    <th lang="en">Comment</th>

                                                                </tr>
                                                                <tr ng-repeat="document in hearingDocumentsList track by $index">


                                                                    <td><div ng-repeat="f in document.file">
                                                                        <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a>

                                                                        <div>{{f.comment}}</div>
                                                                    </div></td>
                                                                    <td>{{document.comments}}</td>

                                                                </tr>
                                                            </table>
                                                        </div>




                                                        <div class="clearfix visible-lg-block"></div>



                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div ng-repeat="hearingHistoryDetails in selectHearingHistoryDetails track by $index">


                                                    <div class=" m-top20 m-btm20 ">
                                                        <div class="projectTile"><span lang="en">Hearing Details</span></div>

                                                        <table class="table table-bordered nopadding">
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{hearingHistoryDetails.caseNumber}}</td>

                                                                <td class="width160"><b><span lang="en">Status</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{hearingHistoryDetails.status}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Advocate</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td><span class="spanComma" ng-repeat="case in hearingHistoryDetails.advocateName">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                                                                <!--<td>{{history.advocate}}</td>-->

                                                                <td class="width160"><b><span lang="en">Hearing Date</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{hearingHistoryDetails.dateHearing}}</td>

                                                            </tr>



                                                            <tr>
                                                                <td><b><span lang="en">Comment</span></b></td>
                                                                <td>:</td>
                                                                <td colspan="4">{{hearingHistoryDetails.comment}}</td>
                                                            </tr>

                                                        </table>

                                                        <div class="clearfix visible-lg-block"></div>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#taskDetails">
                                        <a class="panel-title">
                                        <span lang="en">
                                           Judgement Details
                                        </span>
                                        </a>
                                    </div>
                                    <div id="taskDetails" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div ng-repeat="judgementHistory in selectJudgementHistory track by $index">


                                                    <div class=" m-top20 m-btm20 ">
                                                        <div class="projectTile" lang="en">Judgement Details</div>

                                                        <table class="table table-bordered nopadding">
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgementHistory.caseNumber}}</td>

                                                                <td class="width160"><b><span lang="en">Status</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgementHistory.status}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Court Name</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgementHistory.court}}</td>

                                                                <td class="width160"><b><span lang="en">Judgement Date</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgementHistory.judgementDate}}</td>

                                                            </tr>

                                                            <tr>
                                                                <td><b><span lang="en">Judgement Details</span></b></td>
                                                                <td>:</td>
                                                                <td colspan="4">{{judgementHistory.judgementDetails}}</td>
                                                            </tr>

                                                        </table>

                                                        <div class="clearfix visible-lg-block"></div>



                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div ng-repeat="judgements in selectJudgements track by $index">


                                                    <div class=" m-top20 m-btm20 ">
                                                        <div class="projectTile" lang="en">Judgement Details</div>

                                                        <table class="table table-bordered nopadding">
                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Case Number</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgements.caseNumber}}</td>

                                                                <td class="width160"><b><span lang="en">Status</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgements.status}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="width160"><b><span lang="en">Court Name</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgements.court}}</td>

                                                                <td class="width160"><b><span lang="en">Judgement Date</span></b></td>
                                                                <td class="width20">:</td>
                                                                <td>{{judgements.judgementDate}}</td>

                                                            </tr>

                                                            <tr>
                                                                <td><b><span lang="en">Judgement Details</span></b></td>
                                                                <td>:</td>
                                                                <td colspan="4">{{judgements.judgementDetails}}</td>
                                                            </tr>

                                                        </table>

                                                        <div class="clearfix visible-lg-block"></div>



                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>


    </div>
</div>
</div>





