
<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land and  Asset Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Asset Spares/Consumables</span></li>
            </ol> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">

        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Land Spares/Consumables</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <!-- <button class="btn btn-default m-right5">
                                 <span class="glyphicon glyphicon-print"></span> Print
                             </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetSpares')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>

                        </div>
                        <button class="btn btn-success" style="float: right !important;" id="scroll" ng-show="addButtonShow"><span lang="en">Add Land Spares/Consumables</span></button>
                    </div>
                </div>

                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                <div class="createPlan schemForms">
                    <form class="row" role="form" name="myform">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span lang="en">Asset Type</span>:</label>
                            <select data-style="btn-primary" ng-change="getAssetId(assetTypelist.assetType)" ng-model="assetTypelist.assetType" class="m-top20" >
                                <option value="" disabled>Select Asset type</option>
                                <option ng-repeat="assetTypelist in assetTypeList"  value="{{assetTypelist.name}}">{{assetTypelist.name}}</option>
                            </select>
                            <!--<select ng-model="assetTypelist.id" data-style="btn-primary" ng-repeat="assetTypelist in assetTypeList" ng-change="getAssetId(assetTypelist.id)" required/>
                                <option value="" disabled>Select Asset Type</option>
                                <option   value="{{assetTypelist.id}}">{{assetTypelist.name}}</option>
                            </select>-->
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span lang="en">Assets</span></label>
                            <select data-style="btn-primary" ng-change="getAsset(assetList.assetName)" ng-model="assetList.assetName" class="m-top20" >
                                <option value="" disabled>Select Asset</option>
                                <option ng-repeat="asset in assetList"  value="{{asset.assetNumber}}">{{asset.assetNumber}}--> {{asset.assetName}}</option>
                            </select>
                            <!--    <input type="text" ng-model="getId" readonly/>-->
                            <!--  <select ng-model="objectivesAndKpi.asset" data-style="btn-primary">
                                  <option value="">-&#45;&#45;**&#45;&#45;&#45;&#45;</option>
                                  <option ng-repeat="assetType1 in assetTypeList" value="{{assetType1.id}}">{{getId}}</option>
                              </select>-->

                        </div>
                    </form>
                </div>
            </div>


            <!--Header Details-->

            <table id="assetSpares" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class=" col-lg-12  col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-top20 m-btm20" >   <!--ng-show="hideButton123"-->
                    <div class="projectTile"><span lang="en">Land Details</span></div>
                    <div class="table-responsive adminContent1">

                        <table datatable="ng" class="table table-bordered table-striped"
                               dt-options="dtOptions">
                            <thead>
                            <tr>
                                <th lang="en">Land Spares/Consumables</th>
                                <th lang="en">Comments</th>
                                <!--<th>Action</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="assetType in assetTypeList1">
                                <td>
                                    <div  ng-repeat="kpis in assetType.kpi">{{kpis.kpino}}</div>
                                </td>
                                <td>
                                    <div ng-repeat="kpis in assetType.kpi">{{kpis.comments}}</div>
                                </td>
                                <!-- <td>
                                     <button class="btn btn-primary"
                                             ng-click="editHeaderScheme(task,subTask)"><span
                                             class="glyphicon glyphicon-pencil"></span></button>
                                 </td>-->
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


                <!--Header Details-->

                <div class="col-lg-12" id="welcomeDiv"  style="display:none;">
                    <hr />
                    <div id="scroll2" class="row schemForms" >

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div ng-show="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                                {{errorMessageData}}<hr class="m-tb10" />
                            </div>
                            <select data-style="btn-primary" ng-change="kpiSelect(timeDetails1)" ng-model="timeDetails1" class="m-top20 kps">
                                <option value="" disabled>Add Land Spares/Consumables</option>
                                <option ng-repeat="kpi in  assetKpi1 track by $index" id="{{kpi.name}}" value="{{kpi.name}}">{{kpi.name}}</option>
                            </select>
                            <div style="display:none;color:red;" id="message">
                                This Spare Already Added Please Choose Another Spare.
                            </div>
                            <div class="m-top20 table-responsive">
                                <table class="table table-bordered schemForms">
                                    <tr>
                                        <td>
                                            <label><span lang="en">Spares/Consumables</span>:</label>  <br />
                                            <input type="text" ng-model="kpiObject.kpino" class="" readonly>
                                        </td>
                                        <td>
                                            <label><span lang="en">Comments</span>:</label> <br />
                                            <input type="text" ng-model="kpiObject.comments" class="" required>
                                        </td>
                                        <td>
                                            <div class="m-top20 text-center">
                                                <button class="btn btn-success" ng-click="selectKPI()" lang="en">Add</button>
                                                <!--<button class="btn btn-danger" ng-click="removePerson1($index)"><i class="fa fa-close"></i></button>-->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="kpiObject in kpilistS">
                                        <td>
                                            <label><span lang="en">Spares/Consumables</span>:</label> <input type="text" ng-model="kpiObject.kpino" class="" readonly>
                                        </td>
                                        <td>
                                            <label><span lang="en">Comments</span>:</label> <input type="text" ng-model="kpiObject.comments" class="" required>
                                        </td>
                                        <td>
                                            <div class="m-top20 text-center">
                                                <button  class="btn btn-success" ng-click="selectKPI()" lang="en">Add</button>
                                                <!--<button class="btn btn-danger" ng-click="removePerson1($index)"><i class="fa fa-close"></i></button>-->
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--<div class="m-top20">
                                <table class="table table-bordered schemForms">

                                </table>



                            </div>-->
                            <!-- <div ng-repeat="repeatekpi in kpilistS">
                                <input type="text" ng-model="repeatekpi.kpino"/>{{repeatekpi.comment}}
                                 <inpu type="text" ng-model="repeatekpi.comment"/>
                             </div>-->

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center m-top20">
                            <button type="submit" class="btn btn-success" ng-show="update" ng-click="updateAssi()" lang="en">Update</button>
                            <button type="submit" class="btn btn-success" ng-show="!update" ng-click="addCreateObjectives()" lang="en">Submit</button>
                            <button type="button" class="btn btn-info" lang="en">Cancel</button>
                        </div>

                    </div>
                </div>

                <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
                    <button type="submit" class="btn btn-success" ng-click="addCreateObjectives()">Submit</button>
                    <button type="button" class="btn btn-info">Cancel</button>
                </div>-->




            </div>
        </div>
    </div>
</div>
</div>




<div id="addAssetSpares" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Asset Spares List is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editAssetSpares" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Asset Spares List is Updated.</div>
            </div>
        </div>

    </div>
</div>