<div class="breadcrumbArea" ng-if="showEmployee" xmlns:unique="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
           <!--  <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#/home">
                        <span lang="en">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <span lang="en">Land And Asset</span>
                </li>
                <li class="breadcrumb-item active">
                    <span lang="en">Create Asset For Land</span>
                </li>
            </ol> -->
        </div>
    </div>
</div>

<div class="breadcrumbArea" ng-if="createLand">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#/home">
                        <span lang="en">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <span lang="en">Land And Asset</span>
                </li>
                <li class="breadcrumb-item">
                    <a ng-click="clickToView()">
                        <span lang="en">Create Asset For Land</span>
                    </a>
                </li> -->
                <!--<li class="breadcrumb-item active"><span lang="en">Add Land List</span></li>-->
           <!--  </ol> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToView()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="breadcrumbArea" ng-if="editLand">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#/home">
                        <span lang="en">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <span lang="en">Land And Asset</span>
                </li>
                <li class="breadcrumb-item">
                    <a ng-click="clickToView()">
                        <span lang="en">Asset List</span>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <span lang="en">Edit List</span>
                </li>
            </ol> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToView()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>


<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage">
        <img src="images/gears.gif">
    </div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="" ng-if="showLand">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en">
                                <span class="glyphicon glyphicon-hand-right"> </span>
                                <span lang="en">Land List </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                            <button class="btn btn-success pull-right" ng-click="showCreateLand()" lang="en">Create Land
                            </button>
                            <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#employeeExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr/>
                </div>

                <table id="employeeExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <!--<table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns"
                               class="hover table table-bordered table-striped" id="table1">-->

                        <table datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th lang="en">Plan ID</th>
                                    <th lang="en">Land Id</th>
                                    <th lang="en">Land Type</th>
                                    <th lang="en">Land Description</th>
                                    <th lang="en">Land Details</th>
                                    <th lang="en">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="landDetails in landData">
                                    <td ng-if="landDetails.planId">{{landDetails.planId}}</td>
                                    <td style="font-weight:bold" ng-if="!landDetails.planId">Not Applicable For Plan</td>
                                    <td>{{landDetails.assetNumber}}</td>
                                    <td class="text-capitalize">{{landDetails.assetType}}</td>
                                    <td class="text-capitalize">{{landDetails.assetDescription}}</td>
                                    <td class="width150">
                                        <a class="btn btn-primary" href="#/viewLandDetails/{{landDetails.id}}">
                                            <span class="glyphicon glyphicon-th-large"></span>
                                        </a>
                                    </td>

                                    <td>
                                        <button class="btn btn-primary" ng-click="editLandData(landDetails)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <div class="" ng-if="createLand">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en">
                                <span class="glyphicon glyphicon-hand-right"> </span>
                                <span lang="en">
                                    Create Land</span>
                            </div>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName cursorPointer"> <a  ng-click="clickToView()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a> </div>

                        </div>-->

                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr/>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="createPlan schemForms">

                        <div class="text-center color-red f-bold" ng-show="createError">{{msgError}}</div>

                        <form class="row" role="form" name="myform">


                            <!-- <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <label><span lang="en">Type of An Asset</span>:</label>
                                 <input type="text" class="form-control text-capitalize" value="immovable" readonly/>
                             </div>-->
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span lang="en">Land Type</span>:</label>

                                <!--<select ng-model="addEmployee.status" data-style="btn-primary" required>
                                    <option value="">Select Asset Type</option>
                                    <option value="Land">Land</option>
                                    <option value="Vehicle">Vehicle</option>
                                </select>-->

                                <input type="text" class="form-control text-capitalize" ng-model="assetType" readonly/>

                                <!--<label>Plan ID:</label>
                                &lt;!&ndash;   <input type="text" placeholder="Plan ID" class="form-control" ng-model="plan.id" required />&ndash;&gt;
                                <select ng-change="onChangePlaneId()" ng-model="plan.planId" data-style="btn-primary">
                                    <option value="">Select Plan Id</option>
                                    <option ng-repeat="plan in charterList"  value="{{plan.projectId}}">{{plan.projectId}}</option>
                                    &lt;!&ndash;  <option value="central" >Central Govt Schemes</option>&ndash;&gt;
                                </select>
                                <div ng-if="planId" style="color:red">Plan Id alreday in use,please choose different plan id.</div>-->

                                <!--<select ng-model="plan.planId" ng-options="plan.projectId for plan in charterList | unique:'projectId'">
                                    <option value="">Select Plan Id</option>
                                    <option ng-repeat="plan in charterList" value="{{plan.projectId}}">{{plan.projectId}}</option>
                                    &lt;!&ndash;<option value="central" >Central Govt Schemes</option>&ndash;&gt;
                                    // unique options from the categories
                                </select>-->

                            </div>

                            <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
                            <!--<label><span lang="en">Asset Name</span>:</label>-->
                            <!--<input type="text" placeholder="Enter Asset Name" class="form-control"-->
                            <!--ng-model="land.assetName"/>-->
                            <!--</div>-->

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Name</span>:</label>
                                <br>
                                <!-- <select class="" ng-model="land.assetName">
                                    <option value="">---Select Land Name---</option>
                                    <option ng-repeat="x in assetNameList" ng-selected="land.assetName == x.name"  value="{{x.name}}">{{x.name}}</option>
                                </select> -->
                                <input type="text" class="form-control text-capitalize" ng-model="assetName" readonly/>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Description</span>:</label>
                                <textarea type="text" rows="2" class="form-control" ng-model="land.assetDescription"></textarea>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Account Details</span>:</label>
                                <select ng-model="land.accountNumber" data-style="btn-primary">
                                    <option value="">---Select Account Number---</option>
                                    <option ng-repeat="accountInfo in accountDetails" value="{{accountInfo.accountNumber}}">
                                        {{accountInfo.accountNumber}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Renewable/Upgradable</span>
                                </label>

                                <select ng-change="assetRenewableAvailabilityChanges(land.assetRenewableAvailability)" ng-model="land.assetRenewableAvailability"
                                    ng-options="x for x in assetRenewableAvailability" data-style="btn-primary">

                                    <option value="">--Select Land Renewable/Upgradable--</option>
                                    <!-- <option value="Owned">Owned</option>
                                     <option value="Managed">Managed</option>-->

                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="assetRenewableDate">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Upgrade/Renewable Date</span>
                                </label>
                                <input ng-model="land.assetUpgradeDate" placeholder="Please Enter Asset Upgrade/Renewable Date" type="text" ng-calendar format="%d-%m-%Y"
                                    readonly/>

                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Owned/Managed</span>:</label>

                                <select ng-change="selectLandAssetType(land.assetMode)" ng-model="land.assetMode" ng-options="x for x in names" data-style="btn-primary">

                                    <option value="">-- Select Land Owned/Managed--</option>
                                    <!-- <option value="Owned">Owned</option>
                                     <option value="Managed">Managed</option>-->

                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="ownedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Transfer Date</span>
                                </label>
                                <input ng-model="land.transferDate" placeholder="Please Enter Transfer Date" type="text" ng-calendar format="%d-%m-%Y" readonly/>

                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="ownedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Managed By Department</span>:</label>
                                <select ng-model="land.department" data-style="btn-primary">
                                    <option value="">--Select Managed By Department--</option>
                                    <option ng-repeat="departmentData in departmentList" value="{{departmentData}}">
                                        {{departmentData.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Owner Contact Department</span>:</label>

                                <select ng-model="land.contactPersonDepartment" data-style="btn-primary">
                                    <option value="">--Select Owner Contact Department--</option>
                                    <!--<option ng-repeat="departmentData in employeeList | unique:'department'"-->
                                    <option ng-repeat="departmentData in departmentList" value="{{departmentData.id}}">
                                        {{departmentData.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Owner Contact Person</span>:</label>

                                <select ng-model="land.contactPerson" data-style="btn-primary">
                                    <option value="">--Select Owner Contact Person--</option>
                                    <option ng-repeat="departmentData in employeeList" value="{{departmentData.name}}">
                                        {{departmentData.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="ownedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Registration Number</span>:</label>
                                <input type="text" placeholder="Enter Land Registration Number" class="form-control" ng-model="land.regdNo" />
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Owner For The Land</span>:</label>
                                <input type="text" placeholder="Enter Owner For The Land" class="form-control" ng-model="land.ownerName" />
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Phone Number</span>:</label>
                                <input type="text" numbers-only placeholder="Enter Phone Number" class="form-control" pattern="[7-9]{1}[0-9]{9}" oninvalid="setCustomValidity('Please Enter Valid Mobile Number. It Should Start With 7-9 And Must Contain 10 Digits')"
                                    onchange="try{setCustomValidity('')}catch(e){}" minlength="10" maxlength="10" ng-model="land.phoneNumber"
                                />
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Address</span>:</label>
                                <textarea type="text" rows="5" class="form-control" ng-model="land.addressDetails"></textarea>
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Leased Date</span>
                                </label>
                                <input ng-model="land.leasedDate" placeholder="Please Enter Leased Date" type="text" ng-calendar format="%d-%m-%Y" readonly/>
                                <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Terms In Months</span>:</label>
                                <input type="text" placeholder="Enter Terms in months" class="form-control" ng-model="land.termsInMonths" />
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Details</span>:</label>

                                <select ng-model="land.landDetails" data-style="btn-primary">
                                    <option value="">--Select Land Details- Unit--</option>
                                    <option value="Yards">Yards</option>
                                    <option value="Sq Meter">Sq Meter</option>
                                    <option value="Acers">Acers</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Area In Units</span>:</label>
                                <input type="text" placeholder="Enter Area In Units" class="form-control" ng-model="land.areaInUnits" />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Land Locality</span>:</label>
                                <input type="text" placeholder="Enter Land Locality" class="form-control" ng-model="land.locality" />
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Village</span>:</label>
                                <input type="text" placeholder="Enter Village" class="form-control" ng-model="land.village" />
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Longitude</span>:</label>
                                <input type="text" placeholder="Enter Longitude" class="form-control" ng-model="land.longitude" />
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Latitude</span>:</label>
                                <input type="text" placeholder="Enter Latitude" class="form-control" ng-model="land.latitude" />
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Ward</span>:</label>
                                <input type="text" placeholder="Enter Ward" class="form-control" ng-model="land.ward" />
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Muncipality or Mandal</span>:</label>
                                <input type="text" placeholder="Enter Municipality or Mandal" class="form-control" ng-model="land.muncipalityOrMandal" />
                            </div>

                            <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                 <label>Present owner / Land in the Name of:</label>
                                 <input type="text" rows="5" placeholder="Present owner / Land in the Name of" class="form-control" ng-model="plan.applicantId" required />
                             </div>-->

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Registration Details</span>:</label>
                                <textarea type="text" rows="5" class="form-control" ng-model="land.registrationDetails"></textarea>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Present Status/Usage</span>:</label>

                                <select ng-model="land.status" ng-change="statusChange(land.status)" data-style="btn-primary">
                                    <option value="">--Select Present Status/Usage--</option>
                                    <option ng-repeat="x in assetStatusList" value="{{x.name}}">{{x.name}}</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="commissionedDate">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Commissioned Date</span>
                                </label>
                                <input ng-model="land.commissionDate" placeholder="Please Enter Commission date" type="text" ng-calendar format="%d-%m-%Y"
                                    readonly/>
                                <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="disposalAndDecommissionDate">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Decommissioned Date</span>
                                </label>
                                <input ng-model="land.decommissionDate" placeholder="Please Enter Decommissioned date" type="text" ng-calendar format="%d-%m-%Y"
                                    readonly/>
                                <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>
                                    <span lang="en">Duty Type</span>:</label>

                                <select ng-model="land.dutyType" ng-change="dutyChange(land)" data-style="btn-primary">
                                    <option value="" disabled>--Select Duty Type--</option>
                                    <option ng-repeat="x in dutyTypeList" value="{{x}}">{{x.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span lang="en">Duty</span>
                                </label>

                                <input type="text" ng-model="duty" readonly/>

                            </div>


                            <!--   <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label> Duty</label>

                                   <select ng-model="land.duty" ng-change="statusChange(land.status)"
                                           data-style="btn-primary" required>
                                       <option value="">Select Duty</option>
                                       <option ng-repeat="x in dutyTypeList" value="{{x.duty}}">{{x.duty}}</option>
                                   </select>
                               </div>-->

                            <!--   <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label>Manufacturing Serial Number</label>
                                   <input type="text" placeholder="Manufacturing Serial Number" class="form-control"
                                          ng-model="land.manufacturingSNo"/>
                               </div>

                               <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label>Manufacturing Code</label>
                                   <input type="text" placeholder="Manufacturing Code" class="form-control"
                                          ng-model="land.manufacturingCode"/>
                               </div>

                               <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label>Manufacturing Name</label>
                                   <input type="text" placeholder="Manufacturing Name" class="form-control"
                                          ng-model="land.manufacturingName"/>
                               </div>


                               <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label>Supplier Number</label>
                                   <input type="text" placeholder="Supplier Number" class="form-control"
                                          ng-model="land.supplierNo"/>
                               </div>

                               <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label>Supplier Code</label>
                                   <input type="text" placeholder="Supplier Code" class="form-control"
                                          ng-model="land.supplierCode"/>
                               </div>

                               <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label>Supplier Name</label>
                                   <input type="text" placeholder="Supplier Name" class="form-control"
                                          ng-model="land.supplierName"/>
                               </div>

                               <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label> <span class="color-red f-bold f-left">*</span>Installation Date</label>
                                   <input ng-model="land.purchaseDate" placeholder="Please Enter Installation Date"
                                          type="text"
                                          ng-calendar format="%d-%m-%Y" readonly/>
                                   &lt;!&ndash;<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />&ndash;&gt;
                               </div>

                               <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                   <label>Warrenty Period:</label>
                                   <input type="text" placeholder="Warrenty Period" class="form-control"
                                          ng-model="land.warrentyPeriod" required/>
                               </div>

                               <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                   <label> <span class="color-red f-bold f-left">*</span>Expiry Date</label>
                                   <input ng-model="land.expiryDate" placeholder="Please Enter Expiry Date" type="text"
                                          required
                                          ng-calendar format="%d-%m-%Y" readonly/>
                                   &lt;!&ndash;<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />&ndash;&gt;
                               </div>
   -->
                            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>Maintenance Contact Department:</label>

                                <select ng-model="land.maintenanceContactDepartment" data-style="btn-primary">
                                    <option value="">--Select Maintenance Contact Department--</option>
                                    <option ng-repeat="departmentData in departmentList" value="{{departmentData.id}}">
                                        {{departmentData.name}}
                                    </option>
                                </select>
                            </div>

                            <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ui-select ng-model="land.maintenanceContactDepartment" theme="selectize">
                                    <ui-select-match placeholder="Select or Search Maintenance Contact Department">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="departmentData in departmentList | filter: $select.search">
                                        <span ng-bind-html="departmentData.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>-->

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>
                                    <span class="color-red f-bold f-left">*</span>Maintenance Contact Person:</label>
                                <select ng-model="land.maintenanceContactName" data-style="btn-primary">
                                    <option value="">--Select Maintenance Contact Person--</option>
                                    <option ng-repeat="departmentData in employeeList" value="{{departmentData.name}}">
                                        {{departmentData.name}}
                                    </option>
                                </select>
                            </div>

                            <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <ui-select ng-model="land.maintenanceContactName" theme="selectize">
                                     <ui-select-match placeholder="Select or Search Maintenance Contact Person">{{$select.selected.name}}</ui-select-match>
                                     <ui-select-choices repeat="departmentData in employeeList | filter: $select.search">
                                         <span ng-bind-html="departmentData.name | highlight: $select.search"></span>
                                     </ui-select-choices>
                                 </ui-select>
                             </div>
 -->

                            <hr/>
                            <!--<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="#/case" type="button" class="btn btn-default">Cancel</a>
                                </div>-->
                    </div>


                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <!--<button type="submit" class="btn btn-success" lang="en">Create Asset</button>-->
                        <button type="submit" ng-click="createLandButton1()" class="btn btn-success" lang="en">Create Land</button>
                        <button type="button" class="btn btn-info" lang="en" ng-click="resetField();">Reset</button>
                    </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <div class="" ng-if="editLand">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="text-center color-red f-bold" ng-show="empUpdationError">{{updateEmpError}}
                        </div>
                        <div class="projectName">
                            <span class="glyphicon glyphicon-hand-right"> </span>
                            <span class="color-red f-bold f-left">*</span>
                            <span lang="en">Edit Land</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr/>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="createPlan schemForms">
                    <form class="row" role="form" name="myform" ng-submit="editLandButton1()">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span lang="en">Land Type</span>:</label>

                            <!--<select ng-model="addEmployee.status" data-style="btn-primary" required>
                                    <option value="">Select Asset Type</option>
                                    <option value="Land">Land</option>
                                    <option value="Vehicle">Vehicle</option>
                                </select>-->

                            <input type="text" class="form-control text-capitalize" ng-model="assetType" readonly/>

                            <!--<label>Plan ID:</label>
                                &lt;!&ndash;   <input type="text" placeholder="Plan ID" class="form-control" ng-model="plan.id" required />&ndash;&gt;
                                <select ng-change="onChangePlaneId()" ng-model="plan.planId" data-style="btn-primary">
                                    <option value="">Select Plan Id</option>
                                    <option ng-repeat="plan in charterList"  value="{{plan.projectId}}">{{plan.projectId}}</option>
                                    &lt;!&ndash;  <option value="central" >Central Govt Schemes</option>&ndash;&gt;
                                </select>
                                <div ng-if="planId" style="color:red">Plan Id alreday in use,please choose different plan id.</div>-->

                            <!--<select ng-model="plan.planId" ng-options="plan.projectId for plan in charterList | unique:'projectId'">
                                    <option value="">Select Plan Id</option>
                                    <option ng-repeat="plan in charterList" value="{{plan.projectId}}">{{plan.projectId}}</option>
                                    &lt;!&ndash;<option value="central" >Central Govt Schemes</option>&ndash;&gt;
                                    // unique options from the categories
                                </select>-->

                        </div>

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">-->
                        <!--<label><span lang="en">Asset Name</span>:</label>-->
                        <!--<input type="text" placeholder="Enter Asset Name" class="form-control"-->
                        <!--ng-model="editLandDetails.assetName"/>-->
                        <!--</div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Land Name</span>:</label>
                            <br>
                            <!-- <select class="" ng-model="editLandDetails.assetName" required>
                                <option value="">---Select Land Name---</option>
                                <option ng-repeat="x in assetNameList" ng-selected="editLandDetails.assetName== x.name" value="{{x.name}}">{{x.name}}</option>
                            </select> -->

                            <input type="text" class="form-control text-capitalize" ng-model="assetName" readonly/>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Land Description</span>:</label>
                            <textarea type="text" rows="2" class="form-control" ng-model="editLandDetails.assetDescription" required></textarea>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Account Details</span>:</label>
                            <select ng-model="editLandDetails.accountNumber" data-style="btn-primary">
                                <option value="">--Select Account Number--</option>
                                <option ng-repeat="accountInfo in accountDetails" ng-selected="editLandDetails.accountNumber== accountInfo.accountNumber"
                                    value="{{accountInfo.accountNumber}}">
                                    {{accountInfo.accountNumber}}
                                </option>
                            </select>
                        </div>




                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Land Renewable/Upgradable</span>
                            </label>

                            <select ng-change="assetRenewableAvailabilityChanges(editLandDetails.assetRenewableAvailability)" ng-model="editLandDetails.assetRenewableAvailability"
                                ng-options="x for x in assetRenewableAvailability" data-style="btn-primary" required>

                                <option value="">--Select Land Renewable/Upgradable--</option>
                                <!-- <option value="Owned">Owned</option>
                                     <option value="Managed">Managed</option>-->

                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="assetRenewableDate">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Land Upgrade/Renewable Date</span>
                            </label>
                            <input ng-model="editLandDetails.assetUpgradeDate" placeholder="Please Enter Asset Upgrade/Renewable Date" type="text" ng-calendar
                                format="%d-%m-%Y" readonly/>

                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label> Land Owned/Managed:</label>

                            <select ng-change="selectLandAssetType(editLandDetails.assetMode)" ng-model="editLandDetails.assetMode" ng-options="x for x in names"
                                data-style="btn-primary" required>

                                <option value="">-- Select Land Owned/Managed--</option>
                                <!-- <option value="Owned">Owned</option>
                                     <option value="Managed">Managed</option>-->

                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="ownedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Transfer Date</span>
                            </label>
                            <input ng-model="editLandDetails.transferDate" placeholder="Please Enter Transfer Date" type="text" ng-calendar format="%d-%m-%Y"
                                readonly/>

                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="ownedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Managed By Department</span>:</label>
                            <select ng-model="editLandDetails.department" data-style="btn-primary">
                                <option value="">--Select Managed By Department--</option>
                                <option ng-repeat="departmentData in departmentList" ng-selected="editLandDetails.department== x.name" value="{{departmentData.name}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Owner Contact Department</span>:</label>

                            <select ng-model="editLandDetails.contactPersonDepartment" data-style="btn-primary">
                                <option value="">--Select Maintenance Department--</option>
                                <option ng-repeat="departmentData in departmentList" ng-selected="editLandDetails.contactPersonDepartment== departmentData.id"
                                    value="{{departmentData.id}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Owner Contact Person</span>:</label>

                            <select ng-model="editLandDetails.contactPerson" data-style="btn-primary">
                                <option value="">--Select Maintenance Contact Person--</option>
                                <option ng-repeat="departmentData in employeeList" ng-selected="editLandDetails.contactPerson== departmentData.name" value="{{departmentData.name}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="ownedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Land Registration Number</span>:</label>
                            <input type="text" placeholder="Enter Land Registration No" class="form-control" ng-model="editLandDetails.regdNo" />
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Owner For The Land</span>:</label>
                            <input type="text" placeholder="Enter Owner For The Land" class="form-control" ng-model="editLandDetails.ownerName" />
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Phone Number</span>:</label>
                            <input type="text" placeholder="Enter Phone Number" class="form-control" pattern="[7-9]{1}[0-9]{9}" oninvalid="setCustomValidity('Please Enter Valid Mobile Number. It Should Start With 7-9 And Must Contain 10 Digits')"
                                onchange="try{setCustomValidity('')}catch(e){}" ng-model="editLandDetails.phoneNumber" />
                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Address</span>:</label>
                            <textarea type="text" rows="5" class="form-control" ng-model="editLandDetails.addressDetails"></textarea>
                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Leased Date</span>
                            </label>
                            <input ng-model="editLandDetails.leasedDate" placeholder="Please Enter Leased Date" type="text" ng-calendar format="%d-%m-%Y"
                                readonly/>
                            <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="managedMode">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Terms In Months</span>:</label>
                            <input type="text" placeholder="Enter Terms in months" class="form-control" ng-model="editLandDetails.termsInMonths" />
                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Land Details</span>:</label>

                            <select ng-model="editLandDetails.landDetails" data-style="btn-primary" required>
                                <option value="">--Select Land Details- Unit--</option>
                                <option value="Yards">Yards</option>
                                <option value="Sq Meter">Sq Meter</option>
                                <option value="Acers">Acers</option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Area In Units</span>:</label>
                            <input type="text" placeholder="Enter Area In Units" class="form-control" ng-model="editLandDetails.areaInUnits" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Land Locality</span>:</label>
                            <input type="text" placeholder="Enter Land Locality" class="form-control" ng-model="editLandDetails.locality" required/>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Village</span>:</label>
                            <input type="text" placeholder="Enter Village" class="form-control" ng-model="editLandDetails.village" required/>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Latitude</span>:</label>
                            <input type="text" placeholder="Enter Latitude" class="form-control" ng-model="editLandDetails.latitude" required/>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Ward</span>:</label>
                            <input type="text" placeholder="Enter Ward" class="form-control" ng-model="editLandDetails.ward" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Muncipality or Mandal</span>:</label>
                            <input type="text" placeholder="Enter Municipality/Mandal" class="form-control" ng-model="editLandDetails.muncipalityOrMandal"
                                required/>
                        </div>

                        <!-- <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                 <label>Present owner / Land in the Name of:</label>
                                 <input type="text" rows="5" placeholder="Present owner / Land in the Name of" class="form-control" ng-model="plan.applicantId" required />
                             </div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Registration Details</span>:</label>
                            <textarea type="text" rows="5" class="form-control" ng-model="editLandDetails.registrationDetails" required></textarea>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Present Status/Usage</span>:</label>

                            <select ng-model="editLandDetails.status" ng-change="statusChange(editLandDetails.status)" data-style="btn-primary" required>
                                <option value="">--Select Present Status/Usage--</option>
                                <option ng-repeat="x in assetStatusList" ng-selected="editLandDetails.status== x.name" value="{{x.name}}">{{x.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="commissionedDate">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Commissioned Date</span>
                            </label>
                            <input ng-model="editLandDetails.commissionDate" placeholder="Please Enter Commission date" type="text" ng-calendar format="%d-%m-%Y"
                                readonly/>
                            <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="disposalAndDecommissionDate">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Decommissioned Date</span>
                            </label>
                            <input ng-model="editLandDetails.decommissionDate" placeholder="Please Enter Decommissioned Date" type="text" ng-calendar
                                format="%d-%m-%Y" readonly/>
                            <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                        </div>

                        <!-- <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <label> Duty Type:</label>

                                 <select ng-model="editLandDetails.dutyType"
                                         ng-change="statusChange(editLandDetails.status)"
                                         data-style="btn-primary" required>
                                     <option value="">Select Duty Type</option>
                                     &lt;!&ndash;<option ng-repeat="x in dutyTypeList" value="{{x.name}}">{{x.name}}</option>&ndash;&gt;
                                     <option ng-repeat="x in dutyTypeList"
                                             ng-selected="editLandDetails.dutyType== x.name" value="{{x.name}}">
                                         {{x.name}}
                                     </option>
                                 </select>
                             </div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>
                                <span lang="en">Duty Type</span>:</label>

                            <select ng-model="editLandDetails.dutyType" ng-change="dutyChange(land)" data-style="btn-primary" required>
                                <option value="">--Select Duty Type--</option>
                                <option ng-repeat="x in dutyTypeList" ng-selected="editLandDetails.dutyType==x.name" value="{{x}}">{{x.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span lang="en">Duty</span>
                            </label>

                            <input type="text" ng-model="editLandDetails.duty" readonly/>

                        </div>

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label> Duty</label>

                                <select ng-model="editLandDetails.duty" ng-change="statusChange(editLandDetails.status)"
                                        data-style="btn-primary" required>
                                    <option value="">Select Duty</option>
                                    <option ng-repeat="x in dutyTypeList" ng-selected="editLandDetails.duty== x.duty"
                                            value="{{x.duty}}">{{x.duty}}
                                    </option>
                                </select>
                            </div>-->




                        <!--  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label>Manufacturing Serial Number</label>
                                  <input type="text" placeholder="Manufacturing Serial Number" class="form-control"
                                         ng-model="editLandDetails.manufacturingSNo"/>
                              </div>

                              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label>Manufacturing Code</label>
                                  <input type="text" placeholder="Manufacturing Code" class="form-control"
                                         ng-model="editLandDetails.manufacturingCode"/>
                              </div>

                              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label>Manufacturing Name</label>
                                  <input type="text" placeholder="Manufacturing Name" class="form-control"
                                         ng-model="editLandDetails.manufacturingName"/>
                              </div>


                              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label>Supplier Number</label>
                                  <input type="text" placeholder="Supplier Number" class="form-control"
                                         ng-model="editLandDetails.supplierNo"/>
                              </div>

                              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label>Supplier Code</label>
                                  <input type="text" placeholder="Supplier Code" class="form-control"
                                         ng-model="editLandDetails.supplierCode"/>
                              </div>

                              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label>Supplier Name</label>
                                  <input type="text" placeholder="Supplier Name" class="form-control"
                                         ng-model="editLandDetails.supplierName"/>
                              </div>

                              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label> <span class="color-red f-bold f-left">*</span>Installation Date</label>
                                  <input ng-model="editLandDetails.purchaseDate"
                                         placeholder="Please Enter Installation Date" type="text"
                                         ng-calendar format="%d-%m-%Y" readonly/>
                                  &lt;!&ndash;<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />&ndash;&gt;
                              </div>

                              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                  <label>Warrenty Period:</label>
                                  <input type="text" placeholder="Warrenty Period" class="form-control"
                                         ng-model="editLandDetails.warrentyPeriod" required/>
                              </div>

                              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <label> <span class="color-red f-bold f-left">*</span>Expiry Date</label>
                                  <input ng-model="editLandDetails.expiryDate" placeholder="Please Enter Expiry Date"
                                         type="text" required
                                         ng-calendar format="%d-%m-%Y" readonly/>
                                  &lt;!&ndash;<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />&ndash;&gt;
                              </div>-->

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>Maintenance Contact Department:</label>

                                <select ng-model="editLandDetails.maintenanceContactDepartment"
                                        data-style="btn-primary">
                                    <option value="">Select Maintenance Contact Department</option>
                                    <option ng-repeat="departmentData in departmentList"
                                            ng-selected="editLandDetails.maintenanceContactDepartment== departmentData.name"
                                            value="{{departmentData.name}}">
                                        {{departmentData.name}}
                                    </option>
                                </select>
                            </div>-->

                        <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <ui-select ng-model="editFailureData.risks" theme="selectize">
                                     <ui-select-match placeholder="Select or Search Maintenance Contact Department">{{$select.selected.name}}</ui-select-match>
                                     <ui-select-choices repeat="departmentData in departmentList | filter: $select.search" ng-selected="editLandDetails.maintenanceContactDepartment== departmentData.name">
                                         <span ng-bind-html="departmentData.name | highlight: $select.search"></span>
                                     </ui-select-choices>
                                 </ui-select>
                             </div>-->

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Maintenance Contact Person:</label>
                                <select ng-model="editLandDetails.maintenanceContactName" data-style="btn-primary">
                                    <option value="">Select Maintenance Contact</option>
                                    <option ng-repeat="departmentData in employeeList"
                                            ng-selected="editLandDetails.maintenanceContactName== departmentData.name"
                                            value="{{departmentData.name}}">
                                        {{departmentData.name}}
                                    </option>
                                </select>
                            </div>-->

                        <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <ui-select ng-model="editFailureData.risks" theme="selectize">
                                     <ui-select-match placeholder="Select or Search Maintenance Contact Person">{{$select.selected.name}}</ui-select-match>
                                     <ui-select-choices repeat="departmentData in employeeList | filter: $select.search" ng-selected="editLandDetails.maintenanceContactName== departmentData.name">
                                         <span ng-bind-html="departmentData.name | highlight: $select.search"></span>
                                     </ui-select-choices>
                                 </ui-select>
                             </div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>Maintenance Contact Department:</label>

                            <select ng-model="editLandDetails.maintenanceContactDepartment" data-style="btn-primary">
                                <option value="">--Select Maintenance Contact Department--</option>
                                <option ng-repeat="departmentData in departmentList" ng-selected="editLandDetails.maintenanceContactDepartment== departmentData.id"
                                    value="{{departmentData.id}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>
                                <span class="color-red f-bold f-left">*</span>Maintenance Contact Person:</label>
                            <select ng-model="editLandDetails.maintenanceContactName" data-style="btn-primary">
                                <option value="">--Select Maintenance Contact Person--</option>
                                <option ng-repeat="departmentData in employeeList" ng-selected="editLandDetails.maintenanceContactName== departmentData.name"
                                    value="{{departmentData.name}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <button type="submit" class="btn btn-success" lang="en">Update</button>
                            <button type="button" class="btn btn-info" lang="en">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>
</div>

</div>

<div id="addEmployeeSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Successfully -'
                    <b>{{landPostSuccess.assetNumber}}</b> ' with '
                    <b>{{land.assetType}}</b>' is Created. And Your Plan ID is: '
                    <b>{{landPostSuccess.planId}}</b> '
                </h5>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="addEmployeeSuccessModal()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>
<div id="editEmployeeSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully Land is Update.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editEmployeeSuccessModal()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<!--<div id ="askModal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel" lang="en">Project Creation For An Asset</h4>
            </div>
            <div class="modal-body">
                <div> Proceed To Create A Project For An Asset </div>

            </div>
        </div>

        <div class="modal-footer" style="border-top:0px !important;">
            <button type="button" class="btn btn-primary" ng-click="askDetails()" lang="en">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="withOutAskDetails()" lang="en">No</button>
        </div>
    </div>

</div>-->

<!--<div id="askModel1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Project Plan</h4>
            </div>
            <form role="form" name="myform" ng-submit="createProjectPlan()">
                <div class="modal-body">
                    <div class="row schemForms">


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Project Charter</span>:</label>
                            <select ng-model="charter.projectCharter" data-style="btn-primary" required>
                                <option value="">&#45;&#45;Select Project Charter&#45;&#45;</option>
                                <option ng-repeat="projectCharterDetails in charterList | unique : 'charterUniqueId'"
                                        value="{{projectCharterDetails.charterUniqueId}}">
                                    {{projectCharterDetails.name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">ULB</span>:</label>
                            <select ng-model="charter.projectULB" data-style="btn-primary" required>
                                <option value="">&#45;&#45;Select ULB&#45;&#45;</option>
                                <option ng-repeat="projectCharterDetails in ulbList"
                                        value="{{projectCharterDetails.name}}">
                                    {{projectCharterDetails.name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Project Plan</span>:</label>
                            <input  placeholder="Enter Asset Project Plan" type="text" ng-model="charter.projectPlan" required/>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>
                            <select ng-model="charter.departmentInfo" data-style="btn-primary" required>
                                <option value="">&#45;&#45;Select Department&#45;&#45;</option>
                                <option ng-repeat="departmentData in departmentList"
                                        value="{{departmentData.id}}">
                                    {{departmentData.name}}
                                </option>
                            </select>
                        </div>

                        <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Financial Year</span>:</label>
                            <div class="schemForms text-center">
                                <select ng-model="charter.financialYear">
                                    <option value="">&#45;&#45;Select Financial Year&#45;&#45;</option>
                                    <option>2016-2017</option>
                                    <option>2017-2018</option>
                                    <option>2018-2019</option>
                                    <option>2019-2020</option>
                                    <option>2021-2022</option>
                                    <option>2022-2023</option>
                                    <option>2023-2024</option>
                                    <option>2024-2025</option>
                                    <option>2025-2026</option>
                                    <option>2026-2027</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>-->


<div id="submitClosureMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Project Creation For An Land</h4>
            </div>


            <div class="">
                <section>
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">

                                <li role="presentation" id="tab1" class="active">
                                    <a data-target="#step1" data-toggle="tab" aria-controls="step1" role="tab" data-placement="bottom" title="Step 1">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-folder-open"></i>
                                        </span>
                                    </a>
                                </li>

                                <li role="presentation" id="tab2" class="disabled">
                                    <a data-target="#step2" data-toggle="tab" aria-controls="step2" role="tab" data-placement="bottom" title="Step 2">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </span>
                                    </a>
                                </li>

                                <li role="presentation" id="tab3" class="disabled skipTab">
                                    <a data-target="#complete" data-toggle="tab" aria-controls="complete" role="tab" data-placement="bottom" title="Complete">
                                        <span class="round-tab">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content text-center">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <br />
                                <h4 class="m-top20 m-btm20"> Do you want to Add
                                    <b>Project Plan</b> For This Land?</h4>
                                <br />
                                <div class="modal-footer text-center">
                                    <ul class="list-inline text-center center-block nopadding">
                                        <li>
                                            <button type="button" id="test" class="btn btn-default next-step1 width120 ">Skip</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="withOutAskDetails()"
                                                lang="en">Without Plan For An Asset</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary next-step width120 ">Continue</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <form role="form" name="myform" ng-submit="createProjectPlan()">
                                    <div class="row schemForms">

                                        <div class="modal-body ">
                                            <div ng-show="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                                                {{errorMessageData}}
                                                <hr class="m-tb10" />
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                <label>
                                                    <span class="color-red f-bold f-left">*</span>
                                                    <span lang="en">Project Charter</span>:</label>
                                                <select ng-model="charter.projectCharter" data-style="btn-primary">
                                                    <option value="">--Select Project Charter--</option>
                                                    <option ng-repeat="projectCharterDetails in charterList | unique : 'charterUniqueId'" value="{{projectCharterDetails.charterUniqueId}}">
                                                        {{projectCharterDetails.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                <label>
                                                    <span class="color-red f-bold f-left">*</span>
                                                    <span lang="en">ULB</span>:</label>
                                                <select ng-model="charter.projectULB" data-style="btn-primary">
                                                    <option value="">--Select ULB--</option>
                                                    <option ng-repeat="projectCharterDetails in ulbList" value="{{projectCharterDetails.name}}">
                                                        {{projectCharterDetails.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                <label>
                                                    <span class="color-red f-bold f-left">*</span>
                                                    <span lang="en">Project Plan</span>:</label>
                                                <input placeholder="Enter Asset Project Plan" type="text" ng-model="charter.projectPlan" />
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                <label>
                                                    <span class="color-red f-bold f-left">*</span>
                                                    <span lang="en">Department</span>:</label>
                                                <select ng-model="charter.departmentInfo" data-style="btn-primary">
                                                    <option value="">--Select Department--</option>
                                                    <option ng-repeat="departmentData in departmentList" value="{{departmentData.id}}">
                                                        {{departmentData.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left">
                                                <label>
                                                    <span class="color-red f-bold f-left">*</span>
                                                    <span lang="en">Financial Year</span>:</label>
                                                <div class="schemForms text-center">
                                                    <select ng-model="charter.financialYear">
                                                        <option value="">--Select Financial Year--</option>
                                                        <option>2016-2017</option>
                                                        <option>2017-2018</option>
                                                        <option>2018-2019</option>
                                                        <option>2019-2020</option>
                                                        <option>2021-2022</option>
                                                        <option>2022-2023</option>
                                                        <option>2023-2024</option>
                                                        <option>2024-2025</option>
                                                        <option>2025-2026</option>
                                                        <option>2026-2027</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <ul class="list-inline pull-right">
                                            <li>
                                                <button type="button" class="btn btn-default prev-step">Previous</button>
                                            </li>
                                            <li>
                                                <button type="submit" id="weak" class="btn btn-primary next-step2">Continue</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>



                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <h5>Project Getting Created To An Asset.
                                    <br />
                                    <br /> And Generate a 'Project ID'.
                                    <br />
                                    <br />
                                </h5>
                                <h4>Do you want to Proceed?</h4>
                                <div class="modal-footer text-center">
                                    <ul class="list-inline text-center center-block nopadding">
                                        <li>
                                            <button type="button" ng-click="createProjectForAnAsset()" class="btn btn-danger next-step1">Create The Project</button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary next-step width120 " data-dismiss="modal">Cancel</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

    </div>
</div>