<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Workflow Setup</span></li>
                <li class="breadcrumb-item active"><span lang="en">Assign Forms</span></li>
            </ol>
        </div>
    </div>
</div>



<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Workflow Forms List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addWorkFlowLevelModal()" lang="en">Add Workflow Forms</button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#workflowFormExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="workflowFormExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr >
                            <th lang="en">Workflow Id</th>
                            <th lang="en">Module Name</th>
                            <th lang="en">Form Details</th>
                            <th lang="en">Status</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="workflowForm in workflowEmployeeList">
                            <td>{{workflowForm.workflowId}}</td>
                            <td>{{workflowForm.formDetails}}</td>
                            <td>
                                <span ng-if="workflowForm.schemeUniqueId">{{workflowForm.schemeUniqueId}}</span>
                             <!--   <span ng-if="workflowForm.subtask">{{workflowForm.subtask}}</span>-->
                            </td>
                            <td>{{workflowForm.status}}</td>
                            <td>
                                    <button class="btn btn-primary" ng-click="editWorkflowEmployeeModal(workflowForm)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addWorkFlowLevel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Workflow Form</h4>
            </div>
            <form role="form" name="myform" ng-submit="addWorkflowForms()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div ng-show="workflowFormError" class="color-red f-bold f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">{{workflowFormErrorMessage}}</div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en" lang="en"> <span class="color-red f-bold f-left">*</span>Workflow Id</label>
                            <select  ng-model="workflowEmployee.workflowId" data-style="btn-primary">
                                <option value="">Select Workflow</option>
                                <option ng-repeat="workflow in workflowList"  value="{{workflow.workflowId}}">{{workflow.workflowId}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Form</label>
                            <select ng-change="schemesInfo(workflowEmployee.formDetails)"  ng-model="workflowEmployee.formDetails" data-style="btn-primary">
                                <option value="" selected>Select Form List</option>
                                <option value="schemeManagement">Scheme Management</option>
                               <!--  <option value="projectWardWork">Project Ward Works</option>
                                <option value="landAndAsset">Land and Asset Management</option>
                                <option value="userAdministration">User Administration</option> -->

                            </select>
                        </div>
                        <div ng-if="schemeDataShow" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en">Scheme List:</label>
                            <select ng-model="workflowEmployee.schemeUniqueId"   data-style="btn-primary">
                                <option value="">Select Scheme</option>
                                <option ng-repeat="scheme in schemeList"  value="{{scheme.schemeUniqueId}}">{{scheme.name}}</option>
                            </select>
                        </div>
<!--
                        <div ng-if="projectWardShow" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label>Project List:</label>
                            <select ng-model="workflowEmployee.projectId"   data-style="btn-primary">
                                <option value="">Select Project</option>
                                <option ng-repeat="project in projectList"  value="{{project.planId}}">{{project.planId}}-{{project.name}}</option>
                            </select>
                        </div>-->
                        <div ng-if="projectWardShow" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en">Project Sub Tasks:</label>
                            <select ng-model="workflowEmployee.schemeUniqueId" class="heightSelect" data-style="btn-primary">
                                <option value="">Select Task</option>
                                <option value="projectPlan">Project Plan</option>
                                <option value="projectLayouts">Project Layouts and Uploads</option>
                                <option value="projectTOR">Project TOR</option>
                                <option value="billGeneration">Bill Generation</option>
                                <option value="paymentOrder">Payment Order</option>
                                <option value="fieldVisit">Field Visit Report</option>
                                <option value="workOrder">Work Order Report</option>
                                <option value="transferFounds">Transfer funds</option>
                                <option value="projectMileStone">Project Milestone</option>
                                <option value="projectRisk">Project Risk/Issue</option>
                                <option value="projectRebaseLine">Project Rebase Line</option>
                                <option value="departmentWise">Department wise budgets</option>
                                <option value="citizenRequestVisit">Citizen Application Field Visit</option>
                                <option value="citizenNOCRequest">Citizen NOC Application</option>
                                <option value="citizenNOCRequestVisit">Citizen NOC Filed Visit</option>
                             </select>
                        </div>
                        <div ng-if="landAndAsset" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en">Land And Asset:</label>
                            <select ng-model="workflowEmployee.schemeUniqueId"   data-style="btn-primary">
                                <option value="">Select Task</option>
                                <option value="purchaseAgenda">Purchase Agenda</option>
                                <option value="driverBillRequest">Driver Bill Requests </option>
                                <option value="demandProjection">Asset Demand Projection</option>
                             </select>
                        </div>   <div ng-if="userAdminShow" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en">User Administration:</label>
                            <select ng-model="workflowEmployee.schemeUniqueId"   data-style="btn-primary">
                                <option value="">Select Task</option>
                                <option value="contractor">Contractor</option>
                             </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en">Status:</label>
                            <select ng-model="workflowEmployee.status" data-style="btn-primary" data-placement="Select Plan ID">
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editWorkflowEmployee" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Workflow Form</h4>
            </div>
            <form role="form" name="myform" ng-submit="editWorkflowForms()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div ng-show="workflowFormError" class="color-red f-bold f-left col-lg-12 col-md-12 col-sm-12 col-xs-12">{{workflowFormErrorMessage}}</div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Workflow Id</label>
                            <select  ng-model="editWorkflowEmp.workflowId" data-style="btn-primary">
                                <option value="">Select Workflow</option>
                                <option ng-repeat="workflow in workflowList" value="{{workflow.workflowId}}">{{workflow.workflowId}}</option>
                            </select>
                        </div>
                        <!--  <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <label>Level:</label>
                              <select ng-model="workflowEmployee.levelId"   data-style="btn-primary">
                                  <option value="">Select Level</option>
                                  <option ng-repeat="level in levelList"  value="{{level.no}}">{{level.no}}</option>
                              </select>
                          </div>-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Form</label>
                            <select ng-change="schemesInfo(editWorkflowEmp.formDetails,'edit')" ng-model="editWorkflowEmp.formDetails"  ng-disabled="editWorkflowEmp.formDetails" data-style="btn-primary">
                                <option value="" selected>Select Form List</option>
                                <option ng-selected="editWorkflowEmp.formDetails == 'schemeManagement'" value="schemeManagement">Scheme Management</option>
                             <!--    <option ng-selected="editWorkflowEmp.formDetails == 'projectWardWork'" value="projectWardWork">Project Ward Works</option>
                                <option ng-selected="editWorkflowEmp.formDetails == 'landAndAsset'" value="landAndAsset">Land and Asset Management</option> -->
                            </select>
                        </div>
                        <div ng-if="schemeDataShow" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en">Scheme List:</label>
                            <select ng-model="formEditSchemeUniqueId" data-style="btn-primary" ng-disabled="formEditSchemeUniqueId">
                                <option value="">Select Scheme</option>
                                <option ng-repeat="scheme in schemeList" ng-selected="formEditSchemeUniqueId == scheme.schemeUniqueId" value="{{scheme.schemeUniqueId}}">{{scheme.name}}</option>
                            </select>
                        </div>
                        <div ng-if="projectWardShow" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en">Project Sub Tasks:</label>
                            <select ng-model="formEditSchemeUniqueId"   ng-disabled="formEditSchemeUniqueId" data-style="btn-primary">
                                <option value="">Select Task</option>
                             <option  ng-selected="formEditSchemeUniqueId == 'projectPlan'" value="projectPlan">Project Plan</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'projectLayouts'" value="projectLayouts">Project Layouts and Uploads</option>
                                <option   ng-selected="formEditSchemeUniqueId == 'projectTOR'" value="projectTOR">Project TOR</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'billGeneration'" value="billGeneration">Bill Generation</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'paymentOrder'" value="paymentOrder">Payment Order</option>
                                <option ng-selected="formEditSchemeUniqueId == 'fieldVisit'"  value="fieldVisit">Field Visit Report</option>
                                <option ng-selected="formEditSchemeUniqueId == 'workOrder'"  value="workOrder">Work Order Report</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'transferFounds'" value="transferFounds">Transfer funds</option>
                                <option ng-selected="formEditSchemeUniqueId == 'projectMileStone'"  value="projectMileStone">Project Milestone</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'projectRisk'" value="projectRisk">Project Risk/Issue</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'projectRebaseLine'" value="projectRebaseLine">Project Rebase Line</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'departmentWise'" value="departmentWise">Department wise budgets</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'citizenRequestVisit'" value="citizenRequestVisit">Citizen Application Field Visit</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'citizenNOCRequest'" value="citizenNOCRequest">Citizen NOC Application</option>
                                <option  ng-selected="formEditSchemeUniqueId == 'citizenNOCRequestVisit'" value="citizenNOCRequestVisit">Citizen NOC Filed Visit</option>

                            </select>
                        </div>
                        <div ng-if="landAndAsset" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en">Land And Asset Subtask:</label>
                            <select ng-model="formEditSchemeUniqueId"  ng-disabled="formEditSchemeUniqueId"  data-style="btn-primary">
                                <option value="">Select Task</option>
                                <option ng-selected="formEditSchemeUniqueId == 'purchaseAgenda'" value="projectLayouts">Purchase Agenda</option>
                                <option ng-selected="formEditSchemeUniqueId == 'driverBillRequest'" value="driverBillRequest">Driver Bill Requests  </option>
                                <option ng-selected="formEditSchemeUniqueId == 'demandProjection'" value="demandProjection">Asset Demand Projection</option>
                           </select>
                        </div>
                        <!-- <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <label>Employee:</label>
                             <select ng-model="workflowEmployee.levelNo"   data-style="btn-primary">
                                 <option value="">Select Employee</option>
                                 <option ng-repeat="employee in employeeList"  value="{{employee.no}}">{{level.no}}</option>
                             </select>
                         </div>-->
                        <!--  <div ng-dropdown-multiselect="" search-filter="customFilter" options="employeeData"  selected-model="somdata" extra-settings="example15settings"></div>
                          <pre>List: <span ng-repeat="bet in somdata">{{bet.id}},</span></pre>-->
                        <!--<div>{{somdata}}</div>-->
                        <!--  <div ng-dropdown-multiselect="" options="employeeData" selected-model="workflowEmployee.employees" checkboxes="true" extra-settings="example14settings"></div>
                         <pre>Selected Model: {{employeeData}} | json</pre>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en">Status:</label>
                            <select ng-model="editWorkflowEmp.status" data-style="btn-primary" data-placement="Select Plan ID" >
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<div id="addworkFlowFormSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Workflow Form is Created.</div>
            </div>
        </div>
    </div>
</div>
<div id="editworkFlowFormSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Workflow Form is Updated.</div>
            </div>
        </div>
    </div>
</div>
<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>