<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management </span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item"><a href="#/hearingDate"><span lang="en">Hearing Date Info</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Create Hearing Date</span></li>
            </ol> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a  href="#/hearingDate" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Create Hearing Date</div>

                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="schemForms" align="left">
                                <div class="text-center f-bold alert alert-danger" ng-show="hearingError">{{createHearingMessage}}</div>
                                <form class="simple-form" ng-submit="myForm.$valid && createHearingDate(hearing)" name="myForm" novalidate>
                                    <div class="row">

                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label>
                                            <label class="color-red f-bold f-left" ng-show="submitted && myForm.caseNumber.$error.required">   Case Number is required</label>
                                            <select class="form-control" ng-model="hearing.caseNumber" name="caseNumber" required>
                                                <option value=""> ---Select Case Number --- </option>
                                                <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                                            </select>
                                        </div>

                                        <!--<div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
                                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>-->
                                            <!--<ui-select ng-model="hearing.caseDetails" theme="selectize">-->
                                                <!--<ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>-->
                                                <!--<ui-select-choices repeat="x in caseNumber | filter: $select.search">-->
                                                    <!--<span ng-bind-html="x.caseNumber | highlight: $select.search"></span>-->
                                                <!--</ui-select-choices>-->
                                            <!--</ui-select>-->
                                        <!--</div>-->


                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label> <span class="color-red f-bold f-left">*</span><span lang="en">Hearing Date</span>:</label>
                                            <label class="color-red f-bold f-left" ng-show="submitted && myForm.hDate.$error.required">   Hearing Date is required</label>
                                            <input name="hDate" ng-model="hearing.dateHearing" placeholder="Please Select date" type="text" ng-calendar format="%d-%m-%Y" required readonly>
                                            <!--<input type="text" class="form-control" ng-model="hearing.dateHearing" placeholder="Enter Start Date" ng-calendar  />-->
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label>
                                            <label class="color-red f-bold f-left" ng-show="submitted && myForm.status.$error.required">   Please Select The Status</label>
                                            <select class="form-control" ng-model="hearing.status" name="status" required >
                                                <option value="">---Select Case Status ---</option>
                                                <option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>
                                            </select>
                                        </div>

                                        <!--<div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">-->
                                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label><br>-->
                                            <!--<ui-select ng-model="hearing.statuses" theme="selectize">-->
                                                <!--<ui-select-match placeholder="Select or Search Status">{{$select.selected.field1}}</ui-select-match>-->
                                                <!--<ui-select-choices repeat="x in status | filter: $select.search">-->
                                                    <!--<span ng-bind-html="x.field1 | highlight: $select.search"></span>-->

                                                <!--</ui-select-choices>-->
                                            <!--</ui-select>-->
                                        <!--</div>-->



                                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Advocate</span>:</label>
                                            <label class="color-red f-bold f-left" ng-show="submitted && myForm.advocateName.$error.required">   Please Select The Advocates</label>
                                            <select multiple class="form-control" ng-model="hearing.advocateName" name="advocateName" required>
                                                <!--<option value="">-&#45;&#45;select Advocate Name -&#45;&#45;</option>-->
                                                <option ng-repeat="x in advocates" ng-selected="hearing.advocateName" value="{{x}}">{{x.name}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Comment</span>:</label>
                                            <label class="color-red f-bold f-left" ng-show="submitted && myForm.comment.$error.required">   Please Give A Comment</label>
                                            <textarea type="text" rows="5" class="form-control ng-pristine ng-valid ng-touched" ng-model="hearing.comment" name="comment" required></textarea>
                                        </div>
                                        <hr/>
                                        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <button type="submit" class="btn btn-success" lang="en" ng-click="submitted=true">Submit</button>
                                            <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                                            <a href="#/hearingDate" type="button" class="btn btn-danger" lang="en">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>