<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item"><a href="#/deptWiseBudgetMIS"><span lang="en"> Dept Wise Budget Details</span></a></li>
                <li class="breadcrumb-item active"><span lang="en"> Dept Wise Budget View Details</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/deptWiseBudgetMIS" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Dept Wise Budget View Details</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <div class="table-responsive">
                        <table class="table theadBg table-bordered table-stripped table-hover"  data-ng-repeat="p in deptWiseData">
                            <tbody>
                            <tr>
                                <td class="width160 "><b lang="en">ULB Name</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.ulbName}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Financial Year</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.financialYear}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Total Budget</b></td>
                                <td>:</td>
                                <td>{{p.totalBudget}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Current FinYear</b></td>
                                <td>:</td>
                                <td>{{p.currentFinYear}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">NextFin Year</b></td>
                                <td>:</td>
                                <td>{{p.nextFinYear}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Workflow Id</b></td>
                                <td>:</td>
                                <td>{{p.workflowId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Max Level</b></td>
                                <td>:</td>
                                <td>{{p.maxlevel}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Accept Level</b></td>
                                <td>:</td>
                                <td>{{p.acceptLevel}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Final Status</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{p.finalStatus}}</td>
                            </tr>
                            <!--<tr>
                                <td><b lang="en">Approved Amount</b></td>
                                <td>:</td>
                                <td>{{p.approvedBudget}}</td>
                            </tr>-->
                            <tr>
                                <td colspan="3"><b>Workflow Details</b>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th lang="en">Level Id</th>
                                            <th lang="en">Status</th>
                                            <th lang="en">Level No</th>
                                            <th lang="en">employees</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="workFlow in p.workflowData">
                                            <td>{{workFlow.levelId}}</td>
                                            <td class="text-capitalize">{{workFlow.status}}</td>
                                            <td>{{workFlow.levelNo}}</td>
                                            <td>{{workFlow.employees}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td class="text-capitalize">{{p.department}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                <table class="table table-bordered table-striped" data-ng-repeat="planData in p.planData">
                                    <thead>
                                    <tr>
                                        <th lang="en" colspan="3">Plan Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="width160 "><b lang="en">Plan Id</b></td>
                                            <td class="width20">:</td>
                                            <td class="text-capitalize">{{planData.planId}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Name</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.name}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Description</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.description}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Applicant Id</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.applicantId}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">TaxDue Status</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.taxDueStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Start Date</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.startDate}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">End Date</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.endDate}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Estimation Cost</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.estimationCost}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Utilized Cost</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.utilizedCost}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Location CoOrdinates</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.locationCoOrdinates}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Village</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.village}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Mandal</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.mandal}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">City</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.city}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Address</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.address}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Complete Percentage</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.completePercentage}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Workflow Id</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.workflowId}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Max Level</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.maxlevel}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Accept Level</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.acceptLevel}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Final Status</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.finalStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Task Status</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.taskStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Plan Status</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.palnStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Department</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.department}}</td>
                                        </tr>
                                        <tr>
                                            <td><b lang="en">Created Person</b></td>
                                            <td>:</td>
                                            <td class="text-capitalize">{{planData.createdPerson}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><b lang="en">Plan Workflow Details</b>
                                                <table class="table table-bordered table-striped ">
                                                    <thead>
                                                    <tr>
                                                        <th lang="en">Level Id</th>
                                                        <th lang="en">Status</th>
                                                        <th lang="en">Level No</th>
                                                        <th lang="en">Approval Status</th>
                                                        <th lang="en">Employee Name</th>
                                                        <th lang="en">Employee Id</th>
                                                        <th lang="en">Comment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="workFlow in planData.workflow">
                                                        <td class="text-capitalize">{{workFlow.levelId}}</td>
                                                        <td class="text-capitalize">{{workFlow.status}}</td>
                                                        <td>{{workFlow.levelNo}}</td>
                                                        <td>{{workFlow.approvalStatus}}</td>
                                                        <td>{{workFlow.employeeName}}</td>
                                                        <td>{{workFlow.employeeId}}</td>
                                                        <td>{{workFlow.comment}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




    </div></div>


</div>
