<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Document Type</span></li>
            </ol> -->
        </div>
    </div>
</div>
<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-if="roleLogin.documentTypeedit" >
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Add Document Type</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addDocType()" lang="en">Add Document Type</button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#docTypeExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="docTypeExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr>
                            <th lang="en">Document Type</th>
                            <th lang="en">Status</th>
                            <th lang="en" ng-if="roleLogin.documentTypeedit" >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="taskStatus in taskStatustList">

                            <td class="text-capitalize">{{taskStatus.name}}</td>
                            <td class="text-capitalize"> {{taskStatus.status}}</td>
                            <td ng-if="roleLogin.documentTypeedit" >
                                <button class="btn btn-primary" ng-click="edittaskSatus(taskStatus)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                        <!-- <tfoot>
                         <tr>
                             <th>Task Status</th>
                             <th>Status</th>
                             <th>Action</th>
                         </tr>
                         </tfoot>-->
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addDocType" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Document Type</h4>
            </div>
            <form role="form" name="myform" ng-submit="addDocumentTypeStatus()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="errorMsg text-center" ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en">Document Type</label>:
                            <input type="text" placeholder="Enter Document Type" class="form-control" ng-model="taskStatus.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en">Status</label>:
                            <select ng-model="taskStatus.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editTaskStatusModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Document Type</h4>
            </div>
            <form role="form" name="myform" ng-submit="editDocumentTypeButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="errorMsg text-center" ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en">Document Type</label>:
                            <input type="text" placeholder="Enter Document Type" class="form-control" ng-model="editTaskSatus.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en">Status</label>:
                            <select ng-model="editTaskSatus.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addDocTypeSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully -' <b>{{taskStatus.name}}</b> '  is Created.</div>
            </div>
        </div>
    </div>
</div>

<div id="editDocTypeSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Document Type is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>