<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Scheme</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Edit Scheme</span></li>
            </ol> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="">
    <div class="adminContent">
        <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
        <div class="schemeMain" ng-show="!loadingImage">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Edit Scheme</div>


                    <hr />
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="schemForms">
                        <form class="simple-form" ng-submit="myForm.$valid && editScheme()" name="myForm" novalidate>
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Scheme Name</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.name.$error.required"> Scheme Name is required</label>
                                    <input type="text" name="name" class="form-control" ng-model="scheme.name" placeholder="Enter Scheme Name" required/>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Scheme Description</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.description.$error.required"> Scheme Description is required</label>
                                    <textarea rows="5" name="description" ng-model="scheme.description" placeholder="Enter Scheme Description" required></textarea>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Category</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.category.$error.required"> Category is required</label>
                                    <select name="category" ng-model="scheme.category" data-style="btn-primary" required>
                                        <option value="">Select Category</option>
                                        <option value="central">Central Govt Schemes</option>
                                        <option  value="state">State Schemes</option>
                                        <option value="local">Local Schemes</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Department</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.departmentId.$error.required"> Department is required</label>
                                    <select name="departmentId" ng-model="scheme.departmentId" data-style="btn-primary" required>
                                        <option value="">Select Department</option>
                                        <option ng-repeat="department in departmentList" ng-selected="scheme.departmentId == department.id" value="{{department.id}}">{{department.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Ministry</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.ministryId.$error.required"> Ministry is required</label>
                                    <select name="ministryId" ng-model="scheme.ministryId" data-style="btn-primary" required>
                                        <option value="">Select Ministry</option>
                                        <option ng-repeat="ministries in ministriesLists" ng-selected="scheme.ministryId == ministries.id" value="{{ministries.id}}">{{ministries.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Status</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.status.$error.required"> Scheme Status is required</label>
                                    <select name="status" ng-model="scheme.status" data-style="btn-primary" required>
                                        <option value="">Select Status</option>
                                        <option value="Active">Active</option>
                                        <option  value="InActive">In Active</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Scheme Budget</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.budget.$error.required"> Scheme Budget is required</label>
                                    <input type="text" name="budget" class="form-control" ng-model="scheme.budget" placeholder="Enter Scheme Budget" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <label lang="en"> <span class="color-red f-bold f-left">*</span>Date of Commencement</label>
                                    <label class="color-red f-bold f-left" ng-show="submitted && myForm.commincement.$error.required"> Date of Commencement is required</label>
                                    <input name="commincement" ng-model="scheme.commincement" placeholder="Please  date"  type="text" title="Please Select  Date"   ng-calendar  ng-model="myDate" format="%d-%m-%Y" required readonly />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Beneficiaries</label>
                                    <pre>Selected List : <br /><span ng-repeat="bet in bineficiaries">{{bet.id}}<span class="camaHide">,</span><br /></span></pre>
                                    <div ng-dropdown-multiselect="" search-filter="customFilter" options="bineficiariesList"  selected-model="bineficiaries" extra-settings="example15settings"></div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Notification</label>
                                    <button lang="en" class="btn btn-success" ngf-select="uploadFiles($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Upload Gov Notification</button>
                                    <br>
                                    <div>
                                        <h4 class=""><span lang="en">Uploaded Files</span>:</h4>
                                        <!--<ul>
                                            <li ng-repeat="request in scheme.file">
                                                <a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a>
                                                <span class="glyphicon glyphicon-trash" ng-click="removeFile($index, request.id, 'file')"></span>
                                            </li>
                                        </ul>-->

                                        <table class="table" >
                                            <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>File Size</th>
                                                <th>Comment</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="request in scheme.file">
                                                <td><a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a></td>
                                                <td>{{request.size}}</a></td>
                                                <td>      <textarea rows="2" ng-model="request.comment" placeholder="Enter Comment"></textarea>
                                                </td>
                                                <td>  <span class="btn btn-danger glyphicon glyphicon-trash" ng-click="removeFile($index, request.id, 'file')"></span></td>
                                            </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                    <!--<div ng-show="filesUplaod">
                                        <h4 class="">New Uploaded Files:</h4>
                                        &lt;!&ndash;<ul>
                                            <li ng-repeat="f in uploadFileName">
                                                <a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a><br />
                                            </li>
                                        </ul>&ndash;&gt;


                                        <table class="table" >
                                            <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Comment</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="f in uploadFileName">
                                                <td><a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a></td>
                                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                </td>
                                                <td>  <span class="btn btn-danger glyphicon glyphicon-trash" ng-click="removeFile($index, f.id, 'file')"></span></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>-->
                                    <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                                    <span class="progress" ng-show="progress >= 0"></span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <fieldset class="fsStyle m-btm20">
                                        <legend class="legendStyle nopadding">
                                            <a data-toggle="collapse" data-target="#demo"><span lang="en">Contact 1</span></a>
                                        </legend>
                                        <div class="row collapse in" id="demo">
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Employee</label>
                                                            <label class="color-red f-bold f-left" ng-show="submitted && myForm.employeeId.$error.required"> Select Employee is required</label>
                                                            <select class="employeeId" ng-change="getEmpData(scheme.contactOne.employeeId)" ng-model="scheme.contactOne.employeeId" data-style="btn-primary" required>
                                                                <option value="">Select Employee</option>
                                                                <option ng-repeat="employee in employeeList"  ng-selected="scheme.contactOne.employeeId== employee.employeeId"  value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>

                                                            </select>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Address of Contact</label>
                                                            <label class="color-red f-bold f-left" ng-show="submitted && myForm.contactOne.$error.required"> Select Employee is required</label>
                                                            <textarea name="contactOne" rows="5" ng-model="scheme.contactOne.address" placeholder="Enter Address" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="!showEMPDetails" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div>
                                                    <table class="table table-bordered table-striped">
                                                        <tr>
                                                            <th colspan="3">Employee Details</th>
                                                        </tr>
                                                        <tr>
                                                            <th>First Name</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email Id</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Department</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP.department}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Designation</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP.designation}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phone Number</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP.mobile}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Work Phone Number</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP.workMobile}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <fieldset class="fsStyle m-btm20">
                                        <legend class="legendStyle nopadding">
                                            <a data-toggle="collapse" data-target="#demo1"><span lang="en">Contact 2</span></a>
                                        </legend>
                                        <div class="row collapse in" id="demo1">
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Employee</label>
                                                        <label class="color-red f-bold f-left" ng-show="submitted && myForm.employeeId.$error.required"> Select Employee is required</label>
                                                        <select name="employeeId" ng-change="getEmpData1(scheme.contactTwo.employeeId)" ng-model="scheme.contactTwo.employeeId" data-style="btn-primary" required>
                                                            <option value="">Select Employee</option>
                                                            <option ng-repeat="employee in employeeList"  ng-selected="scheme.contactTwo.employeeId== employee.employeeId"    value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Address of Contact</label>
                                                        <label class="color-red f-bold f-left" ng-show="submitted && myForm.contactTwo.$error.required">  Employee Address is required</label>
                                                        <textarea name="contactTwo" rows="5" ng-model="scheme.contactTwo.address" placeholder="Enter Address"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="!showEMPDetails1" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div>
                                                    <table class="table table-bordered table-striped">
                                                        <tr>
                                                            <th colspan="3">Employee Details</th>
                                                        </tr>
                                                        <tr>
                                                            <th>First Name</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP1.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email Id</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP1.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Department</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP1.department}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Designation</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP1.designation}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phone Number</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP1.mobile}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Work Phone Number</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP1.workMobile}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <fieldset class="fsStyle m-btm20">
                                        <legend class="legendStyle nopadding">
                                            <a data-toggle="collapse" data-target="#demo2"><span lang="en">Contact 3</span></a>
                                        </legend>
                                        <div class="row collapse in" id="demo2">
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Select Employee</label>
                                                        <label class="color-red f-bold f-left" ng-show="submitted && myForm.employeeId.$error.required"> Select Employee is required</label>
                                                        <select name="employeeId" ng-change="getEmpData2(scheme.contactThree.employeeId)" ng-model="scheme.contactThree.employeeId" data-style="btn-primary" required>
                                                            <option value="">Select Employee</option>
                                                            <option ng-repeat="employee in employeeList" ng-selected="scheme.contactThree.employeeId== employee.employeeId"     value="{{employee.employeeId}}">{{employee.employeeId}}-{{employee.name}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label lang="en"> <span class="color-red f-bold f-left">*</span>Address of Contact</label>
                                                        <label class="color-red f-bold f-left" ng-show="submitted && myForm.contactThree.$error.required">  Employee Address is required</label>
                                                        <textarea name="contactThree" rows="5" ng-model="scheme.contactThree.address" placeholder="Enter Address" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="!showEMPDetails2" class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div>
                                                    <table class="table table-bordered table-striped">
                                                        <tr>
                                                            <th colspan="3">Employee Details</th>
                                                        </tr>
                                                        <tr>
                                                            <th>First Name</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP2.name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email Id</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP2.email}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Department</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP2.department}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Designation</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP2.designation}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Phone Number</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP2.mobile}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Work Phone Number</th>
                                                            <td>:</td>
                                                            <td>{{selectedEMP2.workMobile}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en"> Note/Comment</label>
                                    <input type="text" class="form-control" ng-model="scheme.comment" placeholder="Enter Note or Comment Regarding Contact Timings" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left" lang="en">*</span>Upload Files</label>
                                    <button lang="en" class="btn btn-success" ngf-select="uploadForms($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Upload Required Document For Form Section</button>
                                    <br>

                                    <div>
                                        <h4 class=""><span lang="en">Uploaded Files</span>:</h4>
                                       <!-- <ul>
                                            <li ng-repeat="request in scheme.forms">
                                                <a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a>
                                                <span class="glyphicon glyphicon-trash" ng-click="removeFile($index, request.id, 'form')"></span>
                                            </li>
                                        </ul>-->

                                        <table class="table" >
                                            <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>File Size</th>
                                                <th>Comment</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="request in scheme.forms">
                                                <td><a target="_blank" href="{{uploadURL}}{{request.id}}">{{request.name}}</a></td>
                                                <td>{{request.size}}</a></td>
                                                <td>      <textarea rows="2" ng-model="request.comment" placeholder="Enter Comment"></textarea>
                                                </td>
                                                <td>  <span class="btn btn-danger glyphicon glyphicon-trash" ng-click="removeFile($index, request.id, 'form')"></span></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!--<div ng-show="formsUplaod">
                                        <h4>New Uploaded Files:</h4>
                                        &lt;!&ndash;<ul>
                                            <li ng-repeat="f in uploadFromName">
                                                <a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a>
                                            </li>
                                        </ul>&ndash;&gt;
                                        <table class="table" >
                                            <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Comment</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="f in uploadFromName">
                                                <td><a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a></td>
                                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                                </td>
                                                <td>  <span class="btn btn-danger glyphicon glyphicon-trash" ng-click="removeFile($index, f.id, 'form')"></span></td>
                                            </tr>

                                            </tbody>
                                        </table>

                                    </div>-->
                                    <div class="color-red" ng-show="errorMssg">Please Wait.. Uploading the selected file.</div>
                                    <span class="progress" ng-show="progress >= 0"></span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="empCreationError">
                                    <h5 class="errorMsg message fadein fadeout">{{createEmpError}}</h5>
                                </div>
                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button lang="en" type="submit" class="btn btn-success" ng-click="submitted=true" ng-disabled="disable">Update</button>
                                    <button lang="en" type="button" ng-click="reset()" class="btn btn-info">Reset</button>
                                    <button lang="en" class="btn btn-default" ng-click="clickToBack()">Cancel</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
            </div >
        </div>
    </div>
</div>

<div id="editSchemeSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{scheme.name}}</b> '  is Updated.</div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="editSchemeSuccessModal()" class="btn btn-success width120">OK</button>
        </div>
    </div>
</div>