<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Edit Plan</div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                        <a href="#/projectPlan" class="backbtnArea pull-right">
                            <div class="" id="content">
                                <div class="aside arrow">
                                    <span class="glyphicon glyphicon-chevron-left"> </span>
                                    <span class="backbtn">Go Back</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="createPlan schemForms">
                    <form class="row" role="form" name="myform" ng-submit="editPlan(editPlanDetails.planId)">
                        <!--  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <label>Plan ID:</label>
                              <input type="text" placeholder="Plan ID" class="form-control" ng-model="editPlanDetails.planId" required />
                          </div>-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Plan ID:</label>{{editPlanDetails.planId}}
                            <!--   <input type="text" placeholder="Plan ID" class="form-control" ng-model="plan.id" required />-->
                            <!--<select id="country" ng-model="editPlanDetails.planId" data-style="btn-primary">
                                <option value="">Select Plan Id</option>
                                <option ng-repeat="plan in charterList" ng-selected="editPlanDetails.planId == plan.projectId" id="{{$index}}" value="{{plan.projectId}}">{{plan.projectId}}</option>
                                &lt;!&ndash;  <option value="central" >Central Govt Schemes</option>&ndash;&gt;
                            </select>-->
                            <input type="text" placeholder="Plan Name" class="form-control" ng-model="editPlanDetails.planId" disabled />

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Plan Name:</label>
                            <input type="text" placeholder="Plan Name" class="form-control" ng-model="editPlanDetails.name" disabled />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Plan Description:</label>
                            <textarea type="password" rows="5" placeholder="Plan Description" class="form-control" ng-model="editPlanDetails.description" disabled ></textarea>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Department:</label>
                            <!--<select ng-model="editPlanDetails.department" data-style="btn-primary">
                                <option value="">Select department Id</option>
                                <option ng-repeat="department in departmentList" ng-selected="editPlanDetails.department == department.name" value="{{department.name}}">{{department.name}}</option>
                            </select>-->
                            <input type="text" class="form-control" ng-model="editPlanDetails.department" disabled />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>ULB Name</label>:
                            <select ng-model="editPlanDetails.ulb" data-style="btn-primary">
                                <option value="">Select ULB Name</option>
                                <option ng-repeat="ulb in ulbList" value="{{ulb.name}}" ng-selected="ulb.name == editPlanDetails.ulb" >{{ulb.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Applicant ID:</label>
                            <input type="text" rows="5" placeholder="Applicant ID" class="form-control" ng-model="editPlanDetails.applicantId" disabled />
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Task Status</label>:
                            <select  ng-model="editPlanDetails.taskStatusId" data-style="btn-primary" required>
                                <option value="">Select Task Status</option>
                                <option ng-repeat="taskState in taskStateList" ng-selected="editPlanDetails.taskStatusId == taskState.id" value="{{taskState.id}}">{{taskState.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Tax Due</label>:
                            <select ng-change="checkTaxDue()" ng-model="editPlanDetails.taxDueStatus" data-style="btn-primary" required>
                                <option value="">Select Tax Due Status</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12" >
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Plan Status</label>:
                            <select ng-model="editPlanDetails.palnStatusId" data-style="btn-primary" required>
                                <option value="" selected>Select Plan Status</option>
                                <option ng-repeat="planstate in planStateList" ng-selected="editPlanDetails.palnStatusId == planstate.id" value="{{planstate.id}}" class="text-capitalize">{{planstate.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label> <span class="color-red f-bold f-left">*</span>Start Date</label>
                            <input ng-model="editPlanDetails.startDate" placeholder="Please Start date" type="text" ng-calendar format="%d-%m-%Y" disabled/>
                            <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label> <span class="color-red f-bold f-left">*</span>End Date</label>
                            <input ng-model="editPlanDetails.endDate" placeholder="Please End date" type="text" ng-calendar format="%d-%m-%Y" disabled/>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Estimation Cost:</label>
                            <input type="text" placeholder="Estimation Cost" class="form-control" ng-model="editPlanDetails.estimationCost" disabled />
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Utilized Cost:</label>
                            <input type="text" placeholder="Utilized Cost" class="form-control" ng-model="editPlanDetails.utilizedCost" required />
                        </div>
                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>Task Status:</label>
                            <input type="text" class="form-control" ng-model="editPlanDetails.taskStatus" disabled />
                            <select ng-model="editPlanDetails.taskStatus" data-style="btn-primary" required>
                                <option value="">Select Task Status</option>
                                <option ng-repeat="taskState in taskStateList" ng-selected="editPlanDetails.taskStatus == taskState.name" value="{{taskState.name}}">{{taskState.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label>Plan Status:</label>
                            <select ng-model="editPlanDetails.palnStatus" data-style="btn-primary" required>
                                <option value="">Select Plan Status</option>
                                <option ng-repeat="planstate in planStateList" ng-selected="editPlanDetails.palnStatus == planstate.name" value="{{planstate.name}}" >{{planstate.name}}</option>
                            </select>
                        </div>-->
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Financial Year:</label>
                            <input type="text" class="form-control" ng-model="editPlanDetails.financialYear" disabled />
                            <!--<input type="text" rows="5" placeholder="Financial Year" class="form-control" ng-model="editPlanDetails.financialYear" required />-->
                            <!--<select ng-model="editPlanDetails.financialYear" required>
                                <option value="">Select Financial Year</option>
                                <option>2016-2017</option>
                                <option>2017-2018</option>
                                <option>2018-2019</option>
                                <option>2019-2020</option>
                                <option>2020-2021</option>
                                <option>2021-2022</option>
                                <option>2022-2023</option>
                                <option>2023-2024</option>
                                <option>2024-2025</option>
                                <option>2025-2026</option>
                                <option>2026-2027</option>
                            </select>-->
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Location Co-Ordinates</label>:
                            <input type="text" placeholder="Enter Location Co-Ordinates" class="form-control" ng-model="editPlanDetails.locationCoOrdinates" required />
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Percentage(%) Complete Status:</label>
                            <div class="range range-danger" ng-model="editPlanDetails.percentageStatus">
                                <input type="range" name="range" min="0" max="100" value="{{editPlanDetails.completePercentage}}" onchange="rangeDanger.value=value" required/>
                                <output id="rangeDanger">{{editPlanDetails.completePercentage}}</output>
                            </div>
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Village</label>:
                            <input type="text" placeholder="Village Name" class="form-control" ng-model="editPlanDetails.village" disabled />
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Mandal</label>:
                            <input type="text" placeholder="Mandal Name" class="form-control" ng-model="editPlanDetails.mandal" disabled />
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>City</label>:
                            <input type="text" placeholder="City Name" class="form-control" ng-model="editPlanDetails.city" disabled />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Address</label>:
                            <textarea type="text" rows="5" placeholder="Address Details" class="form-control" ng-model="editPlanDetails.address"  disabled ></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <button type="submit" class="btn btn-success">Save Plan</button>
                            <a href="#/projectPlan" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editPlanSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Successfully '<b> {{editPlanDetails.name}}</b> ' - is Edited.</h5>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="editPlanWithProjectSuccess()" class="btn btn-success width120">OK</button>
        </div>
    </div>
</div>