<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item"><a href="#/case"><span lang="en">Create Case</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Edit Case</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a  href="#/case" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Edit Case</div>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>

                <div id="" class="col-lg-12 col-md-12 col-sm-6 col-xs-12">

                    <div class="createCase schemForms">
                        <form class="row" role="form" name="myform" ng-submit="editCase()">

                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label> <span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label>
                                <input ng-model="updateCase.caseNumber" required readonly disabled>
                            </div>

                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Type</span>:</label><br>
                                <select  class="form-control" ng-model="updateCase.caseType" required>
                                    <option value="">---Select Case Type---</option>
                                    <option ng-repeat="x in caseTypes" ng-selected="updateCase.caseType== x.caseType" value="{{x.caseType}}">{{x.caseType}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Court Name</span>:</label><br>
                                <select class="form-control" ng-model="updateCase.courtName" required>
                                    <option value="">---Select Court Name ---</option>
                                    <option ng-repeat="x in courtName" ng-selected="updateCase.courtName== x.name" value="{{x.name}}">{{x.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label> <span class="color-red f-bold f-left">*</span><span lang="en">Case Submission Date</span>:</label>
                                <input ng-model="updateCase.caseDate" placeholder="Please Select date" type="text" ng-calendar format="%d-%m-%Y" required readonly disabled>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Priority</span>:</label><br>
                                <select  class="form-control" ng-model="updateCase.priority" required>
                                    <option value="">---Select Priority ---</option>
                                    <option ng-repeat="x in priority" ng-selected="updateCase.priority== x.priority" value="{{x.priority}}">{{x.priority}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label><br>
                                <select  class="form-control" ng-model="updateCase.status" required>
                                    <option value="">Select Status</option>
                                    <option ng-repeat="x in status" ng-selected="updateCase.status== x.field1" value="{{x.field1}}">{{x.field1}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left" >*</span><span lang="en">Department</span>:</label><br>
                                <select class="form-control" ng-model="updateCase.department" disabled required>
                                    <option value="">---Select Department ---</option>
                                    <option ng-repeat="x in department" ng-selected="updateCase.department== x.name" value="{{x.name}}">{{x.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Empanel Group</span>:</label><br>
                                <select  class="form-control" ng-model="updateCase.empannel" ng-change="getAdvocates(updateCase.empannel)" disabled required>
                                    <option value="">---Select Empanel Group ---</option>
                                    <option ng-repeat="x in empannels" ng-selected="updateCase.empannel== x.groupName" value="{{x.groupName}}">{{x.groupName}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Advocate</span>:</label><br>
                                <select multiple class="form-control" ng-model="updateCase.advocate">
                                    <!--<option value="">-&#45;&#45;select Advocate -&#45;&#45;</option>-->
                                    <!--<option ng-repeat="x in advocates" value="{{x}}">{{x.name}}</option>-->
                                    <option ng-repeat="x in advocates track by $index" ng-selected="checkAdvocateSelected(x)" value="{{x}}">{{x.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span><span lang="en">Acts</span>:</label><br>
                                <select multiple class="form-control" ng-model="updateCase.act" required>
                                    <option ng-repeat="x in acts"  ng-selected="updateCase.act.indexOf(x.actNumber)>-1" value="{{x.actNumber}}">{{x.actNumber}} </option>
                                </select>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button lang="en" type="submit" class="btn btn-success" value="Update">Save Case</button>
                                <a href="#/case" class="btn btn-default" lang="en">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="projectName" style="text-align: center;"><i class="icon-info-sign"> File Upload Details Are Available into Case Uploads</i></div>

</div>


<!--<div id="addDepartmentSuccess" class="modal fade" role="dialog">-->
<!--<div class="modal-dialog">-->
<!--<div class="modal-content">-->
<!--<div class="modal-body textStyle1">-->

<!--<h4>Successfully  Case With Case Number'<b> {{selectCaseNumb}}</b> ' -is Updated.</h4>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button ng-click="addCaseSuccessModal()" class="btn btn-success width120">OK</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->