<div class="container-fluid" style="background:#f6f7f9;min-height: 430px;" >
    <form role="form" name="myform" ng-submit="addAssetRiskGroupData()">
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2" style="padding:10px">
        <h3>Employee Details </h3>


        <div style="background:#e84c3d;">
            <h3 style="padding: 6px;font-size: 20px;color: white;background-color:#7a7a7a;">Employee Details</h3>
        </div>



        <div style="border:1px solid #ddd;padding: 10px;margin-top: -10px;background: white;">
            <div class="row">



                <div class="col-lg-6 m-top10">
                    <input type="text" ng-model="employee.firstName" class="form-control width95" placeholder="First Name">
                </div>
                <div class="col-lg-6 m-top10">
                    <input type="text" ng-model="employee.lastName" class="form-control width95" placeholder="Last Name">
                </div>

                <div class="col-lg-6 m-top10">
                    <input type="text" class="form-control width95" ng-calendar format="%d-%m-%Y" ng-model="employee.dob" placeholder="Date Of Birth">
                </div>
                <div class="col-lg-6 m-top10">
                    <select  class="form-control width95" ng-model="employee.sex" required>
                        <option value="" selected>Select Sex</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>


                <div class="col-lg-6 m-top10">
                    <input type="text" ng-model="employee.phone" class="form-control width95" placeholder="Phone Number">
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" ng-model="employee.doj" ng-calendar format="%d-%m-%Y" class="form-control width95" placeholder="Date Of Joining">
                </div>

                <div class="col-lg-12 m-top10">
                    <h4>Present Address</h4>
                </div>

                <div class="col-lg-6 m-top10">
                    <input type="text" ng-model="employee.plot" class="form-control width95" placeholder="Plot">
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" ng-model="employee.area" class="form-control width95" placeholder="Area">
                </div>

                <div class="col-lg-6 m-top10">
                    <select class="form-control width95" ng-model="employee.city" required>
                        <option value="" selected>Select City</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Vizag">Vizag</option>
                    </select>

                </div>

                <div class="col-lg-6 m-top10  m-btm10">

                        <select class="form-control width95" ng-model="employee.state" required>
                            <option value="" selected>Select State</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Andhrapradesh">Hyderabad</option>
                        </select>

                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text" ng-model="employee.zipCode" class="form-control width95" placeholder="Zipcode">
                </div>



                <div class="col-lg-12 m-top10">
                    <h4>Permanent Address</h4>
                </div>

                <div class="col-lg-6 m-top10">
                    <input type="text" ng-model="employee.permanentPlot" class="form-control width95" placeholder="Plot">
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text"  ng-model="employee.permanentArea" class="form-control width95" placeholder="Area">
                </div>

                <div class="col-lg-6 m-top10">

                    <select class="form-control width95" ng-model="employee.permanentCity" required>
                        <option value="" selected>Select City</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Vizag">Vizag</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <select class="form-control width95" ng-model="employee.permanentState" required>
                        <option value="" selected>Select State</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Andhrapradesh">Andhra Pradesh</option>
                    </select>
                </div>

                <div class="col-lg-6 m-top10  m-btm10">
                    <input type="text"  ng-model="employee.permanentZipCode" class="form-control width95" placeholder="Zipcode">
                </div>


            </div>
        </div>





        <div class="btn_p m-btm10">
            <button style="padding: 6px 30px;" class="btn grievance_btn btn btn-primary">Submit</button>&emsp;
            <input type="Reset" class="btn cancel_btn" value="Cancel">
            <!-- <button class="btn cancel_btn">Cancel</button> -->
        </div>



    </div>
    </form>
</div>