<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Head/Schemes</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right" > </span> Head/Schemes</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-if="roleLogin.headOrSchemeedit" ng-click="createHeaderModal()" lang="en">Create Head/Scheme</button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#headerSchemeExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="headerSchemeExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile" lang="en">Head/Scheme List</div>
                    <div class="table-responsive projectInner">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th lang="en">Head/Scheme Name</th>
                                <!-- <th>Created Person</th>
                                 <th>Created Date</th>-->
                                <th lang="en">Status</th>
                                <th lang="en" ng-if="roleLogin.headOrSchemeedit">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="header in headerList">
                                <td class="text-capitalize">{{header.name}}</td>
                                <!-- <td>{{header.createdPerson}}</td>
                                 <td>{{header.createdTime}}</td>-->
                                <td>{{header.status}}</td>
                                <td class="width120" ng-if="roleLogin.headOrSchemeedit">
                                    <button ng-if="roleLogin.headOrSchemeedit" class="btn btn-primary" ng-click="editHeaderSchemeButton(header)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            </tbody>


                        </table>
                    </div>
                </div>

            </div>

            <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="projectMain" ng-show="createCharterArea">
                    <div class="projectTile">Create Charter</div>
                    <div class="projectInner">
                        <form role="form" name="myform" ng-submit="createCharter()">
                            <div class="form-group">
                                <label>Charter Name:</label>
                                <input type="text" class="form-control" ng-model="charter.name" required />
                            </div>
                            <div class="form-group">
                                <label>Charter Description:</label>
                                <textarea type="password" rows="5" class="form-control" ng-model="charter.description" required /></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="projectMain" ng-show="editCharterArea">
                    <div class="projectTile">Edit Charter</div>
                    <div class="projectInner">
                        <form role="form" name="myform" ng-submit="editCharter()">
                            <div class="form-group">
                                <label>Charter Name:</label>
                                <input type="text" class="form-control" ng-model="editCharterData.name" required />
                            </div>
                            <div class="form-group">
                                <label>Charter Description:</label>
                                <textarea type="password" rows="5" class="form-control" ng-model="editCharterData.description" required /></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>-->
        </div>

    </div>
</div>


<div id="createHeader" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content schemForms">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Head/Schemes</h4>
            </div>
            <form role="form" name="myform" ng-submit="createHeader()">
                <div class="modal-body">
                    <div class="errorMsg text-center" ng-if="errorMessage" class="">
                        {{errorMessageData}} <hr class="m-tb10"/></div>
                    <div class="form-group">
                        <label lang="en">Head/Scheme Name</label>:
                        <input type="text" class="form-control" ng-model="header.name" placeholder="Enter Head/Scheme Name" title="Enter Head/Scheme Max length is 40"  data-toggle="tooltip" data-placement="top" maxlength="40" required/>
                    </div>
                    <div class="form-group">
                        <label lang="en">Status</label>:
                        <select ng-model="header.status" data-style="btn-primary" required title="Select Status"  data-toggle="tooltip" data-placement="top" >

                            <!-- <option value="" selected>Select Status</option>
                             <option value="Active" selected>Active</option>-->

                            <option value="">Select Status</option>
                            <option value="Active" >Active</option>
                            <option value="In Active">In Active</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editHeader" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content schemForms">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Head/Schemes</h4>
            </div>
            <form role="form" name="myform" ng-submit="editHeader()">
                <div class="modal-body">
                    <div class="errorMsg" ng-if="errorUpdateMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{errorMessageUpdateData}}</div>
                    <div class="form-group">
                        <label lang="en">Head/Scheme Name</label>:
                        <input type="text" class="form-control text-capitalize" placeholder="Enter Head/Scheme Name" ng-model="editHeaderData.name" title="Enter Head/Scheme Max length is 40"  data-toggle="tooltip" data-placement="top" maxlength="40" required />
                    </div>
                    <div class="form-group ">
                        <label lang="en">Status</label>:
                        <!--<select ng-model="editHeaderData.status" data-style="btn-primary">
                            <option value="">Select Status</option>
                            &lt;!&ndash;<option value="Active" ng-selected="editHeaderData.status == Active">Active</option>
                            <option value="In Active" ng-selected="editHeaderData.status == In Active">In Active</option>&ndash;&gt;
                            <option value="Active" selected>Active</option>
                            <option value="In Active">In Active</option>

                        </select>-->

                        <select ng-model="editHeaderData.status" data-style="btn-primary" title="Select Status"  data-toggle="tooltip" data-placement="top" required >
                            <option value="Active" ng-selected="editHeaderData.status=='Active'">Active</option>
                            <option value="In Active" ng-selected="editHeaderData.status=='In Active'">In Active</option>
                        </select>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="createHeadSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully '<b> {{headerDetailsNew.name}}</b> ' - is Created.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="editHeadSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Updated.</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>