<div class="breadcrumbArea">
   <!-- <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land And Asset</span></li>
                <li class="breadcrumb-item active"><span lang="en">Asset Group</span></li>
            </ol>
        </div>
    </div>-->
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">


        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">License Requests</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                            <!--<button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <!-- <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetGroup')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-1" >create License</button> -->
                        </div>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="assetGroup" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Given Name</th>
                            <th lang="en">Name on License</th>
                            <th lang="en">Name of Father</th>
                            <th lang="en">Age</th>
                            <th lang="en">Sex</th>
                            <th lang="en">Date Applied</th>
                            <th lang="en">Type of License</th>
                            <th lang="en">Status</th>
                            <!--<th lang="en">Action</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="asssetType in assetTypeList">

                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="text-capitalize">{{asssetType.name}}</td>
                            <td class="cursor text-capitalize" data-toggle="modal"  data-target="#myModal1">
                                    <button class="btn btn-primary" ><span class="glyphicon glyphicon-pencil"></span></button>
                               </td>
                              
                            <!-- <td class="cursor text-capitalize" data-toggle="modal"  data-target="#myModal1" class="">{{asssetType.status}}</td> -->
                           <!-- <td class="text-capitalize">
                                <button class="btn btn-primary" ng-click="editAssetType(asssetType)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>-->
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content width130">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title creatgri">Apply For New License </h4>
            </div>
            <div class="modal-body">
                <div class="cntinfor">
                    <h3>Type of License</h3>
                </div>
                <div class="entname">
                    <select class="form-control width50 d_inline">
                        <option>Select type of License</option>
                        <option>Two Wheeler</option>
                        <option>Four Wheeler</option>
                        <option>Shop</option>
                    </select>
                </div>
                <div class="grievanceinfor">
                    <h3>Personal Information</h3>
                </div>
                <div class="entname">
                    <div class="row">
                        <div class="col-lg-12 m-top10">
                            <input type="text" class="form-control width98" placeholder="Enter Name">
                        </div>
                        <div class="col-lg-6 m-top10">
                            <input type="text" class="form-control" placeholder="Enter Mobile Number">
                        </div>
                        <div class="col-lg-6 m-top10">
                            <input type="text" class="form-control" placeholder="Email ID">
                        </div>
                        <div class="col-lg-6 m-top10">
                            <input type="text" class="form-control width95" placeholder="Enter Date of Birth">
                        </div>
                        <div class="col-lg-12 m-top10">
                            <input type="text" class="form-control width98" placeholder="Enter Address">
                        </div>

                        <div class="col-lg-12 m-top10  m-btm10">
                            <input type="text" class="form-control width98" placeholder="Enter Zipcode">
                        </div>
                    </div>
                </div>
                <div class="grievanceinfor">
                    <h3>Documents of Proof</h3>
                </div>
                <div class="entname">
                    <div class="row">
                        <div class="col-lg-12 m-top12 m-btm10">
                            <div class="col-lg-8 ">
                                <input type="checkbox">&emsp; Passport &emsp;&emsp;&emsp;&emsp;&emsp;
                                <input type="checkbox">&emsp; Aadhar Card &emsp;&emsp;&emsp;&emsp;&emsp;
                                <button class="btn grievance_btn m-top10">Upload Document</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn grievance_btn">submit</button>&emsp;
                <button class="btn cancel_btn">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content mdt-cnt">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title griv">License Details</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Type of License</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Name of Applicant</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Date of Birth</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Document Given	</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">Test Cleared</label>
                        <div class="col-sm-8">
                            <select class="form-control width50 d_inline">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-4 col-form-label">Status:</label>
                      <div class="col-sm-8">
                        <div class="form-group">
                          <select class="form-control">
                            <option value="New">New</option>
                            <option value="Close">Close</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-4 col-form-label">comments:</label>
                      <div class="col-sm-8">
                        <textarea style="width:100%;"></textarea>
                      </div>
                    </div> -->
                    <div class="submit_style">
                        <button type="submit" class="btn btn-primary">Approved</button>
                        <button type="submit" value="Cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div id="addAssetType" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Add Asset Group</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="addAssetRiskGroupData()">
                <div class="row schemForms">

                    <div class="modal-body">

                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Asset Group</span>:</label>
                            <input type="text" placeholder="Enter Asset Group Name" class="form-control" ng-model="assetType.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="assetType.status" data-style="btn-primary" data-placement="Select status" required>
                                <option value="" selected>Select Status</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editAssetTypeModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        &lt;!&ndash; Modal content&ndash;&gt;
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Edit Asset Group</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="editAssetRiskGroupButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}</div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Asset Group</span>:</label>
                            <input type="text" placeholder="Enter Asset Group Name" class="form-control" ng-model="editAssetTypeData.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red">*</span><span lang="en">Status</span>:</label>
                            <select ng-model="editAssetTypeData.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{assetType.name}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editAssetSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{editAssetTypeData.name}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>-->
