<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Reports</span></li>
                <li class="breadcrumb-item active"><span lang="en">List of Schemes</span></li>
            </ol> -->
        </div>
    </div>
</div>
<!--<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>-->
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> List Of Schemes</div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#listOfSchemeDetails')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>

                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <!--<table id="schemesExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>-->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row schemForms ">
                    <form ng-submit="searchData()">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center" ng-show="editDoubleClick">
                            {{errorUpdateMessage}}
                            <hr class="m-tb10" />
                        </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <h5 lang="en">Category</h5>
                            <select ng-model="search.category" data-style="btn-primary" >
                                <option value="">Select Category</option>
                                <option value="all">All</option>
                                <option value="central">Central Govt Schemes</option>
                                <option  value="state">State Schemes</option>
                                <option value="local">Local Schemes</option>
                            </select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en">Select OR Search Dept Name</h5>
                        <ui-select ng-change="selectDepartmentName($select.selected.id)" reset-search-input="true" ng-model="deptId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Department Name">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="dept in deptList | filter: $select.search">
                                <!--<span ng-bind-html="proId.projectId | highlight: $select.search"></span>-->
                                <small ng-bind-html="dept.name | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <h5 class="text-left" lang="en">Select OR Search Ministry Name</h5>
                        <ui-select ng-change="selectMinistryName($select.selected.id)" reset-search-input="true" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search Ministry Name">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="ministry in ministryList | filter: $select.search">
                                <!--<span ng-bind-html="proId.projectId | highlight: $select.search"></span>-->
                                <small ng-bind-html="ministry.name | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <h5 lang="en">Status</h5>
                        <select ng-model="search.status" data-style="btn-primary" >
                            <option value="">Select Status</option>
                            <option value="all">All</option>
                            <option value="Active">Active</option>
                            <option  value="InActive">In Active</option>
                        </select>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-success m-top20" >Submit</button>
                    </div>
                    </form>
                </div>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <table id="listOfSchemeDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                <div ng-show="selectProjectDetails">
                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Filter Data</div>
                        <div class="p-all table-responsive">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped ">
                                <thead>
                                    <tr>
                                        <th>Scheme Name</th>
                                        <th>Category</th>
                                        <th>Department Name</th>
                                        <th>Ministry Name</th>
                                        <th>Budget</th>
                                        <th>Commincement</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="schemsData in schemeList">
                                        <td class="text-capitalize">{{schemsData.name}}</td>
                                        <td class="text-capitalize">{{schemsData.category}}</td>
                                        <td class="text-capitalize">{{schemsData.departmentName}}</td>
                                        <td class="text-capitalize">{{schemsData.ministryName}}</td>
                                        <td>{{schemsData.budget}}</td>
                                        <td>{{schemsData.commincement}}</td>
                                        <td class="text-capitalize">{{schemsData.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>