<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Measurement Book </span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Measurement Book</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectMeasurementBook')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" ng-click="addMeasurementBookModal()" lang="en" ng-show="subtaskDetails">Add Project Measurement Book</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="projectMeasurementBook" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-left" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class=" col-lg-6  col-md-6 col-md-12 col-sm-12 col-xs-12" ng-show="subtaskList">
                <div>
                    <h5 class="text-left" lang="en">Select OR Search Projects Sub Task</h5>
                    <ui-select ng-change="selectMeasurement($select.selected.subTaskName)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.subTaskName}}</ui-select-match>
                        <ui-select-choices repeat="proId in subTaskList | filter: $select.search">
                            <span ng-bind-html="proId.subTaskName | highlight: $select.search"></span>
                            <!-- <small ng-bind-html="proId.subTaskName | highlight: $select.search"></small>-->
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                       <div class="projectMain m-top20 m-btm20 table-responsive" ng-show="subtaskList">
                           <div class="projectTile" lang="en">Plan Details</div>
                           <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                           <table class="table table-bordered nopadding">
                               <tr>
                                   <td class="width160"><b lang="en">Plan ID</b></td>
                                   <td class="width20">:</td>
                                   <td>{{selectProjectDetails.planId}}</td>
                                   <td><b lang="en">Plan Name</b></td>
                                   <td class="width20">:</td>
                                   <td>{{selectProjectDetails.name}}</td>
                               </tr>

                               <tr>
                                   <td><b lang="en">Financial Year</b></td>
                                   <td>:</td>
                                   <td>{{selectProjectDetails.financialYear}}</td>
                                   <td><b lang="en">Applicant ID</b></td>
                                   <td class="width20">:</td>
                                   <td>{{selectProjectDetails.applicantId}}</td>
                               </tr>
                               <tr>
                                   <td><b lang="en">Start Date</b></td>
                                   <td>:</td>
                                   <td>{{selectProjectDetails.startDate}}</td>
                                   <td><b lang="en">End Date</b></td>
                                   <td class="width20">:</td>
                                   <td>{{selectProjectDetails.endDate}}</td>
                               </tr>
                               <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                               -->   <tr>
                               <td><b lang="en">Estimation Cost</b></td>
                               <td>:</td>
                               <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                               <td><b lang="en">Utilized Cost</b></td>
                               <td class="width20">:</td>
                               <td>{{selectProjectDetails.utilizedCost}}</td>
                           </tr>
                               <tr>
                                   <td><b lang="en">Task Status</b></td>
                                   <td class="width20">:</td>
                                   <td>{{selectProjectDetails.taskStatus}}</td>
                                   <td><b lang="en">Plan Status</b></td>
                                   <td class="width20">:</td>
                                   <td>{{selectProjectDetails.palnStatus}}</td>
                               </tr>
                               <tr>
                                   <td><b lang="en"><span>%</span> Complete</b></td>
                                   <td>:</td>
                                   <td>{{selectProjectDetails.completePercentage}}</td>
                                   <td><b lang="en">Department</b></td>
                                   <td>:</td>
                                   <td>{{selectProjectDetails.department}}</td>
                               </tr>
                               <tr>
                                   <td><b lang="en">Plan Description</b></td>
                                   <td class="width20">:</td>
                                   <td colspan="4">{{selectProjectDetails.description}}</td>
                               </tr>

                           </table>
                       </div>

                    <div class="projectMain m-top20 m-btm20" ng-show="subtaskDetails">
                        <div class="projectTile" lang="en">Project Task Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th lang="en">Header Name</th>
                                    <th lang="en">Task Name</th>
                                    <th lang="en">Start Date</th>
                                    <th lang="en">End Date</th>
                                    <th lang="en">Financial Year</th>
                                    <th lang="en">Estimated Cost</th>
                                    <th lang="en">Utilized Cost</th>
                                    <th><span lang="en">Complete</span>(%)</th>
                                    <th lang="en">Status</th>
                                    <th lang="en">Resource Name</th>
                                    <!--  <th lang="en">Action</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr >
                                    <td>{{subTaskDetails.headerName}}</td>
                                    <td>{{subTaskDetails.subTaskName}}</td>
                                    <td>{{subTaskDetails.startDate}}</td>
                                    <td>{{subTaskDetails.endDate}}</td>
                                    <td>{{subTaskDetails.financialYear}}</td>
                                    <td>{{subTaskDetails.estimatedCost}}</td>
                                    <td>{{subTaskDetails.utilizedCost}}</td>
                                    <td>{{subTaskDetails.completePercenatge}}</td>
                                    <td>{{subTaskDetails.status}}</td>
                                    <td>{{subTaskDetails.resource}}</td>
                                 </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="projectMain m-top20 m-btm20 " ng-show="subtaskDetails">
                        <div class="projectTile" lang="en">Project Measurement Book Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Measurement Id</th>
                                    <th lang="en">Contractor Name</th>
                                    <th lang="en">Allotted Work</th>
                                    <th lang="en">Date Completion</th>
                                    <th lang="en">Sanctioning Authority</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="details in subTaskLists" >
                                    <td>{{details.measurementId}}</td>
                                    <td>{{details.reviewPersonName}}</td>
                                    <td>{{details.allottedWork}}</td>
                                    <td>{{details.dateCompletion}}</td>
                                    <td>{{details.sanAuthority}}</td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="editMeasurement(details)"><span lang="en">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </span> </a>
                                        <a class="btn btn-primary" ng-click="viewMeasurement(details)"><span lang="en">
                                            <span class="glyphicon glyphicon-th-large"></span>
                                        </span> </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div id="createMeasurementBook" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" lang="en">Create Measurement Book</h4>
                </div>
                <form role="form" class="" name="myform" class="adminContent" ng-submit="addMeasurementBook()">
                    <div class="modal-body">
                        <div class="row schemForms">
                            <div class="form-group col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Name Of the Contractor</label>:
                                <!--<input  placeholder="Enter Name Of the Contractor" type="text" ng-model="measurementData.contractorName" required/>-->
                                <select ng-model="measurementData.contractorName" data-style="btn-primary" required>
                                    <option value="">Select Contractor</option>
                                    <option ng-repeat="contrator in contratorList" value="{{contrator.employeeId}}">{{contrator.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Particulars of work Allotted</label>:
                                <input  placeholder="Enter Particulars of work Allotted"  type="text" ng-model="measurementData.allottedWork" required/>
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <label><br></label>
                                <a href="{{docUploadURL}}{{appConfig.measurementReferenceId[0]._id}}" target="_blank" class="btn  btn-primary" data-toggle="tooltip" title="Help"><span class="glyphicon glyphicon-question-sign"></span></a>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <lable class="color-theme">Details of Work Allotted</lable>
                                <hr class="m-tb10" />
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Length <small>(In Meters)</small></label>:
                                        <input  placeholder="Enter Length"  type="text" valid-number ng-model="measurementData.allottedWorkLength" required/>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Breadth <small>(In Meters)</small></label>:
                                        <input  placeholder="Enter Breadth"  type="text" valid-number ng-model="measurementData.allottedWorkBreadth" required/>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Height <small>(In Meters)</small></label>:
                                        <input  placeholder="Enter Height"  type="text" valid-number ng-model="measurementData.allottedWorkHeight" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <lable class="color-theme">Work Completed Till Date</lable>
                                <hr class="m-tb10" />
                                <div class="row">
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Length <small>(In Meters)</small></label>:
                                        <input  placeholder="Enter Length"  type="text" valid-number ng-model="measurementData.compltedDateLength" required/>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Breadth <small>(In Meters)</small></label>:
                                        <input  placeholder="Enter Breadth"  type="text" valid-number ng-model="measurementData.compltedDateBreadth" required/>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Height <small>(In Meters)</small></label>:
                                        <input  placeholder="Enter Height"  type="text" valid-number ng-model="measurementData.compltedDateHeight" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Due Date of Completion</label>:
                                <input  placeholder="Enter Due Date of Completion"  type="text" ng-calendar ng-model="measurementData.dateCompletion" format="%d-%m-%Y" readonly required/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Amount of Work(RS)</label>:
                                <input  placeholder="Enter Amount of Work(RS)"  type="text" valid-number ng-model="measurementData.amountWork" required/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Amount of Work Completed(RS)</label>:
                                <input  placeholder="Enter Amount of Work Completed(RS)"  type="text"  valid-number ng-model="measurementData.completedWorkAmount" required/>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Advance Pay(RS)</label>:
                                <input  placeholder="Enter Advance Pay"  type="text"  valid-number ng-model="measurementData.advacePay" required/>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>TDS</label>:
                                <input  placeholder="Enter TDS"  type="text" ng-model="measurementData.tds" required/>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Security Deposit(RS)</label>:
                                <input  placeholder="Enter Security Deposit"  type="text" ng-model="measurementData.SecurityDeposite" required/>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label lang="en"><span class="color-red f-bold f-left">*</span>Sanctioning Authority</label>:
                                <input  placeholder="Enter Sanctioning Authority"  type="text" ng-model="measurementData.sanAuthority" required/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" lang="en">Submit</button>
                        <button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>
                        <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div id="editMeasurementBook" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Measurement Book</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editMeasureBookSubmit()">

                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Name Of the Contractor</label>:
                            <!--<input  placeholder="Enter Name Of the Contractor" type="text" ng-model="editMeasureBook.contractorName" required/>-->
                            <select ng-model="editMeasureBook.contractorName" data-style="btn-primary" required>
                                <option value="">Select Contractor</option>
                                <option ng-repeat="contrator in contratorList" ng-selected="editMeasureBook.employeeId == contrator.employeeId" value="{{contrator.employeeId}}">{{contrator.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Particulars of work Allotted</label>:
                            <input  placeholder="Enter Particulars of work Allotted"  type="text" ng-model="editMeasureBook.allottedWork" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <lable class="color-theme">Details of Work Allotted</lable>
                            <hr class="m-tb10" />
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Length <small>(In Meters)</small></label>:
                                    <input  placeholder="Enter Length"  type="text" valid-number ng-model="editMeasureBook.allottedWorkLength" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Breadth <small>(In Meters)</small></label>:
                                    <input  placeholder="Enter Breadth"  type="text" valid-number ng-model="editMeasureBook.allottedWorkBreadth" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Height <small>(In Meters)</small></label>:
                                    <input  placeholder="Enter Height"  type="text" valid-number ng-model="editMeasureBook.allottedWorkHeight" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <lable class="color-theme">Work Completed Till Date</lable>
                            <hr class="m-tb10" />
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Length <small>(In Meters)</small></label>:
                                    <input  placeholder="Enter Length"  type="text" valid-number ng-model="editMeasureBook.compltedDateLength" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Breadth <small>(In Meters)</small></label>:
                                    <input  placeholder="Enter Breadth"  type="text" valid-number ng-model="editMeasureBook.compltedDateBreadth" required/>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Height <small>(In Meters)</small></label>:
                                    <input  placeholder="Enter Height"  type="text" valid-number ng-model="editMeasureBook.compltedDateHeight" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Due Date of Completion</label>:
                            <input  placeholder="Enter Due Date of Completion"  type="text" ng-calendar ng-model="editMeasureBook.dateCompletion" format="%d-%m-%Y" readonly required/>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Amount of Work(RS)</label>:
                            <input  placeholder="Enter Amount of Work(RS)"  type="text" valid-number ng-model="editMeasureBook.amountWork" required/>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Amount of Work Completed(RS)</label>:
                            <input  placeholder="Enter Amount of Work Completed(RS)"  type="text"  valid-number ng-model="editMeasureBook.completedWorkAmount" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Advance Pay(RS)</label>:
                            <input  placeholder="Enter Advance Pay"  type="text"  valid-number ng-model="editMeasureBook.advacePay" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>TDS</label>:
                            <input  placeholder="Enter TDS"  type="text" ng-model="editMeasureBook.tds" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Security Deposit(RS)</label>:
                            <input  placeholder="Enter Security Deposit"  type="text" ng-model="editMeasureBook.SecurityDeposite" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Sanctioning Authority</label>:
                            <input  placeholder="Enter Sanctioning Authority"  type="text" ng-model="editMeasureBook.sanAuthority" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="viewMeasurementBook" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Project Measurement Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                            <tr>
                                <td class="width120"><b lang="en">Plan Id</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.planId}}</td>
                                <td class="width120"><b lang="en">SubTask Name</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.subTaskName}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Contractor Name</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.reviewPersonName}}</td>
                                <td class="width120"><b lang="en">Allotted Work</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.allottedWork}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Measurement Id</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{viewMeasurementDetails.measurementId}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="width: 50%;">
                                    <table class="table table-bordered theadBg nopadding">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Details of Work Allotted</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="width120"><b lang="en">Length</b> <small>(In Meters)</small></td>
                                                <td class="width20">:</td>
                                                <td>{{viewMeasurementDetails.allottedWorkLength}}</td>
                                            </tr>
                                            <tr>
                                                <td class="width120"><b lang="en">Breadth</b> <small>(In Meters)</small></td>
                                                <td class="width20">:</td>
                                                <td>{{viewMeasurementDetails.allottedWorkBreadth}}</td>
                                            </tr>
                                            <tr>
                                                <td class="width120"><b lang="en">Height</b> <small>(In Meters)</small>/td>
                                                <td class="width20">:</td>
                                                <td>{{viewMeasurementDetails.allottedWorkHeight}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="3" style="width: 50%;">
                                    <table class="table table-bordered theadBg nopadding">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Work Completed Till Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="width120"><b lang="en">Length</b> <small>(In Meters)</small></td>
                                                <td class="width20">:</td>
                                                <td>{{viewMeasurementDetails.compltedDateLength}}</td>
                                            </tr>
                                            <tr>
                                                <td class="width120"><b lang="en">Breadth</b> <small>(In Meters)</small></td>
                                                <td class="width20">:</td>
                                                <td>{{viewMeasurementDetails.compltedDateBreadth}}</td>
                                            </tr>
                                            <tr>
                                                <td class="width120"><b lang="en">Height</b> <small>(In Meters)</small></td>
                                                <td class="width20">:</td>
                                                <td>{{viewMeasurementDetails.compltedDateHeight}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Due Date Of Completion</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.dateCompletion}}</td>
                                <td class="width120"><b lang="en">Amount Work</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.amountWork}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Completed Work Amount</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.completedWorkAmount}}</td>
                                <td class="width120"><b lang="en">Advance Pay(RS)</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.advacePay}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Security Deposit(RS)</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.SecurityDeposite}}</td>
                                <td class="width120"><b lang="en">Sanctioning Authority</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.sanAuthority}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">TDS</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{viewMeasurementDetails.tds}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Created Person</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.createdPerson}}</td>
                                <td class="width120"><b lang="en">Created Time</b></td>
                                <td class="width20">:</td>
                                <td>{{viewMeasurementDetails.createdTime | date: "dd-MM-yyyy hh:mm:ss a"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" ng-click="editBook(viewMeasurementDetails)" lang="en">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approve Project TOR Report</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject Project TOR Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="creatMeasurementBookSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Project Measurement Book is Created Successfully</div>
            </div>
        </div>
    </div>
</div>

<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Project Measurement Book is Updated.</div>
            </div>
        </div>
    </div>
</div>