<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en"> Measurement Details</span></li>
            </ol> -->
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">
        <form ng-submit="measurementMISDetails()">
            <div class="row schemForms">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Measurement Details</div>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>


                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group">
                    <h5 class="text-left" lang="en">Select Financial Year</h5>
                    <select ng-change="selectProject()" ng-model="selectYear">
                        <option value="" disabled>Select Financial Year</option>
                        <option value="2016-2017">2016-2017</option>
                        <option value="2017-2018">2017-2018</option>
                        <option value="2018-2019">2018-2019</option>
                        <option value="2019-2020">2019-2020</option>
                        <option value="2020-2021">2020-2021</option>
                        <option value="2021-2022">2021-2022</option>
                        <option value="2022-2023">2022-2023</option>
                        <option value="2023-2024">2023-2024</option>
                        <option value="2024-2025">2024-2025</option>
                        <option value="2025-2026">2025-2026</option>
                        <option value="2026-2027">2026-2027</option>
                    </select>
                </div>

                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group" ng-show="showProjects">
                    <h5 class="text-left" lang="en">Select OR Search Project</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search project">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="department in schemeListData | filter: $select.search">
                            <span ng-bind-html="department.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>


                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group" ng-show="showSubtasks">
                    <div>
                        <h5 class="text-left" lang="en">Select OR Search Projects Sub Task <span ng-show="!subTaskName" class="color-red"> - {{editFieldVisit.subTaskName}}</span></h5>
                        <ui-select ng-change="selectSubTask($select.selected.subTaskName)" ng-model="projectId" theme="selectize">
                            <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.subTaskName}}</ui-select-match>
                            <ui-select-choices repeat="proId in subTaskList | filter: $select.search">
                                <span ng-bind-html="proId.subTaskName | highlight: $select.search"></span>
                                <!-- <small ng-bind-html="proId.subTaskName | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12" ng-show="showSubtasks">
                    <br />
                    <button class="btn btn-success width200">Submit</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showDetails">

            <div>
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th lang="en">Measurement Id</th>
                                <th lang="en">PlanId</th>
                                <th lang="en">SubTask Name</th>
                                <th lang="en">Contractor Name</th>
                                <th lang="en">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mdata in measurementData">
                                <td>{{mdata.measurementId}}</td>
                                <td>{{mdata.planId}}</td>
                                <td>{{mdata.subTaskName}}</td>
                                <td>{{mdata.contractorName}}</td>
                                <td>
                                    <button type="button" data-toggle="tooltip" title="View Payment Order Details" ng-click="measureMISModal(mdata)"class="btn btn-primary" >
                                        <span class="glyphicon glyphicon-th-large"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>

<div id="viewMeasureMISDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Measurement Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                            <tr>
                                <td class="width120"><b lang="en">Plan Id</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.planId}}</td>
                                <td class="width120"><b lang="en">SubTask Name</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.subTaskName}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Measurement Id</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.measurementId}}</td>
                                <td class="width120"><b lang="en">Contractor Name</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.contractorName}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b lang="en">Allotted Work</b>
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td class="width120"><b lang="en">Length</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.allottedWorkLength}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width120"><b lang="en">Breadth</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.allottedWorkBreadth}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width120"><b lang="en">Height</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.allottedWorkHeight}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width120"><b lang="en">Amount</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.amountWork}}</td>
                                        </tr>
                                    </table>
                                </td>
                                <td colspan="3"><b lang="en">Completed Work</b>
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            <td class="width120"><b lang="en">Length</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.compltedDateLength}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width120"><b lang="en">Breadth</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.compltedDateBreadth}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width120"><b lang="en">Height</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.compltedDateHeight}}</td>
                                        </tr>
                                        <tr>
                                            <td class="width120"><b lang="en">Amount</b></td>
                                            <td class="width20">:</td>
                                            <td>{{measureDetails.completedWorkAmount}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Date Completion</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.dateCompletion}}</td>
                                <td class="width120"><b lang="en">Advance Pay</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.advacePay}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">TDS</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.tds}}</td>
                                <td class="width120"><b lang="en">Security Deposit</b></td>
                                <td class="width20">:</td>
                                <td>{{measureDetails.SecurityDeposite}}</td>
                            </tr>
                            <tr>
                                <td class="width120"><b lang="en">Sanction Authority</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{measureDetails.sanAuthority}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>