<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><a href="#/NOCRequestMIS"><span lang="en"> NOC Request Details</span></a></li>
                <li class="breadcrumb-item active"><span lang="en"> NOC Request View Details</span></li>
            </ol>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">
        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> NOC Request View Details</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div>
                    <div class="table-responsive">
                        <table class="table theadBg table-bordered table-stripped table-hover"  data-ng-repeat="p in deptWiseViewData">
                            <tbody>
                            <tr>
                                <td class="width160 "><b lang="en">Person Name</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.personName}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Email Id</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.email}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Mobile Number</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.mobile}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Department</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.department}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">NOC Amount</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.nocAmountAction}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Location</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.location}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">City</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.city}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Area</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.city}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Feet</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.feet}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Yard</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.yard}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Owner</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.owner}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Address</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.address}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Request Status</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.requestStatus}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Accept Status</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.acceptStatus}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Application Id</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.applicationId}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Accept Level</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.acceptLevel}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Final Status</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.finalStatus}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Filed Status</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.filedStatus}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Max level</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.maxlevel}}</td>
                            </tr>
                            <tr>
                                <td class="width160 "><b lang="en">Workflow Id</b></td>
                                <td class="width20">:</td>
                                <td class="text-capitalize">{{p.workflowId}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>Uploaded File Details</b>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th lang="en">File Name</th>
                                            <th lang="en">Comment</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="files in p.file">
                                            <td>{{files.name}}</td>
                                            <td class="text-capitalize">{{files.comment}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>Workflow Details</b>
                                    <table class="table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th lang="en">Level Id</th>
                                            <th lang="en">Status</th>
                                            <th lang="en">Level No</th>
                                            <th lang="en">employees</th>
                                            <th lang="en">createdTime</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="workFlow in p.workflowData">
                                            <td>{{workFlow.levelId}}</td>
                                            <td class="text-capitalize">{{workFlow.status}}</td>
                                            <td>{{workFlow.levelNo}}</td>
                                            <td>{{workFlow.employees}}</td>
                                            <td>{{workFlow.createdTime | date:'MM/dd/yyyy @ h:mma'}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>