<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en"> NOC Request Details</span></li>
            </ol>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">
        <form ng-submit="applicationDetails()">
            <div class="row schemForms">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> NOC Request Details</div>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>

                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group">
                    <h5 class="text-left" lang="en">Select Status</h5>
                    <select ng-change="selectStatus()" ng-model="statusSelect">
                        <option value="" disabled>Select Status</option>
                        <option value="Approv">Approval</option>
                        <option value="Rejected">Rejected</option>
                        <option value="false">false</option>
                    </select>
                </div>

                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group">
                    <h5 class="text-left" lang="en">Select Start Date</h5>
                    <input ng-model="startDate" placeholder="Please Select Start Date"  type="text" title="Please Select  Date" ng-calendar ng-model="myDate" format="%m-%d-%Y" required readonly>
                </div>

                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group">
                    <h5 class="text-left" lang="en">Select End Date</h5>
                    <input ng-model="endDate" placeholder="Please Select End Date"  type="text" title="Please Select  Date" ng-calendar ng-model="myDate1" format="%m-%d-%Y" required readonly>
                </div>

                <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12">
                    <br />
                    <br />
                    <button class="btn btn-success width200">Submit</button>
                </div>

            </div>

        </form>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showDetails1">

                <div>
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th lang="en">Application Id</th>
                                <th lang="en">Final Status</th>
                                <th lang="en">Requested</th>
                                <th lang="en">Request Status</th>
                                <!--<th lang="en">Contractor Name</th>-->
                                <!--<th lang="en">Action</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="mdata in applicationRequest">
                                <td><a data-toggle="tooltip" title="View Bill Details" href="#/NOCRequestView/{{mdata.applicationId}}/">{{mdata.applicationId}}</a></td>
                                <td>{{mdata.finalStatus}}</td>
                                <td>{{mdata.requested}}</td>
                                <td>{{mdata.requestStatus}}</td>
                                <!--<td><a data-toggle="tooltip" title="View Bill Details" href="#/billMISView/{{mdata.planId}}/{{mdata.subtask}}">{{mdata.planId}}</a></td>-->
                                <!--<td>{{mdata.planId}}</td>-->
                                <!--<td>{{mdata.subtask}}</td>-->
                                <!--<td>{{mdata.contractorName}}</td>-->
                                <!--<td>
                                    <button type="button" data-toggle="tooltip" title="View Payment Order Details" ng-click="measureMISModal(mdata)"class="btn btn-primary" >
                                        <span class="glyphicon glyphicon-th-large"></span>
                                    </button>
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="viewMeasureMISDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Bill Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                        <tr>
                            <td class="width120"><b lang="en">Plan Id</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.planId}}</td>
                            <td class="width120"><b lang="en">SubTask Name</b></td>
                            <td class="width20">:</td>
                            <td class="text-capitalize">{{measureDetails.subtask}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Bill Id</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.billId}}</td>
                            <td class="width120"><b lang="en">reviewPerson</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.reviewPerson}}</td>
                        </tr>
                        <tr>
                            <td colspan="6"><b lang="en">Bill Details</b>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Units</th>
                                        <th>Rate</th>
                                        <th>Measurement</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="rowdata in measureDetails.rows">
                                        <td>{{rowdata.name}}</td>
                                        <td>{{rowdata.billDescription}}</td>
                                        <td>{{rowdata.billUnits}}</td>
                                        <td>{{rowdata.billRate}}</td>
                                        <td>{{rowdata.billMeasurement}}</td>
                                        <td>{{rowdata.billAmount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Total Amount</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.totalAmount}}</td>
                            <td class="width120"><b lang="en">Workflow Id</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.workflowId}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Final Status</b></td>
                            <td class="width20">:</td>
                            <td>{{measureDetails.finalStatus}}</td>
                            <td class="width120"><b lang="en">Approved Amount</b></td>
                            <td class="width20">:</td>
                            <td colspan="4">{{measureDetails.approvedAmount}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Review Person Name</b></td>
                            <td class="width20">:</td>
                            <td colspan="4">{{measureDetails.reviewPersonName}}</td>
                        </tr>
                        <td>
                        <td class="width120"><b lang="en">Comment</b></td>
                        <td class="width20">:</td>
                        <td colspan="4">{{measureDetails.comment}}</td>
                        </td>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>