<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en"> NOC Request Aging Details</span></li>
            </ol>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> NOC Request Aging Details</div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-show="showDetails">

                <div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr>
                                <td class="width200"><b>Ten Days Count</b></td>
                                <td class="width20">:</td>
                                <td><a data-toggle="tooltip" target="_blank" title="View Bill Details" href="#/NOCRequestAgingDays/tenDays">{{requestAging.tenDaysCount}}</a></td>
                            </tr>
                            <tr>
                                <td class="width200"><b>One Month Count</b></td>
                                <td class="width20">:</td>
                                <td><a data-toggle="tooltip" target="_blank" title="View Bill Details" href="#/NOCRequestAgingDays/thirtyDays">{{requestAging.oneMonthCount}}</a></td>
                            </tr>
                            <tr>
                                <td class="width200"><b>Three Month Count</b></td>
                                <td class="width20">:</td>
                                <td><a data-toggle="tooltip" target="_blank" title="View Bill Details" href="#/NOCRequestAgingDays/threeMonths">{{requestAging.threeMonthCount}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>
