<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Payment Milestone</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Payment Milestone</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#paymentMilestone')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" ng-click="createProMilestoneModal()" lang="en">Create Payment Milestone</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="paymentMilestone" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="schemForms text-center">
                    <select ng-change="selectareas(projectId)" ng-model="projectId">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="proId in charterList" value="{{proId.projectId}}">{{proId.projectId}} - <b class="pull-right">{{proId.name}}</b></option>
                    </select>
                </div>-->
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">


                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span>Complete</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Payment Milestone Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Field Visitor Details</div>-->
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="projectMilestone">
                                <thead>
                                <tr >
                                    <th lang="en">Payment Milestone Name</th>
                                    <th lang="en">Description</th>
                                    <th lang="en">Expected Date</th>
                                    <th lang="en">Status</th>
                                    <th lang="en">Comment</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="paymentMilestone in paymentMilestoneList" >
                                    <!--<td>{{paymentMilestone.tentativeDate}}</td>-->
                                    <td class="text-capitalize">{{paymentMilestone.milestoneName}}</td>
                                    <td class="text-capitalize">{{paymentMilestone.description}}</td>
                                    <td class="text-capitalize width120">{{paymentMilestone.expectedDate}}</td>
                                    <td class="text-capitalize">{{paymentMilestone.status}}</td>
                                    <td class="text-capitalize">{{paymentMilestone.comment}}</td>
                                    <td class="width120">
                                        <button class="btn btn-primary" data-toggle="tooltip" title="Edit Payment Milestone Details" ng-click="editProjectMilestone(paymentMilestone)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button class="btn btn-primary pull-left m-right5" data-toggle="tooltip" title="View Payment Milestone Details" ng-click="viewPaymentMilestone(paymentMilestone)"><span class="glyphicon glyphicon-th-large"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                                <!--<tfoot>
                                <tr>
                                    <th>Tentative Date</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>-->
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div id="createProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Payment Milestone</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="createPaymentMilestone()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Payment Milestone Name</label>:
                            <input ng-model="paymentMilestone.milestoneName" placeholder="Project Milestone Name" type="text" required/>

                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span> Milestone Description</label>:
                            <textarea rows="3" ng-model="paymentMilestone.description" placeholder="Enter Description" required></textarea>

                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Date</label>:
                            <input  placeholder="Expected Date" type="text" ng-calendar ng-model="paymentMilestone.expectedDate" format="%d-%m-%Y" readonly>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Payment Milestone Status</label>:
                            <select  ng-model="paymentMilestone.status" required>
                                <option value="">Select Payment Milestone Status</option>
                                <option>Active</option>
                                <option>In Active</option>

                            </select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span> Comment</label>
                            <textarea rows="3" ng-model="paymentMilestone.comment" placeholder="Enter Comment" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Payment Milestone</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="editProjectMilestoneDetails()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Payment Milestone Name</label>:
                            <input ng-model="editMilestoneId.milestoneName" placeholder="Project Milestone Name" type="text" required/>

                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Description</label>:
                            <textarea rows="5" ng-model="editMilestoneId.description" placeholder="Enter Description" required></textarea>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Date</label>:
                            <input placeholder="Expected Date" type="text" ng-calendar ng-model="editMilestoneId.expectedDate" format="%d-%m-%Y" readonly>
                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Payment Milestone Status</label>:
                            <select  ng-model="editMilestoneId.status" required>
                                <option value="">Select Payment Milestone Status</option>
                                <option>Active</option>
                                <option>In Active</option>

                            </select>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="editMilestoneId.comment" placeholder="Enter Comment" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="reset" class="btn btn-info" lang="en">Reset</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="viewProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Payment Milestone Details</h4>
            </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th class="width200" lang="en">Payment Milestone Name</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.milestoneName}}</td>
                        </tr>
                        <tr>
                            <th lang="en">Payment Milestone Description</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.description}}</td>
                        </tr>
                        <tr>
                            <th lang="en">Expected Date</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.expectedDate}}</td>
                        </tr>
                        <tr>
                            <th lang="en">Payment Milestone Status</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.status}}</td>
                        </tr>
                        <tr>
                            <th lang="en">Comment</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.comment}}</td>
                        </tr>
                        <tr>
                            <th lang="en">Created Person</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.createdPerson}}</td>
                        </tr>
                        <!--<tr>
                            <th lang="en">Created Time</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.createdTime}}</td>
                        </tr>
                        <tr>
                            <th lang="en">Updated Time</th>
                            <td class="width20">:</td>
                            <td>{{viewMilestoneId.updatedTime}}</td>
                        </tr>-->
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="editProjectMilestone(viewMilestoneId)" lang="en">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
        </div>

    </div>
</div>

<div id="createPaymentMilestoneSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{paymentMilestone.milestoneName}}</b> '  is Created.</div>
            </div>
        </div>
    </div>
</div>
<div id="editPaymentMilestoneSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Payment Milestone is Created.</div>
            </div>
        </div>
    </div>
</div>