<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active">Configuration</li>
                <li class="breadcrumb-item active"><span lang="en">Department List</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Department List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-if="roleLogin.planDepartmentedit"  ng-click="addDepartmentModal()" lang="en">Add Department</button>
                        <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#departmentExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="departmentExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Department Name</th>
                            <th lang="en">Status</th>
                            <th lang="en" ng-if="roleLogin.planDepartmentedit" >Action</th>
                        </tr>
                        </thead>
                        <!--<thead>
                        <tr>
                            <td><input ng-model="f.name"></td>
                            <td><input ng-model="f.status"></td>
                            <td></td>
                        </tr>
                        </thead>-->
                        <tbody>
                        <tr ng-repeat="department in departmentList | filter:f">
                            <td class="text-capitalize">{{department.name}}</td>
                            <td class="text-capitalize"> {{department.status}}</td>
                            <td ng-if="roleLogin.planDepartmentedit" >
                                <button class="btn btn-primary" ng-click="editDepartment(department)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addDepartment" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span lang="en">Add Department</span></h4>
            </div>
            <form role="form" name="myform" ng-submit="addDepartment()">
                <div class="row schemForms">

                    <div class="modal-body">
                        <div  ng-if="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageData}}<hr class="m-tb10" /></div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Department Name</span>:</label>
                            <input type="text" placeholder="Enter Department Name" class="form-control" ng-model="department.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Status</span>:</label>
                            <select ng-model="department.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" disabled>--Select Status--</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editDepartment" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Department</h4>
            </div>
            <form role="form" name="myform" ng-submit="editDepartmentButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="errorMsg text-center" ng-if="errorUpdateMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                            {{errorMessageUpdateData}}<hr class="m-tb10" />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Department Name</span>:</label>
                            <input type="text" placeholder="Enter Department Name" class="form-control" ng-model="editDepartmentData.name" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span lang="en">Status</span>:</label>
                            <select ng-model="editDepartmentData.status" data-style="btn-primary" data-placement="Select Plan ID" required>
                                <option value="" disabled>--Select Status--</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button lang="en" type="submit" class="btn btn-success" lang="en">Update</button>
                    <button lang="en" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addDeptSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <h5>Successfully -' <b>{{department.name}}</b> '  is Created.</h5>
            </div>
        </div>
    </div>
</div>
<div id="editDeptSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <h5>Successfully Department is Updated.</h5>
            </div>
        </div>
    </div>
</div>
<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>