<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Performance Report</span></li>
            </ol>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Performance Reports</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class=" col-lg-4  col-md-4 col-md-4 col-sm-12 col-xs-12">

                <div>

                    <h5 class="text-left" lang="en">Select OR Search Plan Department</h5>
                    <ui-select ng-change="selectDepartment($select.selected.id)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="department in departmentList | filter: $select.search">
                            <span ng-bind-html="department.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
       <!--     <div class=" col-lg-3 col-md-3 col-md-3 col-sm-12 col-xs-12">
                <h5 class="text-left" lang="en">Select Financial Year</h5>
                <div class="schemForms text-center">
                    <select ng-change="selectedFinancialyear(financialYear)" ng-model="financialYear">
                        <option value="">Select Financial Year</option>
                        <option>2010-2011</option>
                        <option>2011-2012</option>
                        <option>2012-2013</option>
                        <option>2013-2014</option>
                        <option>2014-2015</option>
                        <option>2015-2016</option>
                        <option>2016-2017</option>
                        <option>2017-2018</option>
                        <option>2018-2019</option>
                        <option>2019-2020</option>
                        <option>2020-2021</option>
                        <option>2021-2022</option>
                        <option>2022-2023</option>
                        <option>2023-2024</option>
                        <option>2024-2025</option>
                        <option>2025-2026</option>
                        <option>2026-2027</option>
                    </select>
                </div>
            </div>-->
            <!--<div class=" col-lg-4  col-md-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>-->

            <div class="col-lg-3  col-md-3 col-md-3 col-sm-12 col-xs-12">
                <br />
                <button class="btn btn-primary m-top20" ng-click="searchPlans()" lang="en">Search</button>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Plan Id</th>
                            <th lang="en">Plan Name</th>
                            <th lang="en">Status</th>
                            <!--<th lang="en">Charter</th>-->
                            <th lang="en">Start Date</th>
                            <th lang="en">End Date</th>
                            <th lang="en">Estimated Budgeted</th>
                            <th lang="en">Utilized Budget</th>
                            <th lang="en">EAC</th>
                            <th lang="en">ETC</th>
                            <th lang="en">VAC</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="project in projectList">
                            <th lang="en">{{project.planData.planId}}</th>
                            <th lang="en">{{project.planData.name}}</th>
                            <th lang="en">{{project.planData.taskStatus}}</th>
                            <!--<th lang="en">Charter</th>-->
                            <th lang="en">{{project.planData.startDate}}</th>
                            <th lang="en">{{project.planData.endDate}}</th>
                            <th lang="en">{{project.budgetDetails.total}}</th>
                            <th lang="en">{{project.budgetDetails.utilized}}</th>
                            <th lang="en">{{project.budgetDetails.eac}}</th>
                            <th lang="en">{{project.budgetDetails.etc}}</th>
                            <th lang="en">{{project.budgetDetails.vac}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
</div>
</div>

    </div>