<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Comments</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Comments</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectComments')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" id="scroll" data-toggle="modal" data-target="#addComment" lang="en">Add Comment</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="projectComments" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>

                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span>Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Comment Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns"	class="hover table table-bordered table-striped" id="">
                                <thead>
                            <tr>
                                <th lang="en">Visitor Name/Create Person</th>
                                <th lang="en">Comment</th>
                                <th lang="en">Action</th>
                            </tr>
                                </thead>
                                <tbody>

                            <tr ng-repeat="commentDetails in commentList">
                                <td>{{commentDetails.visitorName}}</td>
                                <td>{{commentDetails.comment}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="editComment(commentDetails)"><span class="glyphicon glyphicon-pencil"></span></button>
                                   <span ng-if="commentDetails.history.length>0"><button class="btn btn-primary" ng-click="history(commentDetails)">View History</button></span>

                                </td>
                            </tr>
                                </tbody>
                        </table>
                    </div>
                </div>

                </div>
            </div>
         </div>
     </div>
</div>

<div id="addComment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Comment</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addComment()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                        <textarea rows="5" ng-model="commentDetails.comment" placeholder="Enter Visitor Description" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>

    </div>
</div>
<div id="historyModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Comment History Details</h4>
            </div>
            <div class="projectMain m-top20 m-btm20 ">

                <div class="table-responsive projectInner">
                    <table	class="hover table table-bordered table-striped" >
                        <thead>
                        <tr>
                            <th lang="en">Visitor Name/Update Person</th>
                            <th lang="en">Comment</th>
                            <th lang="en">Updated Time</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="commentDetails in historyDetails.history">
                            <td>{{commentDetails.visitorName}}</td>
                            <td>{{commentDetails.comment}}</td>
                            <td>{{commentDetails.createdTime| date: "dd-MM-yyyy hh:MM:ss"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
    </div>
</div>


</div>
<div id="editCommentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Comment</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editCommentDetails()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="editCommentData.comment" placeholder="Enter Visitor Description" required></textarea>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>-->
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="editProjectCommentSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Comments added successfully</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>