<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project RebaseLine Details</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project RebaseLine</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectPlan')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="projectPlan" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >
                        <tbody>
                        <tr ng-repeat="plan in rebaseLineDetails" class="tableRepeatText" >
                            <td class="nopadding">
                                <table class="table nopadding table-bordered table-striped" >
                                    <thead>
                                        <th lang="en">Plan ID</th>
                                        <th lang="en">Comment</th>
                                        <th lang="en">Created Person</th>
                                        <th lang="en">Date</th>
                                        <!--<th lang="en">Edit Details</th>-->
                                        <th lang="en">Details</th>
                                        <th lang="en" colspan="2">Action</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <!--  <td>{{plan.planId}}</td>-->
                                        <td><a href="#/viewPlanDetails/{{plan.planId}}">{{plan.planId}}</a></td>
                                        <td>{{plan.comment}}</td>
                                        <td>{{plan.employeeName}}</td>
                                        <td>{{plan.createdTime| date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                                       <!-- <td class="width50">
                                            <a href="#/editPlan" class="btn btn-primary"  data-toggle="tooltip" title="Edit Plan Details" ng-if="plan.editDetails" ><span class="glyphicon glyphicon-pencil"></span></a>
                                        </td>
-->
                                        <td class="width50">
                                                    <span data-toggle="tooltip" title="View Project Plan">
                                                        <button class="btn btn-default center-block" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                            <span class="glyphicon glyphicon-eye-open"></span>
                                                        </button>

                                                    </span>
                                              <span data-toggle="tooltip">
                                            <button class="btn btn-primary pull-left m-right5" data-toggle="tooltip" title="View Project Risks and Issues Details" ng-click="viewProjectRebaseLine(plan)">
                                                <span class="glyphicon glyphicon-th-large"></span></button>
                                                  </span>
                                        </td>
                                        <td class="width50" ng-if="plan.approveFiledVisit">
                                            <button type="button" ng-if="plan.approveFiledVisit" data-toggle="tooltip" title="Approve" ng-click="approvalModal(plan)" class="btn btn-success" >
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </td>
                                        <td class="width50" ng-if="plan.approveFiledVisit">
                                            <button type="button" ng-if="plan.approveFiledVisit"  data-toggle="tooltip" title="Reject" ng-click="rejectModal(plan)"class="btn btn-danger" >
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                            <div class="accordian-body collapse" id="demo-{{$index}}">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th lang="en">Workflow Id</th>
                                                        <th lang="en">Workflow Level</th>
                                                        <th lang="en">Level No</th>
                                                        <th lang="en">Status</th>
                                                        <th lang="en">Approval Person</th>
                                                        <th lang="en">Date</th>
                                                        <th lang="en">Comment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="workflow in plan.workflow">
                                                        <td>{{workflow.workflowId}} </td>
                                                        <td>{{workflow.levelId}}  </td>
                                                        <td>{{workflow.levelNo}}  </td>
                                                        <td>{{workflow.approvalStatus}}  </td>
                                                        <td>{{workflow.employeeName}}  </td>
                                                        <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                        <td>{{workflow.comment}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>

            </div>
<!--

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Plan ID</th>
                            <th lang="en">Plan Name</th>
                            <th lang="en">Plan Department</th>
                            &lt;!&ndash;<th>Plan Description</th>&ndash;&gt;
                            <th lang="en">Start Date</th>
                            <th lang="en">End Date</th>
                            <th lang="en">Status</th>
                            <th lang="en"><span>% </span>Complete</th>
                            <th lang="en">Details</th>
                            <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="plan in planList">
                            <td>{{plan.planId}}</td>
                            <td>{{plan.name}}</td>
                            <td>{{plan.department}}</td>
                            <td>{{plan.startDate}}</td>
                            <td>{{plan.endDate}}</td>
                            <td>{{plan.taskStatus}}</td>
                            <td>{{plan.completePercentage}}</td>
                            <td><a href="#/viewPlanDetails/{{plan.planId}}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-th-large"></span>
                            </a></td>
                            <td>
                                <a class="btn btn-primary" ng-show="plan.editRebaseline" href="#/editPlan/{{plan.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
-->

        </div>




    </div>
</div>
<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>
<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Project RebaseLine Approval</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Project RebaseLine Reject</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en" lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="viewProjectRisks" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Project Risks and Issues Details</h4>
            </div>
            <div class="modal-body">
                <div>Project Risks</div>
                <table class="table table-bordered table-striped table-hover">

                    <tr>
                        <th lang="en">Risk Management Plan</th>
                        <th lang="en">Office of Primary Interest</th>
                        <th lang="en">Open Date</th>
                        <th lang="en">Expected Resolution Date</th>
                        <th lang="en">Probability</th>
                        <th lang="en">Impact</th>
                        <th lang="en">Issue Assigned To</th>
                        <th lang="en">Created Person</th>
                      <!--  <td class="width20">:</td>
                        <td colspan="4">{{viewProjectRisks.plan}}</td>-->
                    </tr>
                    <tr ng-repeat="viewProjectRisks in projectRebaseLine.risks">
                        <td>{{viewProjectRisks.plan}}</td>
                        <td>{{viewProjectRisks.primaryInterest}}</td>
                        <td>{{viewProjectRisks.issueOpenDate}}</td>
                        <td>{{viewProjectRisks.issueResolutiondDate}}</td>
                        <td>{{viewProjectRisks.probability}}</td>
                        <td>{{viewProjectRisks.impact}}</td>
                        <td>{{viewProjectRisks.employeeName}}</td>
                        <td>{{viewProjectRisks.createdPerson}}</td>
                    </tr>
           <!--         <tr>
                        <th class="width200" lang="en">Open Date</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.issueOpenDate}}</td>
                        <th class="width200" lang="en">Expected Resolution Date</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.issueResolutiondDate}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Probability</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.probability}}</td>
                        <th class="width200" lang="en">Impact</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.impact}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Issue Assigned To</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.employeeName}}</td>
                        <th class="width200" lang="en">Status</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.status}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Created Person</th>
                        <td class="width20">:</td>
                        <td colspan="4">{{viewProjectRisks.createdPerson}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Created Time</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.createdTime}}</td>
                        <th class="width200" lang="en">Updated Time</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.updatedTime}}</td>
                    </tr>-->
                </table>
                <div>Project Issues</div>
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th lang="en">Issue Description</th>
                        <th lang="en">Open Date</th>
                        <th lang="en">Expected Resolution Date</th>
                        <th lang="en">Probability</th>
                        <th lang="en">Impact</th>
                        <th lang="en">Issue Assigned To</th>
                        <th lang="en">Created Person</th>
                       <!-- <td class="width20">:</td>
                        <td colspan="4">
                            <a ng-click="viewIssueDesc(viewProjectRisks.description)">
                                {{viewProjectRisks.description}}
                            </a>
                        </td>-->
                    </tr>
                    <tr ng-repeat="viewProjectRisks in projectRebaseLine.issues">
                        <td>{{viewProjectRisks.description}}</td>
                        <td>{{viewProjectRisks.issueOpenDate}}</td>
                        <td>{{viewProjectRisks.issueResolutiondDate}}</td>
                        <td>{{viewProjectRisks.probability}}</td>
                        <td>{{viewProjectRisks.impact}}</td>
                        <td>{{viewProjectRisks.employeeName}}</td>
                        <td>{{viewProjectRisks.createdPerson}}</td>
                    </tr>
                   <!-- <tr>
                        <th class="width200" lang="en">Open Date</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.issueOpenDate}}</td>
                        <th class="width200" lang="en">Expected Resolution Date</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.issueResolutiondDate | limitTo: 10}} {{viewProjectRisks.issueResolutiondDate.length<10 ? "":"..."}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Probability</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.probability}}</td>
                        <th class="width200" lang="en">Impact</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.impact}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Status</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.status}}</td>
                        <th class="width200" lang="en">Issue Assigned To</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.employeeName}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Created Person</th>
                        <td class="width20">:</td>
                        <td colspan="4">{{viewProjectRisks.createdPerson}}</td>
                    </tr>
                    <tr>
                        <th class="width200" lang="en">Created Time</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.createdTime}}</td>
                        <th class="width200" lang="en">Updated Time</th>
                        <td class="width20">:</td>
                        <td>{{viewProjectRisks.updatedTime}}</td>
                    </tr>-->
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="editProjectRisk(viewProjectRisks)" lang="en">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
            </div>
        </div>

    </div>
</div>
