<!-- <div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Plan</span></li>
            </ol>
        </div>
    </div>
</div> -->

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Plan</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <div class="addScheme pull-right">
                            <!-- <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button> -->
                            <!-- <a href="http://183.82.98.52:85/PWO/index.php" class="btn btn-success" target="_blank">Projects - MAP View</a> -->
                            <!-- <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectPlan')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button> -->
                            <!--<a href="#/createPlan" class="btn btn-success pull-right"><span lang="en">Create Plan</span></a>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="projectPlan" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Plan ID</th>
                            <th lang="en">Plan Name</th>
                            <th lang="en">Plan Department</th>
                            <!--<th>Plan Description</th>-->
                            <th lang="en">Start Date</th>
                            <th lang="en">End Date</th>
                            <th lang="en">Status</th>
                            <th lang="en"><span>% </span>Complete</th>
                            <th lang="en">Details</th>
                        <!--    <th lang="en">Action</th>-->
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="plan in planList">
                            <td>{{plan.planId}}</td>
                            <td class="text-capitalize">{{plan.name}}</td>
                            <td class="text-capitalize">{{plan.department}}</td>
                            <td>{{plan.startDate}}</td>
                            <td>{{plan.endDate}}</td>
                            <td class="text-capitalize">{{plan.taskStatus}}</td>
                            <td>{{plan.completePercentage}}</td>
                            <td>
                                <a href="#/editPlanWithProjectPlan/{{plan.planId}}" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-edit"></span>
                            </a></td>

                            <!-- <a href="#/viewPlanDetails/{{plan.planId}}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-th-large"></span>
                                </a> -->
                            <!--    <td>
                                <a class="btn btn-primary" ng-show="plan.editRebaseline" href="#/editPlan/{{plan.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>




    </div>
</div>
<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>
