<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Doc Upload</span></li>
            </ol> -->
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Doc Upload</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span>Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#uploadFile')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#addUploadFile" ng-click="addFilePopup()" lang="en">Add Upload File</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="uploadFile" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span>Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Doc Upload Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped" >
                                <thead>
                            <tr>
                                <!--<th>Header Name</th>-->
                                <th lang="en">Name</th>
                                <th lang="en">Attached Files</th>
                                <th lang="en">Document Type</th>
                                <th lang="en">Comment</th>
                                <th lang="en">Date</th>
                                <th lang="en">Edit</th>
                            </tr>
                                </thead>
                                <tbody>
                            <tr ng-repeat="document in documentsList">
                                <!--<td>Name</td>-->
                                <td>{{document.uploadedPersonName}}</td>
                                <td><div ng-repeat="f in document.file">
                                    <a target="_blank" href="{{docUploadURL}}{{f._id}}">{{f.filename}}</a>
                                    <div>{{f.comment}}</div>
                                </div></td>
                                <td>{{document.name}}</td>
                                <td>{{document.comments}}</td>
                                <td>{{document.date}}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="editUploadFile(document)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                                </tbody>
                        </table>

                    </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<div id="UploadFile" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Upload Files</h4>
            </div>
            <form role="form" name="myform" class="" ng-submit="editUploadedFiles()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Header Name:</label>
                            <input placeholder="Header Name" type="text" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Sub Task Name:</label>
                            <input placeholder="Financial Year" type="text" />
                        </div>-->
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>:
                            <textarea rows="5" ng-model="editUploaded.comments" placeholder="Enter Comment" required></textarea>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Document Type</label>:{{editUploaded.documentTypeId}}
                            <select ng-model="editUploaded.name" data-style="btn-primary" required>
                                <option value="">Select Document Type</option>
                                <option ng-repeat="docType in documentTypeList" value="{{docType.name}}" ng-selected="editUploaded.name == docType.name">{{docType.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Date</label>:
                            <input placeholder="Start Date" type="text" ng-model="editUploaded.date" ng-calendar format="%m-%d-%Y" required readonly/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>:
                            <div>
                                <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Upload Files</button>
                            </div>
                            <span class="progress" ng-show="progress >= 0"></span>
                            <!--<div ng-bind="progress + '%'">

                            </div>-->
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en">Visible as a Public</label>
                            <div class="onoffswitch onoffswitch1">
                                <input type="checkbox" ng-model="editUploaded.visible" name="onoffswitch" class="onoffswitch-checkbox" id="visibleUploads1" >
                                <label class="onoffswitch-label" for="visibleUploads1">
                                    <span class="onoffswitch-inner onoffswitch-inner1"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr class="m-tb10" />
                            Already Uploaded Files:
                            <!--<ul>
                                <li ng-repeat="f in oldDocList">
                                    {{f.filename}}</span>
                                </li>
                            </ul>-->
                            <table class="table talbe-bordered table-striped nopadding">
                                <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>File Size</th>
                                    <th>Comment</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="file in oldDocList">
                                    <td>{{file.filename}}</td>
                                    <td>{{file.size}}</td>
                                    <td>
                                        <textarea rows="2" ng-model="file.comment" placeholder="Enter Comment"></textarea>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="deleteFile(file._id, $index)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-repeat="f in docList">
                                    <td>{{f.filename}}</td>
                                    <td>{{f.size}}</td>
                                    <td>
                                        <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="deleteFile(f._id, $index)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div id="addUploadFile" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add File Upload</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="projectUploads()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                        <textarea rows="5" ng-model="upload.comments" placeholder="Enter Comment" required></textarea>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Document Type</label>:
                        <select ng-model="upload.name" data-style="btn-primary" required>
                            <option value="" disabled>Select Document Type</option>
                            <option ng-repeat="docType in documentTypeList" value="{{docType.name}}">{{docType.name}}</option>
                        </select>
                    </div>
                  <!--  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en">Plan Status:</label>
                        <select ng-model="upload.palnStatus" data-style="btn-primary" required>
                            <option value="">Select Plan Status</option>
                            <option>Approved</option>
                            <option>Rejected</option>
                        </select>
                    </div>-->
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Date</label>:
                        <input placeholder="Start Date" type="text" ng-model="upload.date" ng-calendar format="%m-%d-%Y" required readonly/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Files</label>:
                        <div>
                            <button class="btn btn-success" ngf-select="uploadDocuments($files)" multiple ngf-accept="'image/jpeg,image/png,application/pdf'">Attach Files</button>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en">Visible as a Public</label>
                        <div class="onoffswitch onoffswitch1">
                            <input type="checkbox" ng-model="upload.visible" name="onoffswitch" class="onoffswitch-checkbox" id="visibleUploads" >
                            <label class="onoffswitch-label" for="visibleUploads">
                                <span class="onoffswitch-inner onoffswitch-inner1"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="" ><span lang="en">Upload Files:</span>
                             <table class="table" >
                         <!--   <thead>
                            <tr>
                                <th lang="en">File Name</th>
                                <th lang="en">Comment</th>
                            </tr>
                            </thead>
                            <tbody>-->
                          <!--  <tr  ng-repeat="f in docList">
                                <td> {{f.filename}}</td>
                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                </td>
                            </tr>-->
                                 <thead>
                             <tr>
                                 <th>File Name</th>
                                 <th>File Size</th>
                                 <th>Comment</th>
                                 <th>Action</th>
                             </tr>
                             </thead>
                                 <tbody>
                            <tr  ng-repeat="f in docList">
                                <td>   <a target="_blank" href="{{docUploadURL}}{{f._id}}" class="color-text1"><h5>{{f.filename}}</h5></a>
                                </td>
                                <td>{{f.size}}</td>
                                <td>      <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                </td>
                                <td>
                                    <!--<label><input type="checkbox" class="checkBox-style" ng-model="f.visible" >Visible as a public</label>-->



                                    <!--<div class="squaredOne">
                                        <input type="checkbox" value="None" id="squaredOne{{$index}}" ng-model="f.visible" name="check" />
                                        <label for="squaredOne{{$index}}"></label>
                                    </div>-->

                                    <!--<div class="squaredThree">
                                        <input type="checkbox" value="None" id="squaredOne{{$index}}" ng-model="f.visible" name="check" data-toggle="tooltip" title="Visible As a Public"/>
                                        <label for="squaredOne{{$index}}"></label>
                                    </div>-->

                                </td>

                                <td class="width20">
                                    <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile( f._id,$index)"></span>
                                </td>
                            </tr>
                            </tbody>

                         <!--   </tbody>-->

                            <!--  <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">   {{f.filename}}</div>
                              <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                  <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                                  <textarea rows="1" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                              </div>-->

                        </table>
                        </div>
                        <div class="color-red" ng-show="errorMssg">Please Wait.. Uploading the selected file.</div>
                        <!-- <ul>
                             <li ng-repeat="f in docList">
                                 {{f.filename}}
                             </li>
                         </ul>-->
                        <span class="progress" ng-show="progress >= 0"></span>
                        <!--<div ng-bind="progress + '%'">

                        </div>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" ng-disabled="disable" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>

    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>