<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Risks</span></li>
            </ol> -->
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Project Risks</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisksExport')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" data-toggle="modal" ng-click="createRisk()" data-target="#createProjectRisks" lang="en">Create Project Risks</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="projectRisksExport" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="schemForms text-center">
                    <select ng-change="selectareas(projectId)" ng-model="projectId">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="proId in charterList" value="{{proId.projectId}}">{{proId.projectId}} - <b class="pull-right">{{proId.name}}</b></option>
                    </select>
                </div>-->
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <div class="projectMain m-top20 m-btm20 table-responsive ">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en"> Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td class="width160"><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td class="width160"><b lang="en">Financial Year</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td class="width160"><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td class="width160"><b lang="en">Start Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td class="width160"><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <tr>
                                <td class="width160"><b lang="en">Estimation Cost</b></td>
                                <td class="width20">:</td>
                                <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                                <td class="width160"><b lang="en">Utilized Cost</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.utilizedCost}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span>Complete</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td class="width160"><b lang="en">Department</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td class="width160"><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project Risks Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="width150" lang="en">Open Date</th>
                                    <th lang="en">Risk Management Plan</th>
                                    <!--<th  class="width150" lang="en">Category</th>-->
                                    <th class="width150" lang="en">Probability</th>
                                    <th class="width150" lang="en">Status</th>
                                    <th lang="en">Office Of Primary Interest</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="projectRisk in projectRiskList">
                                    <td>{{projectRisk.issueOpenDate}}</td>
                                    <td>
                                        <a ng-click="viewRiskDesc(projectRisk.plan)">
                                            {{projectRisk.plan | limitTo:25}}{{projectRisk.description.length<25 ? "":"..."}}
                                        </a>
                                    </td>
                                    <!--<td>{{projectRisk.category}}</td>-->
                                    <td>{{projectRisk.probability}}</td>
                                    <td>{{projectRisk.status}}</td>
                                    <td>{{projectRisk.primaryInterest}}</td>
                                    <td class="width120">
                                        <button class="btn btn-primary" data-toggle="tooltip" title="Edit Project Risks Details" ng-click="editProjectRisk(projectRisk)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button class="btn btn-primary pull-left m-right5" data-toggle="tooltip" title="View Project Risks Details" ng-click="viewProjectRisk(projectRisk)"><span class="glyphicon glyphicon-th-large"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>


<div id="createProjectRisks" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Project Risks</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="createProjectRisks()">
            <div class="modal-body">
                <div class="schemForms row">
                    <div ng-show="errorMessage" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center">
                        {{errorMessageData}} <hr class="m-tb10" />
                    </div>
                    <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span> Issue Description</label>:
                        <textarea rows="3" placeholder="Enter Description"  ng-model="projectRisk.description" required></textarea>
                    </div>-->
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Risk Management Plan</label>:
                        <textarea rows="3" placeholder="Enter Comment"  ng-model="projectRisk.plan" required></textarea>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Office of Primary Interest</label>:
                        <textarea rows="3" placeholder="Enter Description" ng-model="projectRisk.primaryInterest" required></textarea>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Open Date</label>:
                        <input placeholder="Open Date" type="text" ng-calendar ng-model="projectRisk.issueOpenDate" format="%d-%m-%Y" readonly>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Resolution Date</label>:
                        <input placeholder="Expected Resolution Date" type="text" ng-calendar ng-model="projectRisk.issueResolutiondDate" format="%d-%m-%Y" readonly>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Issue Assigned To</label>:
                        <select ng-model="projectRisk.employeeId" data-style="btn-primary" required>
                            <option value="">Select Issue Assigned To</option>
                            <option ng-repeat="employees in employeeListForRisks" value="{{employees.employeeId}}">{{employees.name}}</option>
                        </select>
                        <!--<input placeholder="Issue Assigned To" ng-model="projectRisk.assignedTo" type="text" required/>-->
                    </div>
                    <!--<div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Category</label>:
                        <select  ng-model="projectRisk.category" required>
                            <option value="">Select Category</option>
                            <option>Issue</option>
                            <option>Risks</option>
                            <option>Problem</option>
                        </select>
                    </div>-->
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Probability</label>:
                        <select  ng-model="projectRisk.probability" required>
                            <option value="">Select Probability</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>


                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Impact</label>:
                        <select  ng-model="projectRisk.impact" required>
                            <option value="">Select Impact</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Status</label>:
                        <select  ng-model="projectRisk.status" required>
                            <option value="">Select Status</option>
                            <option>New</option>
                            <option>Open</option>
                            <option>Resolved</option>
                            <option>Hold</option>
                            <option>Cancelled</option>
                        </select>
                    </div>

                    <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Priority</label>:
                        <select  ng-model="projectRisk.priority" required>
                            <option value="">Select Priority</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>-->


                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="reset" class="btn btn-info" lang="en">Reset</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
            </div>
            </form>
        </div>

    </div>
</div>

<div id="editProjectRisks" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Project Risks</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="editProjectRisksDetails()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Issue Description</label>:
                            <textarea rows="3" placeholder="Enter Description" ng-model="editProjectRisks.description" required></textarea>
                        </div>-->
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Risk Management Plan</label>:
                            <textarea rows="3" placeholder="Enter Comment"  ng-model="editProjectRisks.plan" required></textarea>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Office of Primary Interest</label>:
                            <textarea rows="3" placeholder="Enter Description" ng-model="editProjectRisks.primaryInterest" required></textarea>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Open Date</label>:
                            <input placeholder="Tentative Date" type="text" ng-calendar ng-model="editProjectRisks.issueOpenDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Expected Resolution Date</label>:
                            <input placeholder="Expected Resolution Date" type="text" ng-calendar ng-model="editProjectRisks.issueResolutiondDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Issue Assigned To</label>:
                            <select ng-model="editProjectRisks.employeeId" data-style="btn-primary" required>
                                <option value="">Select Issue Assigned To</option>
                                <option ng-repeat="employees in employeeListForRisks" ng-selected="editProjectRisks.employeeId == employees.employeeId" value="{{employees.employeeId}}">{{employees.name}}</option>
                            </select>
                            <!--<input placeholder="Issue Assigned To" ng-model="editProjectRisks.assignedTo" type="text" required/>-->
                        </div>
                        <!--<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Category</label>:
                            <select ng-model="editProjectRisks.category" required>
                                <option value="">Select Category</option>
                                <option>Issue</option>
                                <option>Risks</option>
                                <option>Problem</option>
                            </select>
                        </div>-->
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Probability</label>:
                            <select  ng-model="editProjectRisks.probability" required>
                                <option value="">Select Probability</option>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>


                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Impact</label>:
                            <select  ng-model="editProjectRisks.impact" required>
                                <option value="">Select Impact</option>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Status</label>:
                            <select ng-model="editProjectRisks.status" required>
                                <option value="">Select Status</option>
                                <option>New</option>
                                <option>Open</option>
                                <option>Resolved</option>
                                <option>Hold</option>
                                <option>Cancelled</option>
                            </select>
                        </div>

                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Priority</label>:
                            <select ng-model="editProjectRisks.priority" required>
                                <option value="">Select Priority</option>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>-->


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="reset" class="btn btn-info" lang="en">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="viewProjectRisks" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Project Risks Details</h4>
            </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped table-hover">
                        <!--<tr>
                            <th class="width200" lang="en">Issue Description</th>
                            <td class="width20">:</td>
                            <td colspan="4">{{viewProjectRisks.description}}</td>
                        </tr>-->
                        <tr>
                            <th class="width200" lang="en">Risk Management Plan</th>
                            <td class="width20">:</td>
                            <td colspan="4">{{viewProjectRisks.plan}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Office of Primary Interest</th>
                            <td class="width20">:</td>
                            <td colspan="4">{{viewProjectRisks.primaryInterest}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Open Date</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.issueOpenDate}}</td>
                            <th class="width200" lang="en">Expected Resolution Date</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.issueResolutiondDate}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Probability</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.probability}}</td>
                            <th class="width200" lang="en">Impact</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.impact}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Issue Assigned To</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.employeeName}}</td>
                            <th class="width200" lang="en">Status</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.status}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Created Person</th>
                            <td class="width20">:</td>
                            <td colspan="4">{{viewProjectRisks.createdPerson}}</td>
                        </tr>
                        <tr>
                            <th class="width200" lang="en">Created Time</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.createdTime}}</td>
                            <th class="width200" lang="en">Updated Time</th>
                            <td class="width20">:</td>
                            <td>{{viewProjectRisks.updatedTime}}</td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="editProjectRisk(viewProjectRisks)" lang="en">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
        </div>

    </div>
</div>

<div id="createProjectRiskSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">successfully Project Risk is created</div>
            </div>
        </div>
    </div>
</div>

<div id="editProjectRiskSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Project Risk is Updated</div>
            </div>
        </div>
    </div>
</div>

<div id="showRiskDesc" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!--<h4 class="nopadding color-green">{{charterName}}</h4>
                <hr class="m-tb10"/>-->
                <b>Description: </b>{{riskDescShow}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>