<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en"> Rebase Line</span></li>
            </ol> -->
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">
        <div class="row schemForms">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Rebase Line</div>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>-->
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <div class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12">
                    <h5 class="text-left" lang="en">Select or Search Projects Details</h5>
                    <ui-select ng-change="selectCharter($select.selected.charterUniqueId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search Projects Details">{{$select.selected.charterUniqueId}}</ui-select-match>
                        <ui-select-choices repeat="charter in charterList | filter: $select.search">
                            <span ng-bind-html="charter.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
            </div>
        </div>
    </div>

</div>