<!-- <div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Scheme</span></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes</span></li>
            </ol>
        </div>
    </div>
</div> -->
<!--<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>-->
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Schemes</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right">
                            <!-- <button class="btn btn-default m-right5">
                                 <span class="glyphicon glyphicon-print"></span> Print
                             </button>-->
                            <!-- <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemesExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button> -->
                            <button ng-if="roleLogin.schemeManagementedit" class="btn btn-success" ng-click="addScheme()" lang="en">Add Scheme</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="schemesExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Name</th>
                            <th lang="en">Category</th>
                            <th lang="en">Department</th>
                            <th lang="en">Status</th>
                            <th ng-if="roleLogin.schemeManagementview" lang="en">View More</th>
                            <th ng-if="roleLogin.schemeManagementedit" lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="schemes in schemeLists">
                            <td class="text-capitalize">{{schemes.name}}</td>
                            <td class="text-capitalize">{{schemes.category}}</td>
                            <td class="text-capitalize">{{schemes.departmentName}}</td>
                            <td class="text-capitalize">{{schemes.status}}</td>
                            <td ng-if="roleLogin.schemeManagementview" class="width150"><a class="btn btn-primary" href="#/viewScheme/{{schemes.id}}">
                                <span class="glyphicon glyphicon-th-large"></span></a></td>
                            <td class="width150" ng-if="roleLogin.schemeManagementedit">
                                <a class="btn btn-primary" href="#/editScheme/{{schemes.id}}"><span lang="en">Edit</span> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>


<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>