<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Stake Holders</span></li>
            </ol>
        </div>
    </div>
</div>


<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class=" legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Stake Holders</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.stakeHoldersedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="stakeHolderClick()" lang="en">Create StakeHolder
                            </button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#stakeHolders')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="stakeHolders" ng-show="hideDetails" class="table table-bordered table-striped"></table>
        <div class="table-responsive">
            <table datatable="ng" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="name" custom-sort order="'name'" sort="sort" lang="en">StakeHolder Name&nbsp;</th>
                        <th class="holderId" custom-sort order="'holderId'" sort="sort" lang="en">Stake Holder Id&nbsp;</th>
                        <th class="department" custom-sort order="'department'" sort="sort" lang="en">Department&nbsp;</th>
                        <th class="designation" custom-sort order="'designation'" sort="sort" lang="en">Designation&nbsp;</th>
                        <th class="email" custom-sort order="'email'" sort="sort" lang="en">Email Id&nbsp;</th>
                        <th class="phone" custom-sort order="'phone'" sort="sort" lang="en">Phone Number&nbsp;</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.stakeHoldersedit" lang="en">Action&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stakeHolderInfo in stakeHolderData track by $index ">
                        <td>{{stakeHolderInfo.name}}</td>
                        <td class="text-capitalize">{{stakeHolderInfo.holderId}}</td>
                        <td>{{stakeHolderInfo.department}}</td>
                        <td>{{stakeHolderInfo.designation}}</td>
                        <td>{{stakeHolderInfo.email}}</td>
                        <td>{{stakeHolderInfo.phone}}</td>
                        <td ng-if="roleLogin.stakeHoldersedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#stakeHolderEdit" ng-click="editStakeHolderPopup(stakeHolderInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <!--<button class="btn btn-danger" data-toggle="modal"-->
                            <!--data-target="#stakeHolderDelete"-->
                            <!--ng-click="deleteStakeHolderPopup(stakeHolderInfo)"><span class="glyphicon glyphicon-trash"></span></button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="craeteStakeHolderModal" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog">
<!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create StakeHolder</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="holderCreationError">{{createHolderTypeError}}</div>
                    <form class="row simple-form" ng-submit="createMasterStakeHolders()">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group" align="left">
                            <label lang="en"  for="name"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Stake Holder Name</span>:</label>
                            <input type="name" class="form-control"
                                   id="name" ng-model="stakeHolder.name"
                                   placeholder="Enter StakeHolder Name"
                                   title="Enter StakeHolder Name"
                                   data-toggle="tooltip" data-placement="top"
                               autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="id"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Stake Holder Id</span>:</label>
                            <input type="text" class="form-control"
                                   id="id" ng-model="stakeHolder.holderId"
                                   placeholder="Enter StakeHolder Id"
                                   title="Enter StakeHolder Id"
                                   data-toggle="tooltip" data-placement="top"
                               autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="department"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>
                            <input type="department" class="form-control"
                                   id="department" ng-model="stakeHolder.department"
                                   placeholder="Enter Department"
                                   title="Enter Department"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="designation"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Designation</span>:</label>
                            <input type="designation" class="form-control"
                                   id="designation" ng-model="stakeHolder.designation"
                                   placeholder="Enter Designation"
                                   title="Enter Designation"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="email"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Email Id</span>:</label>
                            <input type="text" class="form-control"
                                   id="email" ng-model="stakeHolder.email"
                                   placeholder="Enter Email Id"
                                   title="Enter Email Id"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="phone"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Phone Number</span>:</label>
                            <input type="text" class="form-control"
                                   id="phone" ng-model="stakeHolder.phone"
                                   placeholder="Enter Phone Number"
                                   data-toggle="tooltip" data-placement="top"

                                   title="Enter 10 digits mobile number, starts with [7-9]"  maxlength="10"
                                   autocomplete="off" required/>
                        </div>
                        <input id="saveStakeHolder" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="stakeHolderEdit" data-backdrop="static" data-keyboard="false" stakeHolder="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Stake Holder</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="holderUpdationError">{{updateHolderTypeError}}</div>
                    <form class="row simple-form" ng-submit="editStakeHolder()">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="name"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Stake Holder Name</span>:</label>
                            <input type="name" class="form-control"
                                   id="name1"
                                   ng-model="updateStakeHolder.name"
                                   placeholder="Enter Stake Name"
                                   title="Enter Stake Holder"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="id"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Stake Holder Id</span>:</label>
                            <input type="text" class="form-control"
                                   id="id1"
                                   ng-model="updateStakeHolder.holderId"
                                   placeholder="Enter Stake Id"
                                   title="Enter Stake Id"
                                   data-toggle="tooltip" data-placement="top" disabled
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="department"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Department</span>:</label>
                            <input type="department" class="form-control"
                                   id="department1"
                                   ng-model="updateStakeHolder.department"
                                   placeholder="Enter Department"
                                   title="Enter Department"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="designation"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Designation</span>:</label>
                            <input type="designation" class="form-control"
                                   id="designation1"
                                   ng-model="updateStakeHolder.designation"
                                   placeholder="Enter Designation"
                                   title="Enter Designation"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="email"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Email Id</span>:</label>
                            <input type="text" class="form-control"
                                   id="email1"
                                   ng-model="updateStakeHolder.email"
                                   placeholder="Enter Email Id"
                                   title="Enter Emai Id"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12 " align="left">
                            <label lang="en"  for="phone"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Phone Number</span>:</label>
                            <input type="text" class="form-control"
                                   id="phone1"
                                   ng-model="updateStakeHolder.phone"
                                   placeholder="Enter Phone Number"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Enter 10 digits mobile number, starts with [7-9]"  maxlength="10"
                                   autocomplete="off" required/>
                        </div>
                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default" lang="en" value="Cancel" ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" data-backdrop="static" data-keyboard="false"  role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>
<!--**deletion**-->
<!--<div class="modal fade" id="stakeHolderDelete" stakeHolder="dialog">-->
<!--<div class="modal-dialog">-->
<!--&lt;!&ndash; Modal content&ndash;&gt;-->
<!--<div class="modal-content" align="center">-->
<!--<div class="modal-header">-->

<!--</div>-->
<!--<div class="modal-body">-->
<!--<button type="button" class="close"-->
<!--data-dismiss="modal">&times;</button>-->
<!--<div class="row">-->
<!--<div class="col-lg-12">-->
<!--<h4 class="modal-title">Are you sure, you want to delete-->
<!--the stakeHolder: {{stakeHolderName}}?</h4>-->
<!--</div>-->
<!--<div class="col-lg-12">-->
<!--<div>-->
<!--<button class="btn btn-warning"-->
<!--ng-click="deleteStakeHolder()">Yes-->
<!--</button>-->
<!--<button class="btn btn-default"-->
<!--data-dismiss="modal">No-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->


<!--</div>-->

<!--</div>-->
<!--</div>-->

<div id="addSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{stakeHolder.name}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{updateStakeHolder.name}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>