<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Status</span></li>
            </ol> -->
        </div>
    </div>
</div>


<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName">
                            <span class="glyphicon glyphicon-hand-right" lang="en"> </span> Status</div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">Acts</div>-->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.statusedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="statusClick()" lang="en">Create Status
                            </button>

                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#status')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>
<!--****Creation**-->
        <table id="status" ng-show="hideDetails" class="table table-bordered table-striped"></table>
        <div class=" table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th class="field1" custom-sort order="'field1'" sort="sort" lang="en">Status&nbsp;</th>
                        <th class="field2" custom-sort order="'field2'" sort="sort" lang="en">Description&nbsp;</th>

                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.statusedit" lang="en">Action&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="statusInfo in statusData track by $index ">
                        <td class="text-capitalize">{{statusInfo.field1}}</td>
                        <!--<td>{{statusInfo.field1}}</td>-->
                        <td class="text-capitalize">{{statusInfo.field2}}</td>
                        <td ng-if="roleLogin.statusedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#statusEdit" ng-click="editStatusPopup(statusInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createStatusModal" data-backdrop="static" data-keyboard="false" status="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Status</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="statusCreationError">{{createStatusTypeError}}</div>
                    <form class="simple-form" ng-submit="createStatus(status)">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="field1" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label>
                            <input type="field1" class="form-control"
                                   id="field1" ng-model="status.field1"
                                   placeholder="Enter The Status"
                                   title="Enter Status"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12" align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="field2" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Description</span>:</label>
                            <input type="field2" class="form-control"
                                   id="field2" ng-model="status.field2"
                                   placeholder="Enter The Description"
                                   title="Enter Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>


                        <input id="saveStatus" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="statusEdit" data-backdrop="static" data-keyboard="false" status="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Status</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="statusUpdationError">{{updateStatusTypeError}}</div>
                    <form class="simple-form" ng-submit="editStatus()">
                        <!--<div class="form-group" align="left">-->
                            <div class="form-group col-lg-6 col-md-6 col-sm-12  align="left">
                            <label for="field1" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label>
                            <input type="field1" class="form-control"
                                   id="field11"
                                   ng-model="updateStatus.field1"
                                   placeholder="Enter The Status"
                                   title="Enter Status"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12  align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="field2" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Description</span>:</label>
                            <input type="field2" class="form-control"
                                   id="field21"
                                   ng-model="updateStatus.field2"
                                   placeholder="Enter The Description"
                                   title="Enter Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>

                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default" lang="en" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>

<div id="addSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{status.field1}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage text-capitalize">Successfully -' <b>{{updateStatus.field1}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>